## Summary stats of planets
for purpose of prgramatically generating planets

[List of Solar System objects](https://en.wikipedia.org/wiki/List_of_Solar_System_objects_by_size#:~:text=Larger%20than%20400%20km%20%20%20%20Body,%20%202004%20%2013%20more%20rows%20)

In [68]:
import pandas as pd
import numpy as np
import re, os, yaml


pd.options.mode.chained_assignment = None

The dataset is limited to `Larger than 400 km`

In [28]:
df = pd.read_excel('../data/Solar System Data.xlsx',engine='openpyxl',skiprows=1).drop(0)
df['radius'] = df['Radius.1'].apply(float)
df['mass'] = df['Mass.1'].str.replace(',','').apply(float)
df.head()

,Body,Image,Radius,Radius.1,Volume,Volume.1,Mass,Mass.1,Density,Gravity,Gravity.1,Type,# (R/M),Discovery,radius,mass
1,Sun,NaN,695508 ± ?,109.2,"1,409,300,000","1,301,000",1989100000,"333,000",1.409,274.0,27.94,G2V-class star,1,-,109.200,333000.000
2,Jupiter,NaN,69911±6,10.97,"1,431,280","1,321",1898187±88,317.83,1.3262±0.0003,24.79,2.528,gas giant planet; has rings,2,-,10.970,317.830
3,Saturn,NaN,58232±6_x000D_\n(136775 for main rings),9.140,"827,130",764,568317±13,95.162,0.6871±0.0002,10.44,1.065,gas giant planet; has rings,3,-,9.140,95.162
4,Uranus,NaN,25362±7,3.981,"68,340",63.1,86813±4,14.536,1.270±0.001,8.87,0.886,ice giant planet; has rings,4/5,1781,3.981,14.536
5,Neptune,NaN,24622±19,3.865,"62,540",57.7,102413±5,17.147,1.638±0.004,11.15,1.137,ice giant planet; has rings,5/4,1846,3.865,17.147

filtering on planets

In [29]:
def split_str(x):
    regex = re.compile('[^a-zA-Z]')
    y = re.sub("[^a-zA-Z]+", "", x.split('\n')[0])
    y = re.sub("xD$", "", y)
    return y

df['Body'] = df['Body'].apply(split_str)
df

,Body,Image,Radius,Radius.1,Volume,Volume.1,Mass,Mass.1,Density,Gravity,Gravity.1,Type,# (R/M),Discovery,radius,mass
1,Sun,NaN,695508 ± ?,109.2,"1,409,300,000","1,301,000",1989100000,"333,000",1.409,274.0,27.94,G2V-class star,1,-,109.2000,333000.000000
2,Jupiter,NaN,69911±6,10.97,"1,431,280","1,321",1898187±88,317.83,1.3262±0.0003,24.79,2.528,gas giant planet; has rings,2,-,10.9700,317.830000
3,Saturn,NaN,58232±6_x000D_\n(136775 for main rings),9.140,"827,130",764,568317±13,95.162,0.6871±0.0002,10.44,1.065,gas giant planet; has rings,3,-,9.1400,95.162000
4,Uranus,NaN,25362±7,3.981,"68,340",63.1,86813±4,14.536,1.270±0.001,8.87,0.886,ice giant planet; has rings,4/5,1781,3.9810,14.536000
5,Neptune,NaN,24622±19,3.865,"62,540",57.7,102413±5,17.147,1.638±0.004,11.15,1.137,ice giant planet; has rings,5/4,1846,3.8650,17.147000
6,Earth,NaN,6371.0084±0.0001,1,"1,083.21",1,5972.4±0.3,1,5.5136±0.0003,9.80,1,terrestrial planet,6,-,1.0000,1.000000
7,Venus,NaN,6052±1,0.9499,928.43,0.857,4867.5±0.2,0.815,5.243±0.003,8.87,0.905,terrestrial planet,7,-,0.9499,0.815000
8,Mars,NaN,3389.5±0.2,0.5320,163.18,0.151,641.71±0.03,0.107,3.9341±0.0007,3.71,0.379,terrestrial planet,8,-,0.5320,0.107000
9,Ganymede,NaN,2634.1±0.3,0.4135,76.30,0.0704,148.2,0.0248,1.936,1.428,0.146,moon of Jupiter (icy),9/10,1610,0.4135,0.024800
10,Titan,NaN,2574.73±0.09,0.4037,71.50,0.0658,134.5,0.0225,1.8798 ± 0.0044,1.354,0.138,moon of Saturn (icy),10/11,1655,0.4037,0.022500
11,Mercury,NaN,2439.4±0.1,0.3829,60.83,0.0562,330.11±0.02,0.0553,5.4291±0.007,3.70,0.377,terrestrial planet,11/9,-,0.3829,0.055300
12,Callisto,NaN,2410.3±1.5,0.3783,58.65,0.0541,107.6,0.018,1.8344 ± 0.0034,1.23603,0.126,moon of Jupiter (icy),12,1610,0.3783,0.018000
13,Io,NaN,1821.6±0.5,0.2859,25.32,0.0234,89.32,0.015,3.528 ± 0.006,1.797,0.183,moon of Jupiter (terrestrial),13,1610,0.2859,0.015000
14,MoonLuna,NaN,1737.5±0.1,0.2727,21.958,0.0203,73.46,0.0123,3.344±0.005,1.625,0.166,moon of Earth (terrestrial),14,-,0.2727,0.012300
15,Europa,NaN,1560.8±0.5,0.2450,15.93,0.0147,48.00,0.008035,3.013 ± 0.005,1.316,0.134,moon of Jupiter (terrestrial),15,1610,0.2450,0.008035
16,Triton,NaN,1353.4±0.9,0.2124,10.38,0.0096,21.39±0.03,0.003599,2.061,0.782,0.0797,moon of Neptune (icy),16,1846,0.2124,0.003599
17,Pluto,NaN,1188.3±0.8,0.187,7.057,0.00651,13.03±0.03,0.0022,1.854 ± 0.006,0.620,0.063,dwarf planet; plutino; multiple,17/18,1930,0.1870,0.002200
18,Eris,NaN,1163±6,0.1825,6.59,0.0061,16.6±0.2,0.0028,2.52±0.07,0.824,0.083,dwarf planet; SDO; binary,18/17,2003,0.1825,0.002800
19,Titania,NaN,788.4±0.6,0.1237,2.06,0.0019,3.40±0.06,0.00059,1.711 ± 0.005,0.378,0.0385,moon of Uranus,19–20/20,1787,0.1237,0.000590
20,Haumea,NaN,760±40_x000D_\n(≈ 780 best fit),0.12,1.98,0.0018,4.01±0.04,0.00066,2.018,0.401,0.0409,dwarf planet?;_x000D_\nresonant KBO (7:12);_x0...,19–24/19,2004,0.1200,0.000660
21,Rhea,NaN,763.8±1.0,0.1199,1.87,0.0017,2.307,0.00039,1.236 ± 0.005,0.26,0.027,moon of Saturn,20–22/23,1672,0.1199,0.000390
22,Oberon,NaN,761.4±2.6,0.1195,1.85,0.0017,3.08±0.09,0.0005,1.63 ± 0.05,0.347,0.035,moon of Uranus,20–22/21–22,1787,0.1195,0.000500
23,Iapetus,NaN,734.5±2.8,0.1153,1.66,0.0015,1.806,0.00033,1.088 ± 0.013,0.223,0.0227,moon of Saturn,22–24/24–25,1671,0.1153,0.000330
24,Makemake,NaN,715+19_x000D_\n−11,0.112,1.53,0.0014,≈ 3.1,0.00053,1.95,0.57,0.0581,dwarf planet?; cubewano,22–24/21–22,2005,0.1120,0.000530
25,Gonggong,NaN,615±25,0.0983,1.03,0.0009,1.75±0.07,0.00029,1.72 ± 0.16,0.3,0.0306,dwarf planet?; resonant SDO (3:10),25–27/24–25,2007,0.0983,0.000290
26,Charon,NaN,606±0.5,0.0951,0.932,0.0009,1.586±0.015,0.00025,1.702 ± 0.021,0.288,0.0294,moon of Pluto,25–26/?,1978,0.0951,0.000250
27,Umbriel,NaN,584.7±2.8,0.0918,0.837,0.0008,1.28±0.03,0.00020,1.39 ± 0.16,0.234,0.024,moon of Uranus,26–27/?,1851,0.0918,0.000200
28,Ariel,NaN,578.9±0.6,0.0909,0.813,0.0007,1.25±0.02,0.000226,1.66 ± 0.15,0.269,0.027,moon of Uranus,28/?,1851,0.0909,0.000226
29,Dione,NaN,561.4±0.4,0.0881,0.741,0.0007,1.095,0.000183,1.478 ± 0.003,0.232,0.0237,moon of Saturn,29–30/?,1684,0.0881,0.000183
30,Quaoar,NaN,560.5±0.6,0.0879,0.737,0.0007,1.4±0.2,0.0002,1.99 ± 0.46,0.3,0.0306,cubewano; binary,29–30/?,2002,0.0879,0.000200
31,Tethys,NaN,531.1±0.6,0.0834,0.624,0.0006,0.617,0.000103,0.984 ± 0.003,0.145,0.015,moon of Saturn,31–32/?,1684,0.0834,0.000103
32,Sedna,NaN,498±40,0.0785,0.516,0.0005,?,NaN,NaN,NaN,NaN,sednoid; detached object,?,2003,0.0785,NaN
33,Ceres,NaN,469.7±0.1,0.0742,0.433,0.0004,0.938,0.000157,2.17,0.28,0.029,dwarf planet; belt asteroid,?,1801,0.0742,0.000157
34,Orcus,NaN,458±13,0.0719,0.404,0.0004,0.61±0.04,0.0001,1.53 ± 0.14,0.2,0.0204,plutino; binary,?,2004,0.0719,0.000100
35,Salacia,NaN,423±11,0.0664,0.3729,0.0003,0.492±0.007,0.000082,1.5 ± 0.12,0.165,0.0168,cubewano; binary,?,2004,0.0664,0.000082

In [30]:
def get_type(x):
    if 'gas giant' in x:
        return "gas"
    if "ice giant" in x:
        return "ice"
    if "dwarf" in x:
        return "dwarf"
    if "terrestrial" in x:
        return "terrestrial"
    if "moon" in x:
        return "moon"
    else:
        return "no type"

In [33]:
df['Type.lower'] = df['Type'].apply(lambda x: str(x).lower())
df['type'] = df['Type.lower'].apply(get_type)
df['is_planet'] = df['Type.lower'].str.contains('planet')
df['is_moon'] = df['Type.lower'].str.contains('moon')
pla = df.loc[df['is_planet']]
pla[['Body','Type','type']]

        Body                                               Type         type
2    Jupiter                        gas giant planet; has rings          gas
3     Saturn                        gas giant planet; has rings          gas
4     Uranus                        ice giant planet; has rings          ice
5    Neptune                        ice giant planet; has rings          ice
6      Earth                                 terrestrial planet  terrestrial
7      Venus                                 terrestrial planet  terrestrial
8       Mars                                 terrestrial planet  terrestrial
11   Mercury                                 terrestrial planet  terrestrial
17     Pluto                    dwarf planet; plutino; multiple        dwarf
18      Eris                          dwarf planet; SDO; binary        dwarf
20    Haumea  dwarf planet?;_x000D_\nresonant KBO (7:12);_x0...        dwarf
24  Makemake                            dwarf planet?; cubewano        dwarf
25  Gonggong                 dwarf planet?; resonant SDO (3:10)        dwarf
33     Ceres                        dwarf planet; belt asteroid        dwarf

In [34]:
ptypes = pd.DataFrame(pla.groupby('type').count()['Body'])
ptypes.columns = ['count']
ptypes['prob'] = ptypes['count']/14
ptypes['mass_mean'] = pd.Series(pla.groupby('type').mean()['mass'])
ptypes['mass_std'] = pd.Series(pla.groupby('type').std()['mass'])
ptypes['radius_mean'] = pd.Series(pla.groupby('type').mean()['radius'])
ptypes['radius_std'] = pd.Series(pla.groupby('type').std()['radius'])
ptypes

             count      prob   mass_mean    mass_std  radius_mean  radius_std
type
dwarf            6  0.428571    0.001106    0.001110       0.1290    0.045917
gas              2  0.142857  206.496000  157.450053      10.0550    1.294005
ice              2  0.142857   15.841500    1.846256       3.9230    0.082024
terrestrial      4  0.285714    0.494325    0.483495       0.7162    0.305601

In [35]:
ptypes.T.to_dict()

{'dwarf': {'count': 6.0,
  'prob': 0.42857142857142855,
  'mass_mean': 0.0011061666666666665,
  'mass_std': 0.0011102811205576121,
  'radius_mean': 0.129,
  'radius_std': 0.04591683787021923},
 'gas': {'count': 2.0,
  'prob': 0.14285714285714285,
  'mass_mean': 206.49599999999998,
  'mass_std': 157.45005275324613,
  'radius_mean': 10.055,
  'radius_std': 1.2940054095713813},
 'ice': {'count': 2.0,
  'prob': 0.14285714285714285,
  'mass_mean': 15.8415,
  'mass_std': 1.846255805678074,
  'radius_mean': 3.923,
  'radius_std': 0.08202438661763928},
 'terrestrial': {'count': 4.0,
  'prob': 0.2857142857142857,
  'mass_mean': 0.494325,
  'mass_std': 0.4834953524423305,
  'radius_mean': 0.7162,
  'radius_std': 0.3056014070648236}}

In [59]:
def get_moon_type(x):
    if "icy" in x:
        return "ice"
    if "terrestrial" in x:
        return "terrestrial"
    else:
        return "rocky"

mon = df.loc[df['is_moon']]
mon['type'] = mon['Type'].apply(get_moon_type)
mon[['Body','Type','type','radius']]

        Body                           Type         type  radius
9   Ganymede          moon of Jupiter (icy)          ice  0.4135
10     Titan           moon of Saturn (icy)          ice  0.4037
12  Callisto          moon of Jupiter (icy)          ice  0.3783
13        Io  moon of Jupiter (terrestrial)  terrestrial  0.2859
14  MoonLuna    moon of Earth (terrestrial)  terrestrial  0.2727
15    Europa  moon of Jupiter (terrestrial)  terrestrial  0.2450
16    Triton          moon of Neptune (icy)          ice  0.2124
19   Titania                 moon of Uranus        rocky  0.1237
21      Rhea                 moon of Saturn        rocky  0.1199
22    Oberon                 moon of Uranus        rocky  0.1195
23   Iapetus                 moon of Saturn        rocky  0.1153
26    Charon                  moon of Pluto        rocky  0.0951
27   Umbriel                 moon of Uranus        rocky  0.0918
28     Ariel                 moon of Uranus        rocky  0.0909
29     Dione                 moon of Saturn        rocky  0.0881
31    Tethys                 moon of Saturn        rocky  0.0834

Adding the planet as a column so we can look up that planets radius.

In [39]:
def get_orbiting(x):
    words = x.split(" ")
    planames = pla['Body'].tolist()
    for word in words: 
        if word in planames:
            return word
    return "not orbiting a planet"

In [46]:
pla.loc[pla['Body']=="Jupiter",'radius'].values[0]

10.97

In [60]:
mon['moon_of'] = mon['Type'].apply(get_orbiting)
mon['rad_of_orbiter'] = mon['moon_of'].apply(lambda x: pla.loc[pla['Body']==x,'radius'].values[0])
mon['relative_size'] = mon['radius'] / mon['rad_of_orbiter']
mon[['Body','Type','moon_of','radius','rad_of_orbiter','relative_size']]

,Body,Type,moon_of,radius,rad_of_orbiter,relative_size
9,Ganymede,moon of Jupiter (icy),Jupiter,0.4135,10.970,0.037694
10,Titan,moon of Saturn (icy),Saturn,0.4037,9.140,0.044168
12,Callisto,moon of Jupiter (icy),Jupiter,0.3783,10.970,0.034485
13,Io,moon of Jupiter (terrestrial),Jupiter,0.2859,10.970,0.026062
14,MoonLuna,moon of Earth (terrestrial),Earth,0.2727,1.000,0.272700
15,Europa,moon of Jupiter (terrestrial),Jupiter,0.2450,10.970,0.022334
16,Triton,moon of Neptune (icy),Neptune,0.2124,3.865,0.054955
19,Titania,moon of Uranus,Uranus,0.1237,3.981,0.031073
21,Rhea,moon of Saturn,Saturn,0.1199,9.140,0.013118
22,Oberon,moon of Uranus,Uranus,0.1195,3.981,0.030018
23,Iapetus,moon of Saturn,Saturn,0.1153,9.140,0.012615
26,Charon,moon of Pluto,Pluto,0.0951,0.187,0.508556
27,Umbriel,moon of Uranus,Uranus,0.0918,3.981,0.023060
28,Ariel,moon of Uranus,Uranus,0.0909,3.981,0.022833
29,Dione,moon of Saturn,Saturn,0.0881,9.140,0.009639
31,Tethys,moon of Saturn,Saturn,0.0834,9.140,0.009125

Changing here the radius to be respective of the _relative radius_, or how big the moon is relative to the planet that it orbits. This will hopefully solve the issue of having moons that are larger than the planet that it orbits.

In [61]:
mtypes = pd.DataFrame(mon.groupby('type').count()['Body'])
mtypes.columns = ['count']
mtypes['prob'] = mtypes['count']/len(mon)
mtypes['mass_mean'] = pd.Series(mon.groupby('type').mean()['mass'])
mtypes['mass_std'] = pd.Series(mon.groupby('type').std()['mass'])
mtypes['radius_mean'] = pd.Series(mon.groupby('type').mean()['relative_size'])
mtypes['radius_std'] = pd.Series(mon.groupby('type').std()['relative_size'])
mtypes

             count    prob  mass_mean  mass_std  radius_mean  radius_std
type
ice              4  0.2500   0.017225  0.009513     0.042825    0.009034
rocky            9  0.5625   0.000308  0.000159     0.073337    0.163421
terrestrial      3  0.1875   0.011778  0.003512     0.107032    0.143485

In [71]:
moons_out = {'moon_types':mtypes.T.to_dict()}

In [66]:
os.listdir('planets')

['moon.yaml', 'planet.yaml', 'star.yaml']

In [72]:
yaml.safe_dump(moons_out,open('planets/moon.yaml', "w"))