# Creating The base system and planets

In [1]:
import numpy as np
import pandas as pd
from numpy import random as r
import sys

import ssl, asyncio

ssl._create_default_https_context = ssl._create_unverified_context
asyncio.set_event_loop_policy(asyncio.WindowsSelectorEventLoopPolicy())
import nest_asyncio

# this is required for running in a Jupyter Notebook.
nest_asyncio.apply()

In [2]:
# mapping to the modules that make the app
sys.path.insert(0, "../app")
sys.path.insert(0, "../")
from app import models

executing local windows deployment

In [3]:
c = models.CosmosdbClient()

importing the universe module from the actual game.

In [4]:
from app.creators import universe

Data from the userform when creating a new game. You can get it from the `request` object in `genesis.build_solar_system`

In [5]:
form = {
    "accountid": "3025284578519",
    "aggression": 0.5,
    "conformity": 0.5,
    "constitution": 0.5,
    "consumes": "organics",
    "effuses": "organic waste,plastics",
    "label": "form",
    "literacy": 0.5,
    "minerals": 0.5,
    "name": "worldgenform",
    "num_moons": 10,
    "num_planets": 4,
    "objid": 300882390249,
    "organics": 0.5,
    "owner": "William Harding",
    "starting_pop": 7,
    "userguid": "8d5b667f-b225-4641-b499-73b77558ff86",
    "username": "William Harding"
}

userguid = form["userguid"]

first you have  to clean everything out but the `account`

In [6]:
query = f"g.V().has('userguid','{userguid}').not(has('label','account')).count()"
c.run_query(query)
account_objects = c.res[0]
account_objects

37

If the account is not empty, we'll need to clean it out. Currently there is only one system per user, and all objects for that user are tagged with the userguid.

In [7]:
if account_objects > 0:
    print("Deleting account data")
    query = f"g.V().has('userguid','{userguid}').not(has('label','account')).drop()"
    c.run_query(query)
else:
    print("No need to delete account data")

Deleting account data

Build the solar system. Full test.

In [8]:
universe_data = universe.build_homeSystem(form)
pd.DataFrame(universe_data['nodes'])

,objid,name,label,class,isHomeSystem,glat,glon,gelat,radius,orbitsId,...,effuses,literacy,minerals,num_moons,num_planets,organics,owner,starting_pop,userguid,username
0,6538506741864,Enteldi,system,ordered,True,29.88,4.411,0.858,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5492182221706,Jarlenroy,star,G,NaN,NaN,NaN,NaN,106.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6902681260625,Pestnanty,moon,ice,NaN,NaN,NaN,NaN,0.192903,5950134792315,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5419510900706,Kuria,moon,ice,NaN,NaN,NaN,NaN,0.033587,7753027664036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7210915531994,Hu,moon,rocky,NaN,NaN,NaN,NaN,0.669926,5950134792315,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0285076665148,Jisiagonneu,moon,ice,NaN,NaN,NaN,NaN,0.018165,7753027664036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6624785191509,Fieldpat,moon,ice,NaN,NaN,NaN,NaN,0.021481,3730812020786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8971873331305,Sia,moon,ice,NaN,NaN,NaN,NaN,0.060511,7115426257116,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1269213474515,Mintsu,moon,rocky,NaN,NaN,NaN,NaN,0.180216,7115426257116,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0099627595345,Ratgaonchaflo,moon,rocky,NaN,NaN,NaN,NaN,0.029832,3730812020786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,7609503649932,Polral,moon,rocky,NaN,NaN,NaN,NaN,0.050051,3730812020786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,9334031000150,Po,moon,ice,NaN,NaN,NaN,NaN,0.034862,7753027664036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5950134792315,Kotji,planet,ice,NaN,NaN,NaN,NaN,3.905000,5492182221706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,3730812020786,Tonyosel,planet,terrestrial,NaN,NaN,NaN,NaN,0.386000,5492182221706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,7115426257116,Largrantil,planet,terrestrial,NaN,NaN,NaN,NaN,1.276000,5492182221706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7753027664036,Salwe,planet,terrestrial,NaN,NaN,NaN,NaN,0.700000,5492182221706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,0517503545190,organics,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,5645577620768,common minerals,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,3643910889297,rare minerals,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,0831874616261,water,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,300882390249,worldgenform,form,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"organic waste,plastics",0.5,0.5,10.0,4.0,0.5,William Harding,7.0,8d5b667f-b225-4641-b499-73b77558ff86,William Harding

In [9]:
pd.DataFrame(universe_data['edges'])

            node1          node2        label  orbit_distance
0   5950134792315  5492182221706       orbits         20.7630
1   3730812020786  5492182221706       orbits          1.3740
2   7115426257116  5492182221706       orbits          1.0620
3   7753027664036  5492182221706       orbits          0.6580
4   6902681260625  5950134792315       orbits          0.0001
5   5419510900706  7753027664036       orbits          0.0001
6   7210915531994  5950134792315       orbits          0.0020
7   0285076665148  7753027664036       orbits          0.1060
8   6624785191509  3730812020786       orbits          0.0001
9   8971873331305  7115426257116       orbits          0.0001
10  1269213474515  7115426257116       orbits          0.0001
11  0099627595345  3730812020786       orbits          0.0810
12  7609503649932  3730812020786       orbits          0.1510
13  9334031000150  7753027664036       orbits          0.0001
14  5950134792315  6538506741864         isIn             NaN
15  3730812020786  6538506741864         isIn             NaN
16  7115426257116  6538506741864         isIn             NaN
17  7753027664036  6538506741864         isIn             NaN
18  6902681260625  6538506741864         isIn             NaN
19  5419510900706  6538506741864         isIn             NaN
20  7210915531994  6538506741864         isIn             NaN
21  0285076665148  6538506741864         isIn             NaN
22  6624785191509  6538506741864         isIn             NaN
23  8971873331305  6538506741864         isIn             NaN
24  1269213474515  6538506741864         isIn             NaN
25  0099627595345  6538506741864         isIn             NaN
26  7609503649932  6538506741864         isIn             NaN
27  9334031000150  6538506741864         isIn             NaN
28  5492182221706  6538506741864         isIn             NaN
29  7753027664036  0517503545190          has             NaN
30  7753027664036  5645577620768          has             NaN
31  7753027664036  3643910889297          has             NaN
32  7753027664036  0831874616261          has             NaN
33  6538506741864   300882390249  createdFrom             NaN
34  3025284578519   300882390249    submitted             NaN

In [10]:
c.upload_data(userguid, universe_data)

You can see it in the game. But this is only the star systems and planets. There are no people, and no biomes on the homeworld.

# Creating the planet, factions and people.

In [11]:
from app.creators import homeworld

This is the planet that was just created in the above step:

In [12]:
queryhomeworld = f"g.V().haslabel('planet').has('isHomeworld').has('userguid','{userguid}').valueMap()"
c.run_query(queryhomeworld)
homeplanet = c.clean_node(c.res[0])
homeplanet

{'isHomeworld': 'true',
 'name': 'Salwe',
 'class': 'terrestrial',
 'objid': '7753027664036',
 'radius': 0.7,
 'mass': 0.848,
 'orbitsDistance': 0.658,
 'orbitsId': '5492182221706',
 'orbitsName': 'Jarlenroy',
 'isSupportsLife': 'true',
 'isPopulated': 'true',
 'userguid': '8d5b667f-b225-4641-b499-73b77558ff86',
 'objtype': 'planet',
 'id': '7753027664036'}

In [13]:
graph_data = homeworld.build_people(form)

c:\Users\willi\miniconda3\envs\exoplanets\lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
c:\Users\willi\miniconda3\envs\exoplanets\lib\site-packages\sklearn\cluster\_kmeans.py:1440: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [15]:
pd.DataFrame(graph_data['nodes'])

,name,objid,label,consumes,effuses,conformity,aggression,literacy,constitution,health,isIn,industry,wealth,factionLoyalty,isIdle,lat,long
0,Sta,9470626489586,species,organics,"organic waste,plastics",0.500,0.500,0.500,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Hisoncas Jaaky,0839514646590,pop,NaN,NaN,0.562,0.482,0.513,0.716,0.7,7974405735634,0.5990,0.55600,0.682,True,NaN,NaN
2,Brefenrenmon Dad,8651570399086,pop,NaN,NaN,0.371,0.495,0.409,0.560,0.7,3412911802911,0.5275,0.46825,0.616,True,NaN,NaN
3,Hisoncas Marlonmin,3841367073686,pop,NaN,NaN,0.712,0.462,0.489,0.563,0.7,7974405735634,0.5125,0.50075,0.745,True,NaN,NaN
4,Brefenrenmon Bin,3651143407087,pop,NaN,NaN,0.466,0.451,0.626,0.552,0.7,3412911802911,0.5015,0.56375,0.443,True,NaN,NaN
5,Brefenrenmon Ju,6079186141059,pop,NaN,NaN,0.403,0.614,0.609,0.549,0.7,3412911802911,0.5815,0.59525,0.446,True,NaN,NaN
6,Brefenrenmon Nohefu,4500217613653,pop,NaN,NaN,0.258,0.441,0.657,0.496,0.7,3412911802911,0.4685,0.56275,0.198,True,NaN,NaN
7,Hisoncas Lolerbasul,6168057331828,pop,NaN,NaN,0.682,0.537,0.523,0.512,0.7,7974405735634,0.5245,0.52375,0.731,True,NaN,NaN
8,Hisoncas,7974405735634,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.146,0.0
9,Brefenrenmon,3412911802911,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.146,0.0

In [17]:
pd.DataFrame(graph_data['edges'])

            node1          node2 label
0   0839514646590  7974405735634  isIn
1   3841367073686  7974405735634  isIn
2   6168057331828  7974405735634  isIn
3   8651570399086  3412911802911  isIn
4   3651143407087  3412911802911  isIn
5   6079186141059  3412911802911  isIn
6   4500217613653  3412911802911  isIn
7   0839514646590  9470626489586  isOf
8   8651570399086  9470626489586  isOf
9   3841367073686  9470626489586  isOf
10  3651143407087  9470626489586  isOf
11  6079186141059  9470626489586  isOf
12  4500217613653  9470626489586  isOf
13  6168057331828  9470626489586  isOf

In [18]:
biome = homeworld.build_biome(homeplanet)
biome

In [19]:
graph_data['edges'] = graph_data['edges'] + homeworld.attach_people_to_world(graph_data['nodes'],homeplanet)
graph_data['nodes'] = graph_data['nodes'] + [biome.get_data()]
graph_data['edges'] = graph_data['edges'] + [biome.get_biome_edge()]

# Validating that data

In [22]:
pd.DataFrame(graph_data['nodes'])

,name,objid,label,consumes,effuses,conformity,aggression,literacy,constitution,health,isIn,industry,wealth,factionLoyalty,isIdle,lat,long,grid
0,Sta,9470626489586,species,organics,"organic waste,plastics",0.500,0.500,0.500,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Hisoncas Jaaky,0839514646590,pop,NaN,NaN,0.562,0.482,0.513,0.716,0.7,7974405735634,0.5990,0.55600,0.682,True,NaN,NaN,NaN
2,Brefenrenmon Dad,8651570399086,pop,NaN,NaN,0.371,0.495,0.409,0.560,0.7,3412911802911,0.5275,0.46825,0.616,True,NaN,NaN,NaN
3,Hisoncas Marlonmin,3841367073686,pop,NaN,NaN,0.712,0.462,0.489,0.563,0.7,7974405735634,0.5125,0.50075,0.745,True,NaN,NaN,NaN
4,Brefenrenmon Bin,3651143407087,pop,NaN,NaN,0.466,0.451,0.626,0.552,0.7,3412911802911,0.5015,0.56375,0.443,True,NaN,NaN,NaN
5,Brefenrenmon Ju,6079186141059,pop,NaN,NaN,0.403,0.614,0.609,0.549,0.7,3412911802911,0.5815,0.59525,0.446,True,NaN,NaN,NaN
6,Brefenrenmon Nohefu,4500217613653,pop,NaN,NaN,0.258,0.441,0.657,0.496,0.7,3412911802911,0.4685,0.56275,0.198,True,NaN,NaN,NaN
7,Hisoncas Lolerbasul,6168057331828,pop,NaN,NaN,0.682,0.537,0.523,0.512,0.7,7974405735634,0.5245,0.52375,0.731,True,NaN,NaN,NaN
8,Hisoncas,7974405735634,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.146,0.0,NaN
9,Brefenrenmon,3412911802911,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.146,0.0,NaN
10,unnamed,3145314485059,biome,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[12.0, 10.0, 11.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0...."

In [17]:
c.upload_data(userguid, graph_data)