# Creating The base system and planets

In [1]:
import numpy as np
import pandas as pd
from numpy import random as r
import sys

import ssl, asyncio

ssl._create_default_https_context = ssl._create_unverified_context
asyncio.set_event_loop_policy(asyncio.WindowsSelectorEventLoopPolicy())
import nest_asyncio

# this is required for running in a Jupyter Notebook.
nest_asyncio.apply()

In [2]:
# mapping to the modules that make the app
sys.path.insert(0, "../app")
sys.path.insert(0, "../")
from app import models

executing local windows deployment

In [3]:
c = models.CosmosdbClient()

importing the universe module from the actual game.

In [4]:
from app.creators import universe

Data from the userform when creating a new game. You can get it from the `request` object in `genesis.build_solar_system`

In [5]:
form = {
    "label": "form",
    "name": "worldgenform",
    "objid": "7421942697433",
    "owner": "BillmanLocal2",
    "username": "BillmanLocal2",
    "accountid": "1635060199044",
    "conformity": "0.5",
    "literacy": "0.5",
    "aggression": "0.5",
    "constitution": "0.5",
    "num_planets": "3",
    "num_moons": "15",
    "consumes":"organics",
    "effuses": "organic waste, plastics",
    "starting_pop": "7",
}

username = form["owner"]

first you have  to clean everything out but the `account`

In [6]:
query = f"g.V().has('username','{username}').not(has('label','account')).drop()"
c.run_query(query)

Build the universe. Full test.

In [7]:
universe_data = universe.build_homeSystem(form, username)
pd.DataFrame(universe_data['nodes'])

,objid,name,label,class,isHomeSystem,glat,glon,gelat,radius,orbitsId,...,accountid,conformity,literacy,aggression,constitution,num_planets,num_moons,consumes,effuses,starting_pop
0,2508009092719,Napinlingre,system,ordered,True,43.789,36.736,-0.137,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4767715660845,Teinrai,star,G,NaN,NaN,NaN,NaN,106.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0386155752443,Garfirich,moon,rocky,NaN,NaN,NaN,NaN,0.848460,8414539791727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8552877265850,Heimmoel,moon,rocky,NaN,NaN,NaN,NaN,0.005863,4263432866677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6740273582234,Belmauwoodcas,moon,rocky,NaN,NaN,NaN,NaN,0.232580,3053619110511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,9134369747735,Cam,moon,terrestrial,NaN,NaN,NaN,NaN,0.058965,4263432866677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0523834391139,Rechaneu,moon,rocky,NaN,NaN,NaN,NaN,0.019507,4263432866677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,9497860680596,Laiou,moon,rocky,NaN,NaN,NaN,NaN,0.180851,3053619110511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1560427772208,Milrenenca,moon,ice,NaN,NaN,NaN,NaN,0.008462,4263432866677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1808210028539,Arya,moon,rocky,NaN,NaN,NaN,NaN,0.113450,3053619110511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,8413915029122,Rang,moon,terrestrial,NaN,NaN,NaN,NaN,0.006511,8414539791727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,8534115322968,Valkodypar,moon,terrestrial,NaN,NaN,NaN,NaN,0.117939,3053619110511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,9680750598911,Newce,moon,ice,NaN,NaN,NaN,NaN,0.029192,3053619110511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4865596684733,Dy,moon,terrestrial,NaN,NaN,NaN,NaN,0.001795,3053619110511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1052860171212,Panyby,moon,ice,NaN,NaN,NaN,NaN,0.028424,3053619110511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,4640507419582,Draqui,moon,terrestrial,NaN,NaN,NaN,NaN,0.217414,8414539791727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1585411233322,Jague,moon,ice,NaN,NaN,NaN,NaN,0.006478,4263432866677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,4263432866677,Helbur,planet,dwarf,NaN,NaN,NaN,NaN,0.150000,4767715660845,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8414539791727,Walcon,planet,gas,NaN,NaN,NaN,NaN,4.000000,4767715660845,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3053619110511,Tadt,planet,terrestrial,NaN,NaN,NaN,NaN,0.691000,4767715660845,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,4502111770072,Organic,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,6644641268946,Common Minerals,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,8451806098556,Rare Minerals,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,7641498523863,Water,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,7421942697433,worldgenform,form,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1635060199044,0.5,0.5,0.5,0.5,3,15,organics,"organic waste, plastics",7

In [8]:
pd.DataFrame(universe_data['edges'])

            node1          node2        label  orbit_distance
0   4263432866677  4767715660845       orbits         40.6320
1   8414539791727  4767715660845       orbits          7.2500
2   3053619110511  4767715660845       orbits          0.6700
3   0386155752443  8414539791727       orbits          0.0001
4   8552877265850  4263432866677       orbits          0.0001
5   6740273582234  3053619110511       orbits          0.2460
6   9134369747735  4263432866677       orbits          0.0001
7   0523834391139  4263432866677       orbits          0.1950
8   9497860680596  3053619110511       orbits          0.0001
9   1560427772208  4263432866677       orbits          0.0070
10  1808210028539  3053619110511       orbits          0.0001
11  8413915029122  8414539791727       orbits          0.0001
12  8534115322968  3053619110511       orbits          0.0840
13  9680750598911  3053619110511       orbits          0.1430
14  4865596684733  3053619110511       orbits          0.0001
15  1052860171212  3053619110511       orbits          0.1250
16  4640507419582  8414539791727       orbits          0.0590
17  1585411233322  4263432866677       orbits          0.0001
18  4263432866677  2508009092719         isIn             NaN
19  8414539791727  2508009092719         isIn             NaN
20  3053619110511  2508009092719         isIn             NaN
21  0386155752443  2508009092719         isIn             NaN
22  8552877265850  2508009092719         isIn             NaN
23  6740273582234  2508009092719         isIn             NaN
24  9134369747735  2508009092719         isIn             NaN
25  0523834391139  2508009092719         isIn             NaN
26  9497860680596  2508009092719         isIn             NaN
27  1560427772208  2508009092719         isIn             NaN
28  1808210028539  2508009092719         isIn             NaN
29  8413915029122  2508009092719         isIn             NaN
30  8534115322968  2508009092719         isIn             NaN
31  9680750598911  2508009092719         isIn             NaN
32  4865596684733  2508009092719         isIn             NaN
33  1052860171212  2508009092719         isIn             NaN
34  4640507419582  2508009092719         isIn             NaN
35  1585411233322  2508009092719         isIn             NaN
36  4767715660845  2508009092719         isIn             NaN
37  3053619110511  4502111770072          has             NaN
38  3053619110511  6644641268946          has             NaN
39  3053619110511  8451806098556          has             NaN
40  3053619110511  7641498523863          has             NaN
41  2508009092719  7421942697433  createdFrom             NaN
42  1635060199044  7421942697433    submitted             NaN

In [9]:
c.upload_data(username, universe_data)

You can see it in the game. But this is only the star systems and planets. There are no people, and no biomes on the homeworld.

# Creating the planet, factions and people.

In [10]:
from app.creators import homeworld

This is the planet that was just created in the above step:

In [11]:
queryhomeworld = f"g.V().haslabel('planet').has('isHomeworld').has('username','{username}').valueMap()"
c.run_query(queryhomeworld)
homeplanet = c.clean_node(c.res[0])
homeplanet

{'isHomeworld': 'true',
 'name': 'Tadt',
 'class': 'terrestrial',
 'objid': '3053619110511',
 'radius': 0.691,
 'mass': 0.329,
 'orbitsDistance': 0.67,
 'orbitsId': '4767715660845',
 'orbitsName': 'Teinrai',
 'isSupportsLife': 'true',
 'isPopulated': 'true',
 'username': 'BillmanLocal2',
 'objtype': 'planet',
 'id': '3053619110511'}

In [12]:
graph_data = homeworld.build_people(form)

c:\Users\william.harding\anaconda3\envs\exoplanets\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
c:\Users\william.harding\anaconda3\envs\exoplanets\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [13]:
pd.DataFrame(graph_data['nodes'])

,name,objid,label,consumes,effuses,conformity,aggression,literacy,constitution,health,isIn,industry,wealth,factionLoyalty,isIdle,lat,long
0,Narbiakiy,5717091433803,species,organics,"organic waste, plastics",0.5,0.5,0.5,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tadtperei Wal,9182913651185,pop,NaN,NaN,0.386,0.533,0.484,0.194,0.7,3944934639394,0.3635,0.42375,0.382,True,NaN,NaN
2,Harpo Folamso,6961571307402,pop,NaN,NaN,0.578,0.345,0.393,0.738,0.7,3078395587160,0.5415,0.46725,0.490,True,NaN,NaN
3,Harpo Sidinco,2033031753966,pop,NaN,NaN,0.277,0.32,0.552,0.541,0.7,3078395587160,0.4305,0.49125,0.238,True,NaN,NaN
4,Harpo Hal,1310302536813,pop,NaN,NaN,0.439,0.468,0.415,0.643,0.7,3078395587160,0.5555,0.48525,0.669,True,NaN,NaN
5,Harpo Manburselto,3770768094710,pop,NaN,NaN,0.364,0.548,0.551,0.529,0.7,3078395587160,0.5385,0.54475,0.081,True,NaN,NaN
6,Harpo Pingfrankayyo,4343184883492,pop,NaN,NaN,0.456,0.437,0.656,0.498,0.7,3078395587160,0.4675,0.56175,0.577,True,NaN,NaN
7,Tadtperei Melgretanhor,7006358225710,pop,NaN,NaN,0.485,0.666,0.484,0.326,0.7,3944934639394,0.4960,0.49000,0.295,True,NaN,NaN
8,Harpo,3078395587160,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.188,0.0
9,Tadtperei,3944934639394,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.188,0.0

In [14]:
pd.DataFrame(graph_data['edges'])

            node1          node2 label
0   6961571307402  3078395587160  isIn
1   2033031753966  3078395587160  isIn
2   1310302536813  3078395587160  isIn
3   3770768094710  3078395587160  isIn
4   4343184883492  3078395587160  isIn
5   9182913651185  3944934639394  isIn
6   7006358225710  3944934639394  isIn
7   9182913651185  5717091433803  isOf
8   6961571307402  5717091433803  isOf
9   2033031753966  5717091433803  isOf
10  1310302536813  5717091433803  isOf
11  3770768094710  5717091433803  isOf
12  4343184883492  5717091433803  isOf
13  7006358225710  5717091433803  isOf

In [15]:
biome = homeworld.build_biome(homeplanet)
biome

In [16]:
graph_data['edges'] = graph_data['edges'] + homeworld.attach_people_to_world(graph_data['nodes'],homeplanet)
graph_data['nodes'] = graph_data['nodes'] + [biome.get_data()]
graph_data['edges'] = graph_data['edges'] + [biome.get_biome_edge()]

# Validating that data

In [17]:
c.upload_data(username, graph_data)