# Creating The base system and planets

In [1]:
import numpy as np
import pandas as pd
from numpy import random as r
import sys

import ssl, asyncio

ssl._create_default_https_context = ssl._create_unverified_context
asyncio.set_event_loop_policy(asyncio.WindowsSelectorEventLoopPolicy())
import nest_asyncio

# this is required for running in a Jupyter Notebook.
nest_asyncio.apply()

In [2]:
# mapping to the modules that make the app
sys.path.insert(0, "../app")
sys.path.insert(0, "../")
from app import models

executing local windows deployment

In [3]:
c = models.CosmosdbClient()

importing the universe module from the actual game.

In [4]:
from app.creators import universe

Data from the userform when creating a new game. You can get it from the `request` object in `genesis.build_solar_system`

In [5]:
form = {
    "accountid": "3025284578519",
    "aggression": 0.5,
    "conformity": 0.5,
    "constitution": 0.5,
    "consumes": "organics",
    "effuses": "organic waste,plastics",
    "label": "form",
    "literacy": 0.5,
    "minerals": 0.5,
    "name": "worldgenform",
    "num_moons": 10,
    "num_planets": 4,
    "objid": 300882390249,
    "organics": 0.5,
    "owner": "William Harding",
    "starting_pop": 7,
    "userguid": "8d5b667f-b225-4641-b499-73b77558ff86",
    "username": "William Harding"
}

userguid = form["userguid"]

first you have  to clean everything out but the `account`

In [6]:
query = f"g.V().has('userguid','{userguid}').not(has('label','account')).count()"
c.run_query(query)
account_objects = c.res[0]
account_objects

32

If the account is not empty, we'll need to clean it out. Currently there is only one system per user, and all objects for that user are tagged with the userguid.

In [7]:
if account_objects > 0:
    print("Deleting account data")
    query = f"g.V().has('userguid','{userguid}').not(has('label','account')).drop()"
    c.run_query(query)
else:
    print("No need to delete account data")

Deleting account data

Build the solar system. Full test.

In [8]:
universe_data = universe.build_homeSystem(form)
pd.DataFrame(universe_data['nodes'])

,objid,name,label,class,isHomeSystem,glat,glon,gelat,radius,orbitsId,...,effuses,literacy,minerals,num_moons,num_planets,organics,owner,starting_pop,userguid,username
0,8611853399330,Car,system,ordered,True,9.902,-0.046,0.406,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6010974736427,Bei,star,G,NaN,NaN,NaN,NaN,106.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9704629934957,Fieldgra,moon,ice,NaN,NaN,NaN,NaN,0.025082,7234293316168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4372302754619,Tledroram,moon,rocky,NaN,NaN,NaN,NaN,0.050655,5629942128319,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1951411634314,Namkun,moon,rocky,NaN,NaN,NaN,NaN,0.029218,6381006650981,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3448023269458,Landsant,moon,rocky,NaN,NaN,NaN,NaN,1.115029,9081103875409,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4464978139035,Tinrez,moon,rocky,NaN,NaN,NaN,NaN,0.692746,9081103875409,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6845076162047,Mer,moon,terrestrial,NaN,NaN,NaN,NaN,0.003187,5629942128319,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3303036689473,Alyovebe,moon,ice,NaN,NaN,NaN,NaN,0.008967,5629942128319,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,7706591967261,Kainorflo,moon,terrestrial,NaN,NaN,NaN,NaN,0.016109,5629942128319,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,6704424569988,Marminpin,moon,rocky,NaN,NaN,NaN,NaN,0.002921,7234293316168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,8814086501853,Halprogas,moon,rocky,NaN,NaN,NaN,NaN,0.925026,9081103875409,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,6381006650981,Can,planet,terrestrial,NaN,NaN,NaN,NaN,0.953000,6010974736427,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,5629942128319,Karcas,planet,dwarf,NaN,NaN,NaN,NaN,0.208000,6010974736427,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,9081103875409,Kamuhua,planet,gas,NaN,NaN,NaN,NaN,4.000000,6010974736427,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7234293316168,Binby,planet,terrestrial,NaN,NaN,NaN,NaN,0.724000,6010974736427,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1612773179600,organics,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,7132249265515,common minerals,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0233744496071,rare minerals,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,0606862369020,water,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,300882390249,worldgenform,form,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"organic waste,plastics",0.5,0.5,10.0,4.0,0.5,William Harding,7.0,8d5b667f-b225-4641-b499-73b77558ff86,William Harding

In [9]:
pd.DataFrame(universe_data['edges'])

            node1          node2        label  orbit_distance
0   6381006650981  6010974736427       orbits          0.9540
1   5629942128319  6010974736427       orbits         33.6070
2   9081103875409  6010974736427       orbits          7.3500
3   7234293316168  6010974736427       orbits          1.1150
4   9704629934957  7234293316168       orbits          0.0001
5   4372302754619  5629942128319       orbits          0.0001
6   1951411634314  6381006650981       orbits          0.0410
7   3448023269458  9081103875409       orbits          0.0001
8   4464978139035  9081103875409       orbits          0.1700
9   6845076162047  5629942128319       orbits          0.0001
10  3303036689473  5629942128319       orbits          0.0380
11  7706591967261  5629942128319       orbits          0.1230
12  6704424569988  7234293316168       orbits          0.0280
13  8814086501853  9081103875409       orbits          0.1120
14  6381006650981  8611853399330         isIn             NaN
15  5629942128319  8611853399330         isIn             NaN
16  9081103875409  8611853399330         isIn             NaN
17  7234293316168  8611853399330         isIn             NaN
18  9704629934957  8611853399330         isIn             NaN
19  4372302754619  8611853399330         isIn             NaN
20  1951411634314  8611853399330         isIn             NaN
21  3448023269458  8611853399330         isIn             NaN
22  4464978139035  8611853399330         isIn             NaN
23  6845076162047  8611853399330         isIn             NaN
24  3303036689473  8611853399330         isIn             NaN
25  7706591967261  8611853399330         isIn             NaN
26  6704424569988  8611853399330         isIn             NaN
27  8814086501853  8611853399330         isIn             NaN
28  6010974736427  8611853399330         isIn             NaN
29  7234293316168  1612773179600          has             NaN
30  7234293316168  7132249265515          has             NaN
31  7234293316168  0233744496071          has             NaN
32  7234293316168  0606862369020          has             NaN
33  8611853399330   300882390249  createdFrom             NaN
34  3025284578519   300882390249    submitted             NaN

In [10]:
c.upload_data(userguid, universe_data)

You can see it in the game. But this is only the star systems and planets. There are no people, and no biomes on the homeworld.

# Creating the planet, factions and people.

In [11]:
from app.creators import homeworld

This is the planet that was just created in the above step:

In [12]:
queryhomeworld = f"g.V().haslabel('planet').has('isHomeworld').has('userguid','{userguid}').valueMap()"
c.run_query(queryhomeworld)
homeplanet = c.clean_node(c.res[0])
homeplanet

{'isHomeworld': 'true',
 'name': 'Binby',
 'class': 'terrestrial',
 'objid': '7234293316168',
 'atmosphere': '[{Argon: 0.0}, {Carbon Dioxide: 0.283}, {Helium: 0.044}, {Hydrogen: 0.189}, {Methane: 0.006}, {Nitrogen: 0.289}, {Oxygen: 0.117}, {Sodium: 0.071}]',
 'radius': 0.724,
 'mass': 0.34,
 'orbitsDistance': 1.115,
 'orbitsId': '6010974736427',
 'orbitsName': 'Bei',
 'isSupportsLife': 'true',
 'isPopulated': 'true',
 'userguid': '8d5b667f-b225-4641-b499-73b77558ff86',
 'objtype': 'planet',
 'id': '7234293316168'}

In [13]:
import yaml
yaml.safe_load(homeplanet['atmosphere'])

[{'Argon': 0.0},
 {'Carbon Dioxide': 0.283},
 {'Helium': 0.044},
 {'Hydrogen': 0.189},
 {'Methane': 0.006},
 {'Nitrogen': 0.289},
 {'Oxygen': 0.117},
 {'Sodium': 0.071}]

In [14]:
graph_data = homeworld.build_people(form)

c:\Users\willi\miniconda3\envs\exoplanets\lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
c:\Users\willi\miniconda3\envs\exoplanets\lib\site-packages\sklearn\cluster\_kmeans.py:1440: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [15]:
pd.DataFrame(graph_data['nodes'])

,name,objid,label,consumes,effuses,conformity,aggression,literacy,constitution,health,isIn,industry,wealth,factionLoyalty,isIdle,lat,long
0,Sta,5876212378158,species,organics,"organic waste,plastics",0.500,0.500,0.500,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Plakunmal Mac,1984102325910,pop,NaN,NaN,0.605,0.686,0.519,0.568,0.7,5977854238101,0.6270,0.57300,0.585,True,NaN,NaN
2,Ten Roctonnuewi,2582599579348,pop,NaN,NaN,0.295,0.474,0.460,0.561,0.7,6796360606185,0.5175,0.48875,0.108,True,NaN,NaN
3,Ten Kigui,5775032481430,pop,NaN,NaN,0.411,0.535,0.526,0.475,0.7,6796360606185,0.5050,0.51550,0.415,True,NaN,NaN
4,Plakunmal Wesmostelgre,3735675382117,pop,NaN,NaN,0.804,0.557,0.421,0.669,0.7,5977854238101,0.6130,0.51700,0.803,True,NaN,NaN
5,Plakunmal Donmu,4698849353683,pop,NaN,NaN,0.534,0.506,0.672,0.432,0.7,5977854238101,0.4690,0.57050,0.574,True,NaN,NaN
6,Plakunmal Santnue,3098942558307,pop,NaN,NaN,0.554,0.450,0.665,0.576,0.7,5977854238101,0.5130,0.58900,0.603,True,NaN,NaN
7,Ten Dro,6813584748317,pop,NaN,NaN,0.322,0.549,0.401,0.589,0.7,6796360606185,0.5690,0.48500,0.409,True,NaN,NaN
8,Plakunmal,5977854238101,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.152,0.0
9,Ten,6796360606185,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.152,0.0

In [16]:
pd.DataFrame(graph_data['edges'])

            node1          node2 label
0   1984102325910  5977854238101  isIn
1   3735675382117  5977854238101  isIn
2   4698849353683  5977854238101  isIn
3   3098942558307  5977854238101  isIn
4   2582599579348  6796360606185  isIn
5   5775032481430  6796360606185  isIn
6   6813584748317  6796360606185  isIn
7   1984102325910  5876212378158  isOf
8   2582599579348  5876212378158  isOf
9   5775032481430  5876212378158  isOf
10  3735675382117  5876212378158  isOf
11  4698849353683  5876212378158  isOf
12  3098942558307  5876212378158  isOf
13  6813584748317  5876212378158  isOf

In [17]:
biome = homeworld.build_biome(homeplanet)
biome

In [18]:
graph_data['edges'] = graph_data['edges'] + homeworld.attach_people_to_world(graph_data['nodes'],homeplanet)
graph_data['nodes'] = graph_data['nodes'] + [biome.get_data()]
graph_data['edges'] = graph_data['edges'] + [biome.get_biome_edge()]

# Validating that data

In [20]:
pd.DataFrame(graph_data['nodes']).sort_values('name')

,name,objid,label,consumes,effuses,conformity,aggression,literacy,constitution,health,isIn,industry,wealth,factionLoyalty,isIdle,lat,long,grid
8,Plakunmal,5977854238101,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.152,0.0,NaN
5,Plakunmal Donmu,4698849353683,pop,NaN,NaN,0.534,0.506,0.672,0.432,0.7,5977854238101,0.4690,0.57050,0.574,True,NaN,NaN,NaN
1,Plakunmal Mac,1984102325910,pop,NaN,NaN,0.605,0.686,0.519,0.568,0.7,5977854238101,0.6270,0.57300,0.585,True,NaN,NaN,NaN
6,Plakunmal Santnue,3098942558307,pop,NaN,NaN,0.554,0.450,0.665,0.576,0.7,5977854238101,0.5130,0.58900,0.603,True,NaN,NaN,NaN
4,Plakunmal Wesmostelgre,3735675382117,pop,NaN,NaN,0.804,0.557,0.421,0.669,0.7,5977854238101,0.6130,0.51700,0.803,True,NaN,NaN,NaN
0,Sta,5876212378158,species,organics,"organic waste,plastics",0.500,0.500,0.500,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Ten,6796360606185,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.152,0.0,NaN
7,Ten Dro,6813584748317,pop,NaN,NaN,0.322,0.549,0.401,0.589,0.7,6796360606185,0.5690,0.48500,0.409,True,NaN,NaN,NaN
3,Ten Kigui,5775032481430,pop,NaN,NaN,0.411,0.535,0.526,0.475,0.7,6796360606185,0.5050,0.51550,0.415,True,NaN,NaN,NaN
2,Ten Roctonnuewi,2582599579348,pop,NaN,NaN,0.295,0.474,0.460,0.561,0.7,6796360606185,0.5175,0.48875,0.108,True,NaN,NaN,NaN
10,unnamed,4774940270565,biome,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[1.0, 0.0, 0.0, 0.0, 1.0, 2.0, 1.0, 1.0, 0.0, ..."

In [21]:
c.upload_data(userguid, graph_data)