# Creating The base system and planets

In [1]:
import numpy as np
import pandas as pd
from numpy import random as r
import sys

import ssl, asyncio

ssl._create_default_https_context = ssl._create_unverified_context
asyncio.set_event_loop_policy(asyncio.WindowsSelectorEventLoopPolicy())
import nest_asyncio

# this is required for running in a Jupyter Notebook.
nest_asyncio.apply()

In [2]:
# mapping to the modules that make the app
sys.path.insert(0, "../app")
sys.path.insert(0, "../")
from app.connectors import cmdb_graph

executing local windows deployment

In [3]:
c=cmdb_graph.CosmosdbClient()

importing the universe module from the actual game.

In [4]:
from app.creators import universe
from app.functions import maths
from app.functions import configurations

from app.objects import celestials

conf = configurations.get_configurations()

Data from the userform when creating a new game. You can get it from the `request` object in `genesis.build_solar_system`

In [5]:
form = {
    "accountid": "3025284578519",
    "aggression": 0.5,
    "conformity": 0.5,
    "constitution": 0.5,
    "consumes": "organics",
    "effuses": "organic waste,plastics",
    "label": "form",
    "literacy": 0.5,
    "minerals": 0.5,
    "name": "worldgenform",
    "num_moons": 10,
    "num_planets": 4,
    "objid": 300882390249,
    "organics": 0.5,
    "owner": "William Harding",
    "starting_pop": 7,
    "userguid": "8d5b667f-b225-4641-b499-73b77558ff86",
    "username": "William Harding"
}

data = form # the backend uses form and data interchangeably
userguid = form["userguid"]

first you have  to clean everything out but the `account`

In [6]:
query = f"g.V().has('userguid','{userguid}').not(has('label','account')).count()"
c.run_query(query)
account_objects = c.res[0]
account_objects

0

If the account is not empty, we'll need to clean it out. Currently there is only one system per user, and all objects for that user are tagged with the userguid.

In [7]:
if account_objects > 0:
    print("Deleting account data")
    query = f"g.V().has('userguid','{userguid}').not(has('label','account')).drop()"
    c.run_query(query)
else:
    print("No need to delete account data")

No need to delete account data

Build the solar system. Full test.

In [8]:
starSystem = celestials.System(data)
starSystem

In [9]:
star = celestials.Star(conf["star_config"], starSystem)
star

In [10]:
universe_data = universe.build_homeSystem(form)
pd.DataFrame(universe_data['nodes'])

,objid,name,label,class,isHomeSystem,glat,glon,gelat,pop_cap,radius,...,effuses,literacy,minerals,num_moons,num_planets,organics,owner,starting_pop,userguid,username
0,5389119079384,Kagordorf,system,ordered,True,18.997,8.899,-5.663,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9244034235547,Longlau,star,G,NaN,NaN,NaN,NaN,100.0,106.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0524582012616,Fa,moon,terrestrial,NaN,NaN,NaN,NaN,100.0,0.051502,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1495144814303,Larac,moon,rocky,NaN,NaN,NaN,NaN,100.0,0.080444,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3961992944245,Fortvilkunpat,moon,rocky,NaN,NaN,NaN,NaN,100.0,0.038054,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4421337803247,Yasta,moon,rocky,NaN,NaN,NaN,NaN,100.0,0.036460,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3434650512241,Dyvo,moon,ice,NaN,NaN,NaN,NaN,100.0,0.016516,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5343483840181,Ramgue,moon,terrestrial,NaN,NaN,NaN,NaN,100.0,0.065041,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,7630625552697,Ce,moon,rocky,NaN,NaN,NaN,NaN,100.0,0.032038,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,7331277091763,Saintde,moon,rocky,NaN,NaN,NaN,NaN,100.0,0.023893,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4448322795300,Tlajotia,moon,terrestrial,NaN,NaN,NaN,NaN,100.0,0.000284,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,8318288670175,Beilasris,moon,ice,NaN,NaN,NaN,NaN,100.0,0.004115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,7360968471718,Mainam,planet,terrestrial,NaN,NaN,NaN,NaN,100.0,0.355000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,7826890120622,Digiodel,planet,terrestrial,NaN,NaN,NaN,NaN,100.0,0.678000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,3290517254760,Bourioar,planet,dwarf,NaN,NaN,NaN,NaN,100.0,0.080000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,9659042812703,Giokoy,planet,terrestrial,NaN,NaN,NaN,NaN,100.0,0.539000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,8581857673478,organics,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,4022584857041,common minerals,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8934671879048,rare minerals,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1324860466093,water,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,300882390249,worldgenform,form,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"organic waste,plastics",0.5,0.5,10.0,4.0,0.5,William Harding,7.0,8d5b667f-b225-4641-b499-73b77558ff86,William Harding

In [11]:
pd.DataFrame(universe_data['edges'])

            node1          node2        label  orbit_distance
0   7360968471718  9244034235547       orbits          0.7970
1   7826890120622  9244034235547       orbits          0.8040
2   3290517254760  9244034235547       orbits         47.9670
3   9659042812703  9244034235547       orbits          1.0260
4   0524582012616  7826890120622       orbits          0.0360
5   1495144814303  7826890120622       orbits          0.0620
6   3961992944245  7360968471718       orbits          0.0001
7   4421337803247  9659042812703       orbits          0.0001
8   3434650512241  7360968471718       orbits          0.0001
9   5343483840181  9659042812703       orbits          0.0950
10  7630625552697  7826890120622       orbits          0.0390
11  7331277091763  7360968471718       orbits          0.1140
12  4448322795300  3290517254760       orbits          0.1970
13  8318288670175  3290517254760       orbits          0.0001
14  7360968471718  5389119079384         isIn             NaN
15  7826890120622  5389119079384         isIn             NaN
16  3290517254760  5389119079384         isIn             NaN
17  9659042812703  5389119079384         isIn             NaN
18  0524582012616  5389119079384         isIn             NaN
19  1495144814303  5389119079384         isIn             NaN
20  3961992944245  5389119079384         isIn             NaN
21  4421337803247  5389119079384         isIn             NaN
22  3434650512241  5389119079384         isIn             NaN
23  5343483840181  5389119079384         isIn             NaN
24  7630625552697  5389119079384         isIn             NaN
25  7331277091763  5389119079384         isIn             NaN
26  4448322795300  5389119079384         isIn             NaN
27  8318288670175  5389119079384         isIn             NaN
28  9244034235547  5389119079384         isIn             NaN
29  9659042812703  8581857673478          has             NaN
30  9659042812703  4022584857041          has             NaN
31  9659042812703  8934671879048          has             NaN
32  9659042812703  1324860466093          has             NaN
33  5389119079384   300882390249  createdFrom             NaN
34  3025284578519   300882390249    submitted             NaN

In [12]:
c.upload_data(userguid, universe_data)

You can see it in the game. But this is only the star systems and planets. There are no people, and no biomes on the homeworld.

# Creating the planet, factions and people.

In [13]:
from app.creators import homeworld

This is the planet that was just created in the above step:

In [14]:
queryhomeworld = f"g.V().haslabel('planet').has('isHomeworld').has('userguid','{userguid}').valueMap()"
c.run_query(queryhomeworld)
homeplanet = c.clean_node(c.res[0])
homeplanet

{'isHomeworld': 'true',
 'name': 'Giokoy',
 'class': 'terrestrial',
 'objid': '9659042812703',
 'pop_cap': 100,
 'atmosphere': '[{Argon: 0.217}, {Carbon Dioxide: 0.0}, {Helium: 0.13}, {Hydrogen: 0.136}, {Methane: 0.011}, {Nitrogen: 0.191}, {Oxygen: 0.149}, {Sodium: 0.165}]',
 'radius': 0.539,
 'mass': 0,
 'orbitsDistance': 1.026,
 'orbitsId': '9244034235547',
 'orbitsName': 'Longlau',
 'isSupportsLife': 'true',
 'isPopulated': 'true',
 'userguid': '8d5b667f-b225-4641-b499-73b77558ff86',
 'objtype': 'planet',
 'id': '9659042812703'}

In [15]:
import yaml
yaml.safe_load(homeplanet['atmosphere'])

[{'Argon': 0.217},
 {'Carbon Dioxide': 0.0},
 {'Helium': 0.13},
 {'Hydrogen': 0.136},
 {'Methane': 0.011},
 {'Nitrogen': 0.191},
 {'Oxygen': 0.149},
 {'Sodium': 0.165}]

This has also created the resources that exist on your planet. This is done with `scan_body()` which discovers resources on any celestial body.

In [16]:
homeplanet_objid = homeplanet['objid']

query_home_resources = f"g.V().has('objid','{homeplanet_objid}').out('has').valuemap()"
c.run_query(query_home_resources)
resources = c.clean_node(c.res[0])
resources

{'name': 'organics',
 'objid': '8581857673478',
 'volume': 1011,
 'max_volume': 1011,
 'description': 'bilogical material that can be consumed by pops',
 'replenish_rate': 10,
 'userguid': '8d5b667f-b225-4641-b499-73b77558ff86',
 'objtype': 'resource',
 'id': '8581857673478'}

In [17]:
graph_data = homeworld.build_people(form)

c:\Users\willi\miniconda3\envs\exoplanets\lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
c:\Users\willi\miniconda3\envs\exoplanets\lib\site-packages\sklearn\cluster\_kmeans.py:1440: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [18]:
pd.DataFrame(graph_data['nodes'])

,name,objid,label,consumes,effuses,conformity,aggression,literacy,constitution,health,isIn,industry,wealth,factionLoyalty,isIdle,lat,long,infrastructure
0,Wobar,9329836601617,species,organics,"organic waste,plastics",0.500,0.500,0.500,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tadta Bi,2177835361193,pop,NaN,NaN,0.499,0.504,0.325,0.598,0.7,0504501040899,0.5510,0.43800,0.530,True,NaN,NaN,NaN
2,Istorly Jidibasu,8360664021024,pop,NaN,NaN,0.525,0.483,0.609,0.455,0.7,1139503249520,0.4690,0.53900,0.469,True,NaN,NaN,NaN
3,Tadta Bil,7337818667431,pop,NaN,NaN,0.570,0.655,0.347,0.625,0.7,0504501040899,0.6400,0.49350,0.445,True,NaN,NaN,NaN
4,Istorly Bachkalnayles,1431650718824,pop,NaN,NaN,0.494,0.441,0.523,0.633,0.7,1139503249520,0.5370,0.53000,0.482,True,NaN,NaN,NaN
5,Istorly Rah,9921157365679,pop,NaN,NaN,0.458,0.542,0.538,0.557,0.7,1139503249520,0.5495,0.54375,0.296,True,NaN,NaN,NaN
6,Tadta Fa,0936968925405,pop,NaN,NaN,0.626,0.354,0.427,0.517,0.7,0504501040899,0.4355,0.43125,0.669,True,NaN,NaN,NaN
7,Istorly Gen,5197028981570,pop,NaN,NaN,0.456,0.617,0.607,0.547,0.7,1139503249520,0.5820,0.59450,0.429,True,NaN,NaN,NaN
8,Tadta,0504501040899,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,NaN,0.111,0.0,0.0
9,Istorly,1139503249520,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,NaN,-0.111,0.0,0.0

In [19]:
pd.DataFrame(graph_data['edges'])

            node1          node2 label
0   2177835361193  0504501040899  isIn
1   7337818667431  0504501040899  isIn
2   0936968925405  0504501040899  isIn
3   8360664021024  1139503249520  isIn
4   1431650718824  1139503249520  isIn
5   9921157365679  1139503249520  isIn
6   5197028981570  1139503249520  isIn
7   2177835361193  9329836601617  isOf
8   8360664021024  9329836601617  isOf
9   7337818667431  9329836601617  isOf
10  1431650718824  9329836601617  isOf
11  9921157365679  9329836601617  isOf
12  0936968925405  9329836601617  isOf
13  5197028981570  9329836601617  isOf

In [20]:
biome = homeworld.build_biome(homeplanet)
biome

In [21]:
graph_data['edges'] = graph_data['edges'] + homeworld.attach_people_to_world(graph_data['nodes'],homeplanet)
graph_data['nodes'] = graph_data['nodes'] + [biome.get_data()]
graph_data['edges'] = graph_data['edges'] + [biome.get_biome_edge()]

# Validating that data

In [22]:
pd.DataFrame(graph_data['nodes']).sort_values('name')

,name,objid,label,consumes,effuses,conformity,aggression,literacy,constitution,health,isIn,industry,wealth,factionLoyalty,isIdle,lat,long,infrastructure,grid
9,Istorly,1139503249520,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,NaN,-0.111,0.0,0.0,NaN
4,Istorly Bachkalnayles,1431650718824,pop,NaN,NaN,0.494,0.441,0.523,0.633,0.7,1139503249520,0.5370,0.53000,0.482,True,NaN,NaN,NaN,NaN
7,Istorly Gen,5197028981570,pop,NaN,NaN,0.456,0.617,0.607,0.547,0.7,1139503249520,0.5820,0.59450,0.429,True,NaN,NaN,NaN,NaN
2,Istorly Jidibasu,8360664021024,pop,NaN,NaN,0.525,0.483,0.609,0.455,0.7,1139503249520,0.4690,0.53900,0.469,True,NaN,NaN,NaN,NaN
5,Istorly Rah,9921157365679,pop,NaN,NaN,0.458,0.542,0.538,0.557,0.7,1139503249520,0.5495,0.54375,0.296,True,NaN,NaN,NaN,NaN
8,Tadta,0504501040899,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,NaN,0.111,0.0,0.0,NaN
1,Tadta Bi,2177835361193,pop,NaN,NaN,0.499,0.504,0.325,0.598,0.7,0504501040899,0.5510,0.43800,0.530,True,NaN,NaN,NaN,NaN
3,Tadta Bil,7337818667431,pop,NaN,NaN,0.570,0.655,0.347,0.625,0.7,0504501040899,0.6400,0.49350,0.445,True,NaN,NaN,NaN,NaN
6,Tadta Fa,0936968925405,pop,NaN,NaN,0.626,0.354,0.427,0.517,0.7,0504501040899,0.4355,0.43125,0.669,True,NaN,NaN,NaN,NaN
0,Wobar,9329836601617,species,organics,"organic waste,plastics",0.500,0.500,0.500,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,unnamed,3676828330945,biome,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[0.0, 0.0, 0.0, 1.0, 1.0, 2.0, 1.0, 10.0, 21.0..."

In [23]:
c.upload_data(userguid, graph_data)