# Creating The base system and planets

In [1]:
import numpy as np
import pandas as pd
from numpy import random as r
import sys

import ssl, asyncio

ssl._create_default_https_context = ssl._create_unverified_context
asyncio.set_event_loop_policy(asyncio.WindowsSelectorEventLoopPolicy())
import nest_asyncio

# this is required for running in a Jupyter Notebook.
nest_asyncio.apply()

In [2]:
# mapping to the modules that make the app
sys.path.insert(0, "../app")
sys.path.insert(0, "../")
from app import models

executing local windows deployment

In [3]:
c = models.CosmosdbClient()

importing the universe module from the actual game.

In [4]:
from app.creators import universe

Data from the userform when creating a new game. You can get it from the `request` object in `genesis.build_solar_system`

In [5]:
form = {
    "label": "form",
    "name": "worldgenform",
    "objid": "7421942697433",
    "owner": "BillmanLocal2",
    "username": "BillmanLocal2",
    "accountid": "1635060199044",
    "conformity": "0.5",
    "literacy": "0.5",
    "aggression": "0.5",
    "constitution": "0.5",
    "num_planets": "3",
    "num_moons": "15",
    "consumes":"organics",
    "effuses": "organic waste, plastics",
    "starting_pop": "7",
}

username = form["owner"]

first you have  to clean everything out but the `account`

In [6]:
query = f"g.V().has('username','{username}').not(has('label','account')).drop()"
c.run_query(query)

In [18]:
# query = f"g.V().has('username','notebook').not(has('label','account')).drop()"
# c.run_query(query)

Build the universe. Full test.

In [7]:
universe_data = universe.build_homeSystem(form, username)
pd.DataFrame(universe_data['nodes'])

,objid,name,label,class,isHomeSystem,glat,glon,gelat,radius,orbitsId,...,accountid,conformity,literacy,aggression,constitution,num_planets,num_moons,consumes,effuses,starting_pop
0,3780824946249,Cugui,system,ordered,True,9.036,1.143,-5.992,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3034142012350,Lan,star,G,NaN,NaN,NaN,NaN,106.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0157774907668,Montmozu,moon,terrestrial,NaN,NaN,NaN,NaN,0.095973,9003968629604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4082963070210,Sibhaven,moon,ice,NaN,NaN,NaN,NaN,0.008618,3585345711934,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6486418693886,Tro,moon,terrestrial,NaN,NaN,NaN,NaN,0.014429,3585345711934,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,9686874242642,Velhe,moon,ice,NaN,NaN,NaN,NaN,0.022010,9003968629604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2221100395595,Carfield,moon,rocky,NaN,NaN,NaN,NaN,0.127393,1580818361523,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,9173460895913,Renlegra,moon,rocky,NaN,NaN,NaN,NaN,0.031182,9003968629604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6810510654159,Springs,moon,rocky,NaN,NaN,NaN,NaN,0.019318,3585345711934,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9429110945802,Wal,moon,rocky,NaN,NaN,NaN,NaN,0.014730,3585345711934,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,3148362668248,Montlaumo,moon,rocky,NaN,NaN,NaN,NaN,0.099102,9003968629604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0899182228053,Trowanhillssan,moon,terrestrial,NaN,NaN,NaN,NaN,0.165696,9003968629604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1233731053572,Dospan,moon,ice,NaN,NaN,NaN,NaN,0.033507,9003968629604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,7705651824051,Bakemas,moon,rocky,NaN,NaN,NaN,NaN,0.154625,1580818361523,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6127623824837,Genbialingsu,moon,terrestrial,NaN,NaN,NaN,NaN,0.065090,1580818361523,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0684305179369,Kreishattamsau,moon,rocky,NaN,NaN,NaN,NaN,0.029963,1580818361523,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1595217762853,Mehill,moon,rocky,NaN,NaN,NaN,NaN,0.012533,3585345711934,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1580818361523,Inhel,planet,terrestrial,NaN,NaN,NaN,NaN,0.635000,3034142012350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,3585345711934,Nuesygna,planet,dwarf,NaN,NaN,NaN,NaN,0.165000,3034142012350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9003968629604,Kotlaymau,planet,terrestrial,NaN,NaN,NaN,NaN,0.713000,3034142012350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,3216068583822,organics,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,3991837221458,common minerals,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4077355551333,rare minerals,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2652953002191,water,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,7421942697433,worldgenform,form,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1635060199044,0.5,0.5,0.5,0.5,3,15,organics,"organic waste, plastics",7

In [8]:
pd.DataFrame(universe_data['edges'])

            node1          node2        label  orbit_distance
0   1580818361523  3034142012350       orbits          1.1950
1   3585345711934  3034142012350       orbits         32.8870
2   9003968629604  3034142012350       orbits          0.6380
3   0157774907668  9003968629604       orbits          0.0730
4   4082963070210  3585345711934       orbits          0.0780
5   6486418693886  3585345711934       orbits          0.0160
6   9686874242642  9003968629604       orbits          0.0780
7   2221100395595  1580818361523       orbits          0.0520
8   9173460895913  9003968629604       orbits          0.0490
9   6810510654159  3585345711934       orbits          0.2030
10  9429110945802  3585345711934       orbits          0.1060
11  3148362668248  9003968629604       orbits          0.0190
12  0899182228053  9003968629604       orbits          0.0080
13  1233731053572  9003968629604       orbits          0.0001
14  7705651824051  1580818361523       orbits          0.0280
15  6127623824837  1580818361523       orbits          0.0001
16  0684305179369  1580818361523       orbits          0.0001
17  1595217762853  3585345711934       orbits          0.1480
18  1580818361523  3780824946249         isIn             NaN
19  3585345711934  3780824946249         isIn             NaN
20  9003968629604  3780824946249         isIn             NaN
21  0157774907668  3780824946249         isIn             NaN
22  4082963070210  3780824946249         isIn             NaN
23  6486418693886  3780824946249         isIn             NaN
24  9686874242642  3780824946249         isIn             NaN
25  2221100395595  3780824946249         isIn             NaN
26  9173460895913  3780824946249         isIn             NaN
27  6810510654159  3780824946249         isIn             NaN
28  9429110945802  3780824946249         isIn             NaN
29  3148362668248  3780824946249         isIn             NaN
30  0899182228053  3780824946249         isIn             NaN
31  1233731053572  3780824946249         isIn             NaN
32  7705651824051  3780824946249         isIn             NaN
33  6127623824837  3780824946249         isIn             NaN
34  0684305179369  3780824946249         isIn             NaN
35  1595217762853  3780824946249         isIn             NaN
36  3034142012350  3780824946249         isIn             NaN
37  9003968629604  3216068583822          has             NaN
38  9003968629604  3991837221458          has             NaN
39  9003968629604  4077355551333          has             NaN
40  9003968629604  2652953002191          has             NaN
41  3780824946249  7421942697433  createdFrom             NaN
42  1635060199044  7421942697433    submitted             NaN

In [9]:
c.upload_data(username, universe_data)

You can see it in the game. But this is only the star systems and planets. There are no people, and no biomes on the homeworld.

# Creating the planet, factions and people.

In [10]:
from app.creators import homeworld

This is the planet that was just created in the above step:

In [11]:
queryhomeworld = f"g.V().haslabel('planet').has('isHomeworld').has('username','{username}').valueMap()"
c.run_query(queryhomeworld)
homeplanet = c.clean_node(c.res[0])
homeplanet

{'isHomeworld': 'true',
 'name': 'Kotlaymau',
 'class': 'terrestrial',
 'objid': '9003968629604',
 'radius': 0.713,
 'mass': 0,
 'orbitsDistance': 0.638,
 'orbitsId': '3034142012350',
 'orbitsName': 'Lan',
 'isSupportsLife': 'true',
 'isPopulated': 'true',
 'username': 'BillmanLocal2',
 'objtype': 'planet',
 'id': '9003968629604'}

In [12]:
graph_data = homeworld.build_people(form)

c:\Users\william.harding\anaconda3\envs\exoplanets\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
c:\Users\william.harding\anaconda3\envs\exoplanets\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [13]:
pd.DataFrame(graph_data['nodes'])

,name,objid,label,consumes,effuses,username,conformity,aggression,literacy,constitution,health,isIn,industry,wealth,factionLoyalty,isIdle,lat,long
0,Alman,3421173158043,species,organics,"organic waste, plastics",BillmanLocal2,0.5,0.5,0.5,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tauraite Len,0670547457716,pop,NaN,NaN,NaN,0.46,0.588,0.386,0.482,0.7,5998552632248,0.5350,0.46050,0.512,True,NaN,NaN
2,Dosmarlutla Wo,9525182909324,pop,NaN,NaN,NaN,0.57,0.597,0.483,0.454,0.7,4460306284035,0.5255,0.50425,0.392,True,NaN,NaN
3,Tauraite Kun,9627765060399,pop,NaN,NaN,NaN,0.259,0.393,0.351,0.517,0.7,5998552632248,0.4550,0.40300,0.195,True,NaN,NaN
4,Dosmarlutla Doncruztai,9864759742409,pop,NaN,NaN,NaN,0.505,0.513,0.586,0.472,0.7,4460306284035,0.4925,0.53925,0.387,True,NaN,NaN
5,Dosmarlutla Ne,8461038868646,pop,NaN,NaN,NaN,0.445,0.491,0.512,0.401,0.7,4460306284035,0.4460,0.47900,0.404,True,NaN,NaN
6,Dosmarlutla Sensta,4271120015313,pop,NaN,NaN,NaN,0.425,0.535,0.677,0.574,0.7,4460306284035,0.5545,0.61575,0.620,True,NaN,NaN
7,Tauraite Munfenportsi,0758035019240,pop,NaN,NaN,NaN,0.474,0.644,0.308,0.621,0.7,5998552632248,0.6325,0.47025,0.597,True,NaN,NaN
8,Dosmarlutla,4460306284035,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.121,0.0
9,Tauraite,5998552632248,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.121,0.0

In [14]:
pd.DataFrame(graph_data['edges'])

            node1          node2 label
0   9525182909324  4460306284035  isIn
1   9864759742409  4460306284035  isIn
2   8461038868646  4460306284035  isIn
3   4271120015313  4460306284035  isIn
4   0670547457716  5998552632248  isIn
5   9627765060399  5998552632248  isIn
6   0758035019240  5998552632248  isIn
7   0670547457716  3421173158043  isOf
8   9525182909324  3421173158043  isOf
9   9627765060399  3421173158043  isOf
10  9864759742409  3421173158043  isOf
11  8461038868646  3421173158043  isOf
12  4271120015313  3421173158043  isOf
13  0758035019240  3421173158043  isOf

In [15]:
biome = homeworld.build_biome(homeplanet)
biome

In [16]:
graph_data['edges'] = graph_data['edges'] + homeworld.attach_people_to_world(graph_data['nodes'],homeplanet)
graph_data['nodes'] = graph_data['nodes'] + [biome.get_data()]
graph_data['edges'] = graph_data['edges'] + [biome.get_biome_edge()]

# Validating that data

In [17]:
c.upload_data(username, graph_data)