# Creating The base system and planets

In [2]:
import numpy as np
import pandas as pd
from numpy import random as r
import sys

import ssl, asyncio

ssl._create_default_https_context = ssl._create_unverified_context
asyncio.set_event_loop_policy(asyncio.WindowsSelectorEventLoopPolicy())
import nest_asyncio

# this is required for running in a Jupyter Notebook.
nest_asyncio.apply()

In [3]:
# mapping to the modules that make the app
sys.path.insert(0, "../app")
sys.path.insert(0, "../")
from app.connectors import cmdb_graph

executing local windows deployment

In [4]:
c=cmdb_graph.CosmosdbClient()

importing the universe module from the actual game.

In [5]:
from app.creators import universe

Data from the userform when creating a new game. You can get it from the `request` object in `genesis.build_solar_system`

In [6]:
form = {
    "accountid": "3025284578519",
    "aggression": 0.5,
    "conformity": 0.5,
    "constitution": 0.5,
    "consumes": "organics",
    "effuses": "organic waste,plastics",
    "label": "form",
    "literacy": 0.5,
    "minerals": 0.5,
    "name": "worldgenform",
    "num_moons": 10,
    "num_planets": 4,
    "objid": 300882390249,
    "organics": 0.5,
    "owner": "William Harding",
    "starting_pop": 7,
    "userguid": "8d5b667f-b225-4641-b499-73b77558ff86",
    "username": "William Harding"
}

userguid = form["userguid"]

first you have  to clean everything out but the `account`

In [18]:
query = f"g.V().has('userguid','{userguid}').not(has('label','account')).count()"
c.run_query(query)
account_objects = c.res[0]
account_objects

0

If the account is not empty, we'll need to clean it out. Currently there is only one system per user, and all objects for that user are tagged with the userguid.

In [19]:
if account_objects > 0:
    print("Deleting account data")
    query = f"g.V().has('userguid','{userguid}').not(has('label','account')).drop()"
    c.run_query(query)
else:
    print("No need to delete account data")

No need to delete account data

Build the solar system. Full test.

In [20]:
universe_data = universe.build_homeSystem(form)
pd.DataFrame(universe_data['nodes'])

,objid,name,label,class,isHomeSystem,glat,glon,gelat,pop_cap,radius,...,literacy,minerals,num_moons,num_planets,organics,owner,starting_pop,userguid,username,id
0,6440065649931,Ter,system,ordered,True,-38.07,1.694,12.992,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8820387776336,Macilben,star,G,NaN,NaN,NaN,NaN,100.0,106.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6350631025308,Hautoukintil,moon,ice,NaN,NaN,NaN,NaN,100.0,0.026332,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7230613812247,Rimanhui,moon,rocky,NaN,NaN,NaN,NaN,100.0,0.004522,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0793790312347,Garroskagal,moon,rocky,NaN,NaN,NaN,NaN,100.0,0.176989,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7598239620778,Ninres,moon,terrestrial,NaN,NaN,NaN,NaN,100.0,0.026712,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7517034573865,Bhapasles,moon,rocky,NaN,NaN,NaN,NaN,100.0,0.055670,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0196013001676,Boncasdro,moon,ice,NaN,NaN,NaN,NaN,100.0,0.005918,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0966680012949,Me,moon,ice,NaN,NaN,NaN,NaN,100.0,0.003484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1058979613631,Kubridsal,moon,rocky,NaN,NaN,NaN,NaN,100.0,0.027735,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,7511426607846,Ratlanshasia,moon,terrestrial,NaN,NaN,NaN,NaN,100.0,0.035190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5309877704456,Jiangsur,moon,terrestrial,NaN,NaN,NaN,NaN,100.0,0.026293,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,4054726117368,Pingpuhes,planet,terrestrial,NaN,NaN,NaN,NaN,100.0,0.545000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,8970508522108,Dadan,planet,dwarf,NaN,NaN,NaN,NaN,100.0,0.129000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,3169646656932,He,planet,terrestrial,NaN,NaN,NaN,NaN,100.0,0.264000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2678784001902,Normencam,planet,terrestrial,NaN,NaN,NaN,NaN,100.0,0.706000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,9056614182172,organics,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1422294991895,common minerals,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2638455918362,rare minerals,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,5843809580776,water,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,300882390249,worldgenform,form,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.5,0.5,10.0,4.0,0.5,William Harding,7.0,8d5b667f-b225-4641-b499-73b77558ff86,William Harding,3.008824e+11

In [21]:
pd.DataFrame(universe_data['edges'])

            node1          node2        label  orbit_distance
0   4054726117368  8820387776336       orbits          0.4850
1   8970508522108  8820387776336       orbits         47.1020
2   3169646656932  8820387776336       orbits          1.1270
3   2678784001902  8820387776336       orbits          0.7030
4   6350631025308  2678784001902       orbits          0.0001
5   7230613812247  3169646656932       orbits          0.0001
6   0793790312347  2678784001902       orbits          0.0001
7   7598239620778  3169646656932       orbits          0.0410
8   7517034573865  3169646656932       orbits          0.0200
9   0196013001676  8970508522108       orbits          0.0001
10  0966680012949  8970508522108       orbits          0.0001
11  1058979613631  3169646656932       orbits          0.0001
12  7511426607846  4054726117368       orbits          0.0001
13  5309877704456  3169646656932       orbits          0.0001
14  4054726117368  6440065649931         isIn             NaN
15  8970508522108  6440065649931         isIn             NaN
16  3169646656932  6440065649931         isIn             NaN
17  2678784001902  6440065649931         isIn             NaN
18  6350631025308  6440065649931         isIn             NaN
19  7230613812247  6440065649931         isIn             NaN
20  0793790312347  6440065649931         isIn             NaN
21  7598239620778  6440065649931         isIn             NaN
22  7517034573865  6440065649931         isIn             NaN
23  0196013001676  6440065649931         isIn             NaN
24  0966680012949  6440065649931         isIn             NaN
25  1058979613631  6440065649931         isIn             NaN
26  7511426607846  6440065649931         isIn             NaN
27  5309877704456  6440065649931         isIn             NaN
28  8820387776336  6440065649931         isIn             NaN
29  2678784001902  9056614182172          has             NaN
30  2678784001902  1422294991895          has             NaN
31  2678784001902  2638455918362          has             NaN
32  2678784001902  5843809580776          has             NaN
33  6440065649931   300882390249  createdFrom             NaN
34  3025284578519   300882390249    submitted             NaN

In [22]:
c.upload_data(userguid, universe_data)

You can see it in the game. But this is only the star systems and planets. There are no people, and no biomes on the homeworld.

# Creating the planet, factions and people.

In [23]:
from app.creators import homeworld

This is the planet that was just created in the above step:

In [24]:
queryhomeworld = f"g.V().haslabel('planet').has('isHomeworld').has('userguid','{userguid}').valueMap()"
c.run_query(queryhomeworld)
homeplanet = c.clean_node(c.res[0])
homeplanet

{'isHomeworld': 'true',
 'name': 'Normencam',
 'class': 'terrestrial',
 'objid': '2678784001902',
 'pop_cap': 100,
 'atmosphere': '[{Argon: 0.061}, {Carbon Dioxide: 0.379}, {Helium: 0.05}, {Hydrogen: 0.15}, {Methane: 0.005}, {Nitrogen: 0.218}, {Oxygen: 0.077}, {Sodium: 0.061}]',
 'radius': 0.706,
 'mass': 1.148,
 'orbitsDistance': 0.703,
 'orbitsId': '8820387776336',
 'orbitsName': 'Macilben',
 'isSupportsLife': 'true',
 'isPopulated': 'true',
 'userguid': '8d5b667f-b225-4641-b499-73b77558ff86',
 'objtype': 'planet',
 'id': '2678784001902'}

In [25]:
import yaml
yaml.safe_load(homeplanet['atmosphere'])

[{'Argon': 0.061},
 {'Carbon Dioxide': 0.379},
 {'Helium': 0.05},
 {'Hydrogen': 0.15},
 {'Methane': 0.005},
 {'Nitrogen': 0.218},
 {'Oxygen': 0.077},
 {'Sodium': 0.061}]

This has also created the resources that exist on your planet. This is done with `scan_body()` which discovers resources on any celestial body.

In [26]:
homeplanet_objid = homeplanet['objid']

query_home_resources = f"g.V().has('objid','{homeplanet_objid}').out('has').valuemap()"
c.run_query(query_home_resources)
resources = c.clean_node(c.res[0])
resources

{'name': 'organics',
 'objid': '9056614182172',
 'volume': 1008,
 'max_volume': 1008,
 'description': 'bilogical material that can be consumed by pops',
 'replenish_rate': 10,
 'userguid': '8d5b667f-b225-4641-b499-73b77558ff86',
 'objtype': 'resource',
 'id': '9056614182172'}

In [27]:
graph_data = homeworld.build_people(form)

c:\Users\willi\miniconda3\envs\exoplanets\lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
c:\Users\willi\miniconda3\envs\exoplanets\lib\site-packages\sklearn\cluster\_kmeans.py:1440: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [28]:
pd.DataFrame(graph_data['nodes'])

,name,objid,label,consumes,effuses,conformity,aggression,literacy,constitution,health,isIn,industry,wealth,factionLoyalty,isIdle,lat,long,infrastructure
0,Dou,1403107993453,species,organics,"organic waste,plastics",0.500,0.500,0.500,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Barsenkamdou East,1486772896726,pop,NaN,NaN,0.693,0.640,0.546,0.491,0.7,5173817520044,0.5655,0.55575,0.641,True,NaN,NaN,NaN
2,Aparhitla Yu,9615472415540,pop,NaN,NaN,0.298,0.423,0.375,0.480,0.7,2921796615465,0.4515,0.41325,0.394,True,NaN,NaN,NaN
3,Barsenkamdou Go,0863200966231,pop,NaN,NaN,0.507,0.585,0.339,0.370,0.7,5173817520044,0.4775,0.40825,0.553,True,NaN,NaN,NaN
4,Barsenkamdou Tenastilten,0434385160843,pop,NaN,NaN,0.588,0.475,0.433,0.569,0.7,5173817520044,0.5220,0.47750,0.474,True,NaN,NaN,NaN
5,Barsenkamdou Ni,6432263998589,pop,NaN,NaN,0.517,0.451,0.365,0.562,0.7,5173817520044,0.5065,0.43575,0.476,True,NaN,NaN,NaN
6,Aparhitla Maitle,8658837065162,pop,NaN,NaN,0.392,0.544,0.413,0.356,0.7,2921796615465,0.4500,0.43150,0.506,True,NaN,NaN,NaN
7,Aparhitla Madel,8920673261438,pop,NaN,NaN,0.332,0.373,0.293,0.562,0.7,2921796615465,0.4675,0.38025,0.265,True,NaN,NaN,NaN
8,Barsenkamdou,5173817520044,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,NaN,0.131,0.0,0.0
9,Aparhitla,2921796615465,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,NaN,-0.131,0.0,0.0

In [29]:
pd.DataFrame(graph_data['edges'])

            node1          node2 label
0   1486772896726  5173817520044  isIn
1   0863200966231  5173817520044  isIn
2   0434385160843  5173817520044  isIn
3   6432263998589  5173817520044  isIn
4   9615472415540  2921796615465  isIn
5   8658837065162  2921796615465  isIn
6   8920673261438  2921796615465  isIn
7   1486772896726  1403107993453  isOf
8   9615472415540  1403107993453  isOf
9   0863200966231  1403107993453  isOf
10  0434385160843  1403107993453  isOf
11  6432263998589  1403107993453  isOf
12  8658837065162  1403107993453  isOf
13  8920673261438  1403107993453  isOf

In [30]:
biome = homeworld.build_biome(homeplanet)
biome

In [31]:
graph_data['edges'] = graph_data['edges'] + homeworld.attach_people_to_world(graph_data['nodes'],homeplanet)
graph_data['nodes'] = graph_data['nodes'] + [biome.get_data()]
graph_data['edges'] = graph_data['edges'] + [biome.get_biome_edge()]

# Validating that data

In [32]:
pd.DataFrame(graph_data['nodes']).sort_values('name')

,name,objid,label,consumes,effuses,conformity,aggression,literacy,constitution,health,isIn,industry,wealth,factionLoyalty,isIdle,lat,long,infrastructure,grid
9,Aparhitla,2921796615465,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,NaN,-0.131,0.0,0.0,NaN
7,Aparhitla Madel,8920673261438,pop,NaN,NaN,0.332,0.373,0.293,0.562,0.7,2921796615465,0.4675,0.38025,0.265,True,NaN,NaN,NaN,NaN
6,Aparhitla Maitle,8658837065162,pop,NaN,NaN,0.392,0.544,0.413,0.356,0.7,2921796615465,0.4500,0.43150,0.506,True,NaN,NaN,NaN,NaN
2,Aparhitla Yu,9615472415540,pop,NaN,NaN,0.298,0.423,0.375,0.480,0.7,2921796615465,0.4515,0.41325,0.394,True,NaN,NaN,NaN,NaN
8,Barsenkamdou,5173817520044,faction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,NaN,0.131,0.0,0.0,NaN
1,Barsenkamdou East,1486772896726,pop,NaN,NaN,0.693,0.640,0.546,0.491,0.7,5173817520044,0.5655,0.55575,0.641,True,NaN,NaN,NaN,NaN
3,Barsenkamdou Go,0863200966231,pop,NaN,NaN,0.507,0.585,0.339,0.370,0.7,5173817520044,0.4775,0.40825,0.553,True,NaN,NaN,NaN,NaN
5,Barsenkamdou Ni,6432263998589,pop,NaN,NaN,0.517,0.451,0.365,0.562,0.7,5173817520044,0.5065,0.43575,0.476,True,NaN,NaN,NaN,NaN
4,Barsenkamdou Tenastilten,0434385160843,pop,NaN,NaN,0.588,0.475,0.433,0.569,0.7,5173817520044,0.5220,0.47750,0.474,True,NaN,NaN,NaN,NaN
0,Dou,1403107993453,species,organics,"organic waste,plastics",0.500,0.500,0.500,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,unnamed,3823064415408,biome,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[2.0, 0.0, 1.0, 1.0, 3.0, 1.0, 2.0, 1.0, 0.0, ..."

In [33]:
c.upload_data(userguid, graph_data)