# Creating The base system and planets

In [1]:
import numpy as np
import pandas as pd
from numpy import random as r

import pickle

%load_ext lab_black

First assuming the userform is created as such

importing the universe module from the actual game.

In [2]:
import sys

sys.path.insert(0, "../web/app/creators")

from universe import *

Data from the userform when creating a new game:

In [3]:
data = {
    "planet_name": "Earth",
    "num_planets": "6",
    "num_moons": "24",
    "home_has_moons": "on",
    "starting_pop": "7",
    "population_conformity": "0.3",
    "population_literacy": "0.7",
    "population_aggression": "0.5",
    "population_constitution": "0.5",
}

data from my stats about planet types:

In [4]:
pdata

{'dwarf': {'count': 6.0,
  'prob': 0.42857142857142855,
  'mass_mean': 0.0011061666666666668,
  'mass_std': 0.0011102811205576121,
  'radius_mean': 0.129,
  'radius_std': 0.04591683787021923},
 'gas': {'count': 2.0,
  'prob': 0.14285714285714285,
  'mass_mean': 206.49599999999998,
  'mass_std': 157.45005275324613,
  'radius_mean': 10.055,
  'radius_std': 1.2940054095713813},
 'ice': {'count': 2.0,
  'prob': 0.14285714285714285,
  'mass_mean': 15.8415,
  'mass_std': 1.846255805678074,
  'radius_mean': 3.923,
  'radius_std': 0.08202438661763928},
 'terrestrial': {'count': 4.0,
  'prob': 0.2857142857142857,
  'mass_mean': 0.49432499999999996,
  'mass_std': 0.4834953524423305,
  'radius_mean': 0.7162,
  'radius_std': 0.3056014070648236}}

data about moon types:

In [5]:
mdata

{'moon': {'count': 13.0,
  'prob': 0.8125,
  'mass_mean': 0.005513153846153847,
  'mass_std': 0.009417033882333949,
  'radius_mean': 0.17966153846153846,
  'radius_std': 0.12918538706358867},
 'terrestrial': {'count': 3.0,
  'prob': 0.1875,
  'mass_mean': 0.011778333333333333,
  'mass_std': 0.0035116816959020257,
  'radius_mean': 0.26786666666666664,
  'radius_std': 0.020873987001369262}}

## The star system

In [6]:
system = {
    "name": make_word(rnd(2, 1)),
    "label": "system",
    "objid": uuid(n=13),
}
system

{'name': 'bağsmithfes', 'label': 'system', 'objid': '8507511526381'}

## the sun
just using a binary star system at this time

In [7]:
star = {"name": make_word(rnd(2, 1)), "label": "star", "objid": uuid(n=13)}
star

{'name': 'heinrātsís', 'label': 'star', 'objid': '9105476948817'}

now a list of planets

In [8]:
pd.DataFrame([make_planet(p) for p in pdata.keys()])

    planetType        name   label          objid        mass    radius  order
0        dwarf     mutteus  planet  1653595194413    0.000758  0.112253      4
1          gas    lotyrloe  planet  8144626097052  191.395714  8.133738      2
2          ice     rañpang  planet  9521010322295   16.283803  3.951868      3
3  terrestrial  ershūdphot  planet  5360045772982    1.275777  0.810815      1

In [9]:
planets = [
    make_planet(
        r.choice(list(pdata.keys()), p=[pdata[t]["prob"] for t in pdata.keys()])
    )
    for p in range(int(data["num_planets"]))
]
pd.DataFrame(planets).sort_values("order")

,planetType,name,label,objid,mass,radius,order
0,terrestrial,phetc,planet,4495023898394,0.831645,0.647776,1
2,terrestrial,vianskhwen,planet,4162493217243,0.243860,0.421422,1
5,terrestrial,pokghā,planet,5066359597563,0.037319,0.377618,1
1,gas,goirwacnoan,planet,7011133043127,132.677838,9.842791,2
3,gas,dseetrăngcall,planet,7171389882181,143.764420,11.052829,2
4,gas,ransshoogs,planet,3427084495501,156.781095,10.873221,2

In [10]:
moons = [
    make_moon(
        r.choice(list(mdata.keys()), p=[mdata[t]["prob"] for t in mdata.keys()]),
        planets,
    )
    for p in range(int(data["num_moons"]))
]
pd.DataFrame(moons).sort_values("orbitsId")

,moonType,name,label,objid,mass,radius,orbitsId,orbitsName
5,moon,zazdürkyuckoź,moon,2371199601873,0.013949,0.152297,3427084495501,ransshoogs
20,moon,biá,moon,6350156326594,0.003905,0.035329,3427084495501,ransshoogs
14,moon,qūşstiltác,moon,9646675072171,0.001087,0.116148,3427084495501,ransshoogs
18,terrestrial,bach,moon,2968491824872,0.014814,0.274029,3427084495501,ransshoogs
8,moon,voosay,moon,6919174023179,0.002278,0.216019,4162493217243,vianskhwen
1,moon,lowstang,moon,8164119380215,0.010456,0.234900,4162493217243,vianskhwen
2,moon,kfı,moon,4756989599535,0.014039,0.037173,4162493217243,vianskhwen
3,moon,hrāblaydoux,moon,7997842038695,0.010131,0.303302,4162493217243,vianskhwen
4,moon,rožnar,moon,8622749632384,0.009727,0.156917,4162493217243,vianskhwen
6,terrestrial,bāsfacbuí,moon,5541493117880,0.019884,0.235039,4162493217243,vianskhwen
15,moon,cheikhsłówjü,moon,0925262999204,0.003121,0.007325,4162493217243,vianskhwen
21,terrestrial,quicshaţ,moon,6654983427582,0.014087,0.285930,4495023898394,phetc
10,moon,colgnitzglung,moon,5642870192883,0.007619,0.171035,4495023898394,phetc
16,terrestrial,kao,moon,8000308716811,0.016431,0.279166,5066359597563,pokghā
22,moon,jun,moon,4508856412088,0.003806,0.256445,7011133043127,goirwacnoan
19,terrestrial,sheovárgramgunj,moon,7010052208870,0.012174,0.290195,7011133043127,goirwacnoan
0,moon,cânnahrīr,moon,0195597853522,0.025210,0.078541,7011133043127,goirwacnoan
11,moon,rounbiermée,moon,7947750755212,0.001394,0.295360,7171389882181,dseetrăngcall
13,terrestrial,xmoan,moon,3954541129298,0.015962,0.273904,7171389882181,dseetrăngcall
12,terrestrial,chàmpam,moon,7489032688623,0.009731,0.282063,7171389882181,dseetrăngcall
9,moon,,moon,0626877139573,0.006999,0.435595,7171389882181,dseetrăngcall
7,terrestrial,rinskbaalda,moon,9725117491965,0.006809,0.291324,7171389882181,dseetrăngcall
17,terrestrial,op,moon,5656189885433,0.012791,0.299626,7171389882181,dseetrăngcall
23,moon,hyblanhīnsk,moon,7435482642754,0.011861,0.004504,7171389882181,dseetrăngcall

## Putting all of these objects together

In [11]:
pd.concat(
    [
        pd.DataFrame([system]),
        pd.DataFrame([star]),
        pd.DataFrame(moons),
        pd.DataFrame(planets),
    ]
).reset_index(drop=True)

,name,label,objid,moonType,mass,radius,orbitsId,orbitsName,planetType,order
0,bağsmithfes,system,8507511526381,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,heinrātsís,star,9105476948817,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,cânnahrīr,moon,0195597853522,moon,0.025210,0.078541,7011133043127,goirwacnoan,NaN,NaN
3,lowstang,moon,8164119380215,moon,0.010456,0.234900,4162493217243,vianskhwen,NaN,NaN
4,kfı,moon,4756989599535,moon,0.014039,0.037173,4162493217243,vianskhwen,NaN,NaN
5,hrāblaydoux,moon,7997842038695,moon,0.010131,0.303302,4162493217243,vianskhwen,NaN,NaN
6,rožnar,moon,8622749632384,moon,0.009727,0.156917,4162493217243,vianskhwen,NaN,NaN
7,zazdürkyuckoź,moon,2371199601873,moon,0.013949,0.152297,3427084495501,ransshoogs,NaN,NaN
8,bāsfacbuí,moon,5541493117880,terrestrial,0.019884,0.235039,4162493217243,vianskhwen,NaN,NaN
9,rinskbaalda,moon,9725117491965,terrestrial,0.006809,0.291324,7171389882181,dseetrăngcall,NaN,NaN
10,voosay,moon,6919174023179,moon,0.002278,0.216019,4162493217243,vianskhwen,NaN,NaN
11,,moon,0626877139573,moon,0.006999,0.435595,7171389882181,dseetrăngcall,NaN,NaN
12,colgnitzglung,moon,5642870192883,moon,0.007619,0.171035,4495023898394,phetc,NaN,NaN
13,rounbiermée,moon,7947750755212,moon,0.001394,0.295360,7171389882181,dseetrăngcall,NaN,NaN
14,chàmpam,moon,7489032688623,terrestrial,0.009731,0.282063,7171389882181,dseetrăngcall,NaN,NaN
15,xmoan,moon,3954541129298,terrestrial,0.015962,0.273904,7171389882181,dseetrăngcall,NaN,NaN
16,qūşstiltác,moon,9646675072171,moon,0.001087,0.116148,3427084495501,ransshoogs,NaN,NaN
17,cheikhsłówjü,moon,0925262999204,moon,0.003121,0.007325,4162493217243,vianskhwen,NaN,NaN
18,kao,moon,8000308716811,terrestrial,0.016431,0.279166,5066359597563,pokghā,NaN,NaN
19,op,moon,5656189885433,terrestrial,0.012791,0.299626,7171389882181,dseetrăngcall,NaN,NaN
20,bach,moon,2968491824872,terrestrial,0.014814,0.274029,3427084495501,ransshoogs,NaN,NaN
21,sheovárgramgunj,moon,7010052208870,terrestrial,0.012174,0.290195,7011133043127,goirwacnoan,NaN,NaN
22,biá,moon,6350156326594,moon,0.003905,0.035329,3427084495501,ransshoogs,NaN,NaN
23,quicshaţ,moon,6654983427582,terrestrial,0.014087,0.285930,4495023898394,phetc,NaN,NaN
24,jun,moon,4508856412088,moon,0.003806,0.256445,7011133043127,goirwacnoan,NaN,NaN
25,hyblanhīnsk,moon,7435482642754,moon,0.011861,0.004504,7171389882181,dseetrăngcall,NaN,NaN
26,phetc,planet,4495023898394,NaN,0.831645,0.647776,NaN,NaN,terrestrial,1.0
27,goirwacnoan,planet,7011133043127,NaN,132.677838,9.842791,NaN,NaN,gas,2.0
28,vianskhwen,planet,4162493217243,NaN,0.243860,0.421422,NaN,NaN,terrestrial,1.0
29,dseetrăngcall,planet,7171389882181,NaN,143.764420,11.052829,NaN,NaN,gas,2.0
30,ransshoogs,planet,3427084495501,NaN,156.781095,10.873221,NaN,NaN,gas,2.0
31,pokghā,planet,5066359597563,NaN,0.037319,0.377618,NaN,NaN,terrestrial,1.0

In [12]:
nodes = [system] + [star] + moons + planets

In [13]:
len(nodes)

32

In [15]:
nodes = build_homeSystem(data)

In [16]:
len(nodes)

32