# Loading and parsing the data

In [1]:
import pandas as pd
import numpy as np

The first 100 lines of the file are dictionary definitions. Usefull but not a dataframe.

In [5]:
df = pd.read_csv('../data/PS_2021.02.26_19.09.39.csv',skiprows=100)

In [6]:
df

,pl_name,hostname,default_flag,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,soltype,pl_controv_flag,...,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
0,30 Ari B b,30 Ari B,0,4,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.023,5.822,0.021,-0.021,6.96085,0.000512,-0.000512,2018-04-25,2015-11,2015-12-03
1,30 Ari B b,30 Ari B,0,4,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.023,5.822,0.021,-0.021,6.96085,0.000512,-0.000512,2018-04-25,2009-12,2014-05-14
2,30 Ari B b,30 Ari B,1,4,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.023,5.822,0.021,-0.021,6.96085,0.000512,-0.000512,2018-09-04,2017-03,2018-09-06
3,PH1 b,PH1,1,4,1,Transit,2012,Kepler,Published Confirmed,0,...,-0.149,12.395,0.021,-0.021,13.69880,0.001604,-0.001604,2014-05-14,2013-05,2014-05-14
4,16 Cyg B b,16 Cyg B,0,3,1,Radial Velocity,1996,Multiple Observatories,Published Confirmed,0,...,-0.016,4.651,0.016,-0.016,6.06428,0.000603,-0.000603,2018-04-25,2007-01,2014-09-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29334,tau Cet h,tau Cet,1,1,4,Radial Velocity,2017,Multiple Observatories,Published Confirmed,0,...,-0.023,1.794,0.274,-0.274,3.24854,0.010399,-0.010399,2017-08-14,2017-10,2017-08-17
29335,tau Gem b,tau Gem,0,1,1,Radial Velocity,2013,Lick Observatory,Published Confirmed,0,...,-0.023,1.681,0.254,-0.254,4.03996,0.006709,-0.006709,2014-05-16,2003-12,2014-05-16
29336,tau Gem b,tau Gem,1,1,1,Radial Velocity,2013,Lick Observatory,Published Confirmed,0,...,-0.023,1.681,0.254,-0.254,4.03996,0.006709,-0.006709,2014-05-14,2013-07,2014-05-14
29337,xi Aql b,xi Aql,1,1,1,Radial Velocity,2007,Okayama Astrophysical Observatory,Published Confirmed,0,...,-0.023,2.171,0.220,-0.220,4.42501,0.003837,-0.003837,2014-05-14,2008-06,2014-05-14
29338,xi Aql b,xi Aql,0,1,1,Radial Velocity,2007,Okayama Astrophysical Observatory,Published Confirmed,0,...,-0.023,2.171,0.220,-0.220,4.42501,0.003837,-0.003837,2014-07-23,2011-08,2014-07-23

First, is the pl_name a primary key?

In [10]:
len(df['pl_name'].unique()),  len(df['pl_name'])

(4352, 29339)

Ok, so no. Then what does that pl_name mean and which column is unique.

In [14]:
one_p_name = df.loc[0,'pl_name']

df[df['pl_name']==one_p_name]

,pl_name,hostname,default_flag,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,soltype,pl_controv_flag,...,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
0,30 Ari B b,30 Ari B,0,4,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.023,5.822,0.021,-0.021,6.96085,0.000512,-0.000512,2018-04-25,2015-11,2015-12-03
1,30 Ari B b,30 Ari B,0,4,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.023,5.822,0.021,-0.021,6.96085,0.000512,-0.000512,2018-04-25,2009-12,2014-05-14
2,30 Ari B b,30 Ari B,1,4,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.023,5.822,0.021,-0.021,6.96085,0.000512,-0.000512,2018-09-04,2017-03,2018-09-06

In [17]:
print(df.loc[0,'pl_refname'])

<a refstr=KANE_ET_AL__2015 href=https://ui.adsabs.harvard.edu/abs/2015ApJ...815...32K/abstract target=ref>Kane et al. 2015 </a>