# Loading and parsing the data

In [23]:
import pandas as pd
import numpy as np

import altair as alt

The first 100 lines of the file are dictionary definitions. Usefull but not a dataframe.

In [5]:
df = pd.read_csv('../data/PS_2021.02.26_19.09.39.csv',skiprows=117)

In [6]:
df

,pl_name,hostname,pl_letter,hd_name,gaia_id,default_flag,sy_snum,sy_pnum,sy_mnum,cb_flag,...,elon,sy_dist,sy_disterr1,sy_disterr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
0,11 Com b,11 Com,b,HD 107383,Gaia DR2 3946945413106333696,0,2,1,0,0,...,177.4224,93.1846,1.92380,-1.92380,4.44038,0.003848,-0.003848,2014-07-23,2011-08,2014-07-23
1,11 Com b,11 Com,b,HD 107383,Gaia DR2 3946945413106333696,1,2,1,0,0,...,177.4224,93.1846,1.92380,-1.92380,4.44038,0.003848,-0.003848,2014-05-14,2008-01,2014-05-14
2,11 UMi b,11 UMi,b,HD 136726,Gaia DR2 1696798367260229376,0,1,1,0,0,...,141.6472,125.3210,1.97650,-1.97650,4.56216,0.003903,-0.003903,2018-04-25,2009-10,2014-05-14
3,11 UMi b,11 UMi,b,HD 136726,Gaia DR2 1696798367260229376,1,1,1,0,0,...,141.6472,125.3210,1.97650,-1.97650,4.56216,0.003903,-0.003903,2018-09-04,2017-03,2018-09-06
4,11 UMi b,11 UMi,b,HD 136726,Gaia DR2 1696798367260229376,0,1,1,0,0,...,141.6472,125.3210,1.97650,-1.97650,4.56216,0.003903,-0.003903,2018-04-25,2011-08,2014-07-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29372,ups And d,ups And,d,HD 9826,Gaia DR2 348020448377061376,0,2,3,0,0,...,38.5502,13.4054,0.06350,-0.06290,3.98687,0.008937,-0.008937,2015-04-24,2009-03,2015-04-24
29373,ups And d,ups And,d,HD 9826,Gaia DR2 348020448377061376,1,2,3,0,0,...,38.5502,13.4054,0.06350,-0.06290,3.98687,0.008937,-0.008937,2019-01-28,2011-01,2019-01-31
29374,ups And d,ups And,d,HD 9826,Gaia DR2 348020448377061376,0,2,3,0,0,...,38.5502,13.4054,0.06350,-0.06290,3.98687,0.008937,-0.008937,2014-09-18,2007-01,2014-09-18
29375,xi Aql b,xi Aql,b,HD 188310,Gaia DR2 4298361114750843904,0,1,1,0,0,...,302.6330,56.1858,0.55975,-0.55975,4.42501,0.003837,-0.003837,2014-07-23,2011-08,2014-07-23
29376,xi Aql b,xi Aql,b,HD 188310,Gaia DR2 4298361114750843904,1,1,1,0,0,...,302.6330,56.1858,0.55975,-0.55975,4.42501,0.003837,-0.003837,2014-05-14,2008-06,2014-05-14

Using the 'Gaia ID` as the planets ID.

In [9]:
len(df['pl_name'].unique()),  len(df['pl_name'])

(4367, 29377)

Sorting by `pl_pubdate` to get the most up-to-date record.

In [15]:
one_p_name = df.loc[0,'gaia_id']

df[df['gaia_id']==one_p_name].T

                                           0                             1
pl_name                             11 Com b                      11 Com b
hostname                              11 Com                        11 Com
pl_letter                                  b                             b
hd_name                            HD 107383                     HD 107383
gaia_id         Gaia DR2 3946945413106333696  Gaia DR2 3946945413106333696
...                                      ...                           ...
sy_gaiamagerr1                     0.0038479                     0.0038479
sy_gaiamagerr2                    -0.0038479                    -0.0038479
rowupdate                         2014-07-23                    2014-05-14
pl_pubdate                           2011-08                       2008-01
releasedate                       2014-07-23                    2014-05-14

[111 rows x 2 columns]

In [22]:
df = df.sort_values('pl_pubdate').drop_duplicates('pl_name')
df

,pl_name,hostname,pl_letter,hd_name,gaia_id,default_flag,sy_snum,sy_pnum,sy_mnum,cb_flag,...,elon,sy_dist,sy_disterr1,sy_disterr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
28342,PSR B1257+12 c,PSR B1257+12,c,NaN,NaN,0,1,3,0,0,...,188.722087,600.0000,100.0000,-100.0000,NaN,NaN,NaN,2015-04-30,1992-01,2015-04-30
28344,PSR B1257+12 d,PSR B1257+12,d,NaN,NaN,0,1,3,0,0,...,188.722087,600.0000,100.0000,-100.0000,NaN,NaN,NaN,2015-04-30,1992-01,2015-04-30
28338,PSR B1257+12 b,PSR B1257+12,b,NaN,NaN,0,1,3,0,0,...,188.722087,600.0000,100.0000,-100.0000,NaN,NaN,NaN,2015-04-30,1994-04,2015-04-30
53,51 Peg b,51 Peg,b,HD 217014,Gaia DR2 2835207319109249920,0,1,1,0,0,...,354.284100,15.4614,0.0297,-0.0297,5.28647,0.002768,-0.002768,2016-11-01,1995-11,2016-11-03
29353,tau Boo b,tau Boo,b,HD 120136,Gaia DR2 1244571953471006720,0,2,1,0,0,...,197.931800,15.6521,0.0847,-0.0838,4.36617,0.006422,-0.006422,2014-08-27,1997-01,2014-08-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,GJ 414 A b,GJ 414 A,b,HD 97101 A,Gaia DR2 732857558276385664,1,2,2,0,0,...,156.342900,11.8893,0.0067,-0.0067,7.72808,0.000672,-0.000672,2021-03-12,2021-02,2021-03-18
1267,HD 13808 c,HD 13808,c,HD 13808,Gaia DR2 4743692151804240896,1,1,2,0,0,...,357.244600,28.2305,0.0257,-0.0258,8.11006,0.000272,-0.000272,2021-02-25,2021-02,2021-03-04
1266,HD 13808 b,HD 13808,b,HD 13808,Gaia DR2 4743692151804240896,1,1,2,0,0,...,357.244600,28.2305,0.0257,-0.0258,8.11006,0.000272,-0.000272,2021-02-25,2021-02,2021-03-04
28473,TOI-451 b,TOI-451,b,NaN,Gaia DR2 4844691297067063424,1,2,3,0,0,...,48.132120,123.7390,0.3860,-0.3840,10.74980,0.000849,-0.000849,2021-01-21,2021-02,2021-01-28
28475,TOI-451 d,TOI-451,d,NaN,Gaia DR2 4844691297067063424,1,2,3,0,0,...,48.132120,123.7390,0.3860,-0.3840,10.74980,0.000849,-0.000849,2021-01-21,2021-02,2021-01-28

In [ ]:
df.T.to_dict()