# Adding Resources and Atmosphere to planets

Using a chart I found on [NASA.gov](https://www.nasa.gov/sites/default/files/files/YOSS_Act_4.pdf)

In [1]:
import numpy as np
import pandas as pd

import sys, os
import altair as alt

# mapping to the modules that make the app
sys.path.insert(0, "../../app")


%load_ext lab_black

In [58]:
import creators.universe as universe
import creators.maths as maths

In [25]:
og_df = pd.read_csv("../../data/solar_system_atmosphere.csv")
og_df

,Object,Carbon Dioxide,Nitrogen,Oxygen,Argon,Methane,Sodium,Hydrogen,Helium
0,Mercury,NaN,NaN,0.42,NaN,NaN,0.22,0.22,0.06
1,Venus,0.96,0.04,NaN,NaN,NaN,NaN,NaN,NaN
2,Earth,NaN,0.78,0.21,0.01,NaN,NaN,NaN,NaN
3,Moon,NaN,NaN,NaN,0.70,0.01,0.29,NaN,NaN
4,Mars,0.95,0.03,NaN,0.02,NaN,NaN,NaN,NaN
5,Jupiter,NaN,NaN,NaN,NaN,NaN,NaN,0.90,0.10
6,Saturn,NaN,NaN,NaN,NaN,NaN,NaN,0.96,0.03
7,Titan,NaN,0.97,NaN,NaN,0.02,NaN,NaN,NaN
8,Uranus,NaN,NaN,NaN,NaN,0.02,NaN,0.83,0.15
9,Neptune,NaN,NaN,NaN,NaN,0.01,NaN,0.80,0.19
10,Pluto,0.08,0.90,NaN,NaN,0.02,NaN,NaN,NaN

Mapping that data to the size of planets in my list.

In [50]:
sum_df = pd.DataFrame(
    og_df[[col for col in og_df.columns if col not in ["Object"]]].mean(),
    columns=["mean"],
)
sum_df["std"] = og_df[[col for col in og_df.columns if col not in ["Object"]]].std()
sum_df = sum_df.T.to_dict()
sum_df

{'Carbon Dioxide': {'mean': 0.6633333333333333, 'std': 0.5052062285179522},
 'Nitrogen': {'mean': 0.544, 'std': 0.46960621801675495},
 'Oxygen': {'mean': 0.315, 'std': 0.14849242404917498},
 'Argon': {'mean': 0.24333333333333332, 'std': 0.3955165398985652},
 'Methane': {'mean': 0.016, 'std': 0.005477225575051661},
 'Sodium': {'mean': 0.255, 'std': 0.04949747468305831},
 'Hydrogen': {'mean': 0.742, 'std': 0.29836219599674485},
 'Helium': {'mean': 0.10600000000000001, 'std': 0.0650384501660364}}

In [63]:
dist = maths.rnd_dist(sum_df)
dist

[{'Carbon Dioxide': 0.259},
 {'Nitrogen': 0.201},
 {'Oxygen': 0.086},
 {'Argon': 0.177},
 {'Methane': 0.006},
 {'Sodium': 0.026},
 {'Hydrogen': 0.211},
 {'Helium': 0.034}]