# The Genesis process

Creating a new game requires the creation of a system and planets, factions and people.

This notebook tests that process as well as documents it. This notebook tests several attributes of the generation process to ensure that the code is sound.

In [1]:
import numpy as np
import pandas as pd

import sys, os, yaml, ssl, asyncio
import altair as alt

# mapping to the modules that make the app
sys.path.insert(0, "../..")
sys.path.insert(0, "../../app")

%load_ext lab_black

In [2]:
from app import creators
from app import objects

In [3]:
from app.creators import homeworld
from app.creators import universe

An example `data` set for testing. This is the user form that the user submits when creating a new game. 

You can get this from the template at `app\templates\app\creation\genesis.js`

In [4]:
data = {
    "label": "form",
    "name": "worldgenform",
    "objid": "0000000000001",
    "owner": "user.username",
    "username": "user.username",
    "accountid": "0000000000001",
    "conformity": 0.5,
    "constitution": 0.5,
    "literacy": 0.5,
    "aggression": 0.5,
    "num_planets": 4,
    "num_moons": 10,
    "starting_pop": 7,
    "organics": 0.5,
    "minerals": 0.5,
}

You'll also need to configuration files.

In [5]:
conf = creators.universe.configurations.get_configurations()

Each object as an `__init__` function that creates it, however not all data is spawed on init.

## The Solar System and Planets

In [6]:
system = universe.celestials.System(data)
system

In [7]:
system.get_data()

{'objid': '3953720330656',
 'name': 'Bonvalaudas',
 'label': 'sytem',
 'class': 'ordered',
 'isHomeSystem': True,
 'glat': -23.301,
 'glon': -20.2,
 'gelat': -9.337}

Each object as an `__init__` function that creates it, and populates it with data available at that time. Celestial objects have dependancies on other objects.

In [8]:
star = objects.celestials.Star(conf["star_config"], system)
star.get_data()

{'name': 'Tla',
 'class': 'G',
 'objid': '7797554080866',
 'label': 'star',
 'radius': 106}

Each object also inherits a `get_fundamentals()` method that ensures that needed default values are present. `get_data()` extends that functionality. This ensures that objects can alwasy interact with the graph.

In [9]:
star.get_fundimentals()

{'name': 'Tla', 'class': 'G', 'objid': '7797554080866', 'label': 'star'}

Procedurally generated planets chose from a list of potential types in the `conf`. To force a particular kind of outcome, reduce the options in the configuration.

In [10]:
terrestrial_config = {"terrestrial": conf["planet_config"]["terrestrial"]}
home_planet = objects.celestials.Planet(conf=terrestrial_config, orbiting=star)
home_planet.get_data()

{'name': 'Gorono',
 'class': 'terrestrial',
 'objid': '5201020943932',
 'label': 'planet',
 'radius': 0.333,
 'mass': 0.259,
 'orbitsDistance': 0.897,
 'orbitsId': '7797554080866',
 'orbitsName': 'Tla',
 'isSupportsLife': False,
 'isPopulated': False}

Creating a group of planets using list comprehension. Note that celestial objects have a custom `__repr__` function that makes them easy to manage.

In [11]:
planets = [
    objects.celestials.Planet(conf=conf["planet_config"], orbiting=star)
    for p in range(int(data["num_planets"]) - 1)
]
planets

[<planet: dwarf; 5781473848974; Brid>,
 <planet: dwarf; 6135751561888; Barcan>,
 <planet: gas; 8497574921199; Passaurespon>]

In [12]:
moons = [
    objects.celestials.Moon(conf["moon_config"], planets)
    for p in range(int(data["num_moons"]))
]
moons

[<moon: rocky; 6990875998657; Man>,
 <moon: rocky; 3182923456698; Montle>,
 <moon: ice; 8532289226773; Lettil>,
 <moon: terrestrial; 9955846087337; Portbadcankay>,
 <moon: rocky; 9688970250946; Cocialeyja>,
 <moon: rocky; 9549632577162; Dromekay>,
 <moon: rocky; 6466670404439; Yotosvo>,
 <moon: rocky; 1016186898417; Asnisrougorsk>,
 <moon: rocky; 7120339169412; A>,
 <moon: rocky; 0480066307256; Angui>]

Getting the nodes and edges of each by calling the `self.orbiting` propperty.

In [13]:
moons[0].orbiting

In [14]:
home_planet.orbiting

Additionally, you can quickly navigate the system by referencing other objects.

In [15]:
home_planet.orbiting.system

Getting the nodes for the graph. Sandwich all of the items together and get the data using the same generic function.

In [16]:
all_entities = [system] + [star] + moons + planets + [home_planet]
all_nodes = [b.get_data() for b in all_entities]
pd.DataFrame(all_nodes)

,objid,name,label,class,isHomeSystem,glat,glon,gelat,radius,orbitsId,orbitsName,orbitsDistance,mass,isSupportsLife,isPopulated
0,3953720330656,Bonvalaudas,sytem,ordered,True,-23.301,-20.2,-9.337,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7797554080866,Tla,star,G,NaN,NaN,NaN,NaN,106.000000,NaN,NaN,NaN,NaN,NaN,NaN
2,6990875998657,Man,moon,rocky,NaN,NaN,NaN,NaN,0.201730,8497574921199,Passaurespon,4.0110,0.000208,False,False
3,3182923456698,Montle,moon,rocky,NaN,NaN,NaN,NaN,0.035100,6135751561888,Barcan,0.1711,0.000433,False,False
4,8532289226773,Lettil,moon,ice,NaN,NaN,NaN,NaN,0.006780,6135751561888,Barcan,0.2440,0.025442,False,False
5,9955846087337,Portbadcankay,moon,terrestrial,NaN,NaN,NaN,NaN,0.008610,6135751561888,Barcan,0.1770,0.008142,False,False
6,9688970250946,Cocialeyja,moon,rocky,NaN,NaN,NaN,NaN,0.004084,5781473848974,Brid,0.0671,0.000247,False,False
7,9549632577162,Dromekay,moon,rocky,NaN,NaN,NaN,NaN,0.776062,8497574921199,Passaurespon,4.0001,0.000583,False,False
8,6466670404439,Yotosvo,moon,rocky,NaN,NaN,NaN,NaN,0.433846,8497574921199,Passaurespon,4.0270,0.000570,False,False
9,1016186898417,Asnisrougorsk,moon,rocky,NaN,NaN,NaN,NaN,0.032431,6135751561888,Barcan,0.1920,0.000179,False,False
10,7120339169412,A,moon,rocky,NaN,NaN,NaN,NaN,0.291849,8497574921199,Passaurespon,4.0001,0.000013,False,False
11,0480066307256,Angui,moon,rocky,NaN,NaN,NaN,NaN,0.004471,6135751561888,Barcan,0.1711,0.000181,False,False
12,5781473848974,Brid,planet,dwarf,NaN,NaN,NaN,NaN,0.067000,7797554080866,Tla,44.2750,0.000000,False,False
13,6135751561888,Barcan,planet,dwarf,NaN,NaN,NaN,NaN,0.171000,7797554080866,Tla,38.8870,0.004000,False,False
14,8497574921199,Passaurespon,planet,gas,NaN,NaN,NaN,NaN,4.000000,7797554080866,Tla,7.7280,4.000000,False,False
15,5201020943932,Gorono,planet,terrestrial,NaN,NaN,NaN,NaN,0.333000,7797554080866,Tla,0.8970,0.259000,False,False

Getting the edge values to update the graph:

In [17]:
orbiting_bodies = [home_planet] + planets + moons

orbiting_edges = [i.get_orbits_edge() for i in orbiting_bodies]

pd.DataFrame(orbiting_edges)

            node1          node2   label  orbit_distance
0   5201020943932  7797554080866  orbits          0.8970
1   5781473848974  7797554080866  orbits         44.2750
2   6135751561888  7797554080866  orbits         38.8870
3   8497574921199  7797554080866  orbits          7.7280
4   6990875998657  8497574921199  orbits          0.0110
5   3182923456698  6135751561888  orbits          0.0001
6   8532289226773  6135751561888  orbits          0.0730
7   9955846087337  6135751561888  orbits          0.0060
8   9688970250946  5781473848974  orbits          0.0001
9   9549632577162  8497574921199  orbits          0.0001
10  6466670404439  8497574921199  orbits          0.0270
11  1016186898417  6135751561888  orbits          0.0210
12  7120339169412  8497574921199  orbits          0.0001
13  0480066307256  6135751561888  orbits          0.0001

In [25]:
pd.DataFrame(orbiting_edges).groupby(["node1", "node2"]).count()["label"].mean() == 1

True

In [20]:
pd.DataFrame(orbiting_edges).groupby(["node2"]).count()

               node1  label  orbit_distance
node2
5781473848974      1      1               1
6135751561888      5      5               5
7797554080866      4      4               4
8497574921199      4      4               4

Check the orbiting logic

In [18]:
[
    f"{i.type} {i.label} orbits a {i.orbiting.type} {i.orbiting.label}"
    for i in orbiting_bodies
]

['terrestrial planet orbits a G star',
 'dwarf planet orbits a G star',
 'dwarf planet orbits a G star',
 'dwarf planet orbits a G star',
 'rocky moon orbits a dwarf planet',
 'terrestrial moon orbits a dwarf planet',
 'ice moon orbits a dwarf planet',
 'rocky moon orbits a dwarf planet',
 'ice moon orbits a dwarf planet',
 'rocky moon orbits a dwarf planet',
 'ice moon orbits a dwarf planet',
 'rocky moon orbits a dwarf planet',
 'rocky moon orbits a dwarf planet',
 'rocky moon orbits a dwarf planet']

In [19]:
system_bodies = orbiting_bodies + [star]

system_edges = [i.get_in_system_edge() for i in system_bodies]

pd.DataFrame(system_edges)

            node1          node2 label
0   4452486213974  8691092916686  isIn
1   9849777958292  8691092916686  isIn
2   8646991370610  8691092916686  isIn
3   1260030588143  8691092916686  isIn
4   1534660812247  8691092916686  isIn
5   7230042382801  8691092916686  isIn
6   8717834587425  8691092916686  isIn
7   9981760511129  8691092916686  isIn
8   4814605558205  8691092916686  isIn
9   8346992745823  8691092916686  isIn
10  8471613052155  8691092916686  isIn
11  4681485558055  8691092916686  isIn
12  4730879842865  8691092916686  isIn
13  2609976509617  8691092916686  isIn
14  8924144735502  8691092916686  isIn

### Scanning the homeworld
the homeworld already has some resources known. `scan_body()` is inherited by the base object. So everyone should be able to do it.

In [26]:
home_planet.scan_body()
home_planet.resources

[<resource: 8537055978479; Organic>,
 <resource: 4773755133358; Common Minerals>,
 <resource: 1824772235111; Rare Minerals>,
 <resource: 8047840988448; Water>]

In [27]:
pd.DataFrame([i.get_data() for i in home_planet.resources])

,name,objid,label,volume,max_volume,description,replenish_rate
0,Organic,8537055978479,resource,1230,1230,bilogical material that can be consumed by pops,10.0
1,Common Minerals,4773755133358,resource,98,98,Iron and other common material used in constru...,NaN
2,Rare Minerals,1824772235111,resource,50,50,"lithium, silver and other rare minerals used i...",NaN
3,Water,8047840988448,resource,10791,10791,"H2O ready to be consumed, either frozen or in ...",NaN

In [28]:
pd.DataFrame([i.get_location_edge() for i in home_planet.resources])

           node1          node2 label
0  5201020943932  8537055978479   has
1  5201020943932  4773755133358   has
2  5201020943932  1824772235111   has
3  5201020943932  8047840988448   has

In [29]:
[
    f"{i.location.type} {i.location.label} has {i.volume} {i.name}"
    for i in home_planet.resources
]

['terrestrial planet has 1230 Organic',
 'terrestrial planet has 98 Common Minerals',
 'terrestrial planet has 50 Rare Minerals',
 'terrestrial planet has 10791 Water']

# The Full Automated Process

Usefull as QA, to ensure that the process will run end-to-end

In [30]:
homesystem_data = universe.build_homeSystem(data, username="notebook")
pd.DataFrame(homesystem_data["nodes"])

,objid,name,label,class,isHomeSystem,glat,glon,gelat,radius,orbitsId,...,accountid,conformity,constitution,literacy,aggression,num_planets,num_moons,starting_pop,organics,minerals
0,0493808020192,Prokotalhal,sytem,ordered,True,19.356,15.468,8.579,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8860194747702,Biakas,star,G,NaN,NaN,NaN,NaN,106.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9621403039735,Que,moon,rocky,NaN,NaN,NaN,NaN,0.019812,9134638043786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4679393699903,Huitinpa,moon,ice,NaN,NaN,NaN,NaN,0.152018,6008105044651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2179923371368,Zobanhan,moon,rocky,NaN,NaN,NaN,NaN,0.011582,9134638043786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1963868804050,Saintbralon,moon,rocky,NaN,NaN,NaN,NaN,0.024607,9134638043786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7674409643269,Piapet,moon,rocky,NaN,NaN,NaN,NaN,0.782439,6008105044651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0221802623708,Pingber,moon,ice,NaN,NaN,NaN,NaN,0.065075,8005408870973,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,7910405742639,Arvilte,moon,rocky,NaN,NaN,NaN,NaN,0.003429,9134638043786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1059086730242,Sulsnofield,moon,rocky,NaN,NaN,NaN,NaN,0.001717,9134638043786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9984149394057,Turroy,moon,rocky,NaN,NaN,NaN,NaN,0.019005,5294256496191,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1269138257149,Bilher,moon,rocky,NaN,NaN,NaN,NaN,1.472400,6008105044651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5294256496191,Dimunflo,planet,terrestrial,NaN,NaN,NaN,NaN,0.723000,8860194747702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,9134638043786,Lasbay,planet,dwarf,NaN,NaN,NaN,NaN,0.090000,8860194747702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6008105044651,Bendad,planet,gas,NaN,NaN,NaN,NaN,4.000000,8860194747702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,8005408870973,Gakoyer,planet,terrestrial,NaN,NaN,NaN,NaN,1.168000,8860194747702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,8005408870973,Gakoyer,planet,terrestrial,NaN,NaN,NaN,NaN,1.168000,8860194747702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,9169540515985,Organic,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1300879708147,Common Minerals,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9145522872933,Rare Minerals,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,7368436775433,Water,resource,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,0000000000001,worldgenform,form,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0000000000001,0.5,0.5,0.5,0.5,4.0,10.0,7.0,0.5,0.5

In [32]:
print(
    f"{len(homesystem_data['edges'])}  total edges for {len(homesystem_data['nodes'])} objects"
)
pd.DataFrame(homesystem_data["edges"]).groupby("label").count()

37  total edges for 22 objects

             node1  node2  orbit_distance
label
createdFrom      1      1               0
has              4      4               0
isIn            16     16               0
orbits          15     15              15
submitted        1      1               0

**Check** Making sure that there are no duplicate edges. This dataframe should be empty.

In [85]:
dup_edges = pd.DataFrame(homesystem_data["edges"])
dup_edges[dup_edges.duplicated(["node1", "node2"])]

            node1          node2   label  orbit_distance
4   8005408870973  8860194747702  orbits           1.192
19  8005408870973  0493808020192    isIn             NaN

### Rulse For Ontology:
here is a point to check that the ontology matches this format:
* everything camelCase (starting on lower)
* Don't reference the subject in the edge label (has not hasResource)
* Every node is a Class that can be found in `objects`
* Form and Account are the exception

# The planet Surface

Entirely separate processes, the homeworld makes the population on a planet that already exists.

In [26]:
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

In [27]:
spec = objects.species.Species(data)
spec

In [28]:
pops = [objects.population.Pop(spec) for i in range(int(data["starting_pop"]))]
pops_df = pd.DataFrame([p.get_data() for p in pops])
pops_df

,name,objid,label,conformity,literacy,aggression,constitution,health,isInFaction,industry,wealth,factionLoyalty,isIdle
0,unnamed,1725094570539,pop,0.391,0.593,0.568,0.493,0.5,None,0.5305,0.56175,0.513,True
1,unnamed,0661587749240,pop,0.509,0.680,0.454,0.569,0.5,None,0.5115,0.59575,0.484,True
2,unnamed,9765425958616,pop,0.512,0.544,0.474,0.439,0.5,None,0.4565,0.50025,0.612,True
3,unnamed,7360924572408,pop,0.564,0.487,0.616,0.428,0.5,None,0.5220,0.50450,0.633,True
4,unnamed,1768984315923,pop,0.633,0.532,0.488,0.593,0.5,None,0.5405,0.53625,0.608,True
5,unnamed,6072035642591,pop,0.569,0.422,0.383,0.480,0.5,None,0.4315,0.42675,0.660,True
6,unnamed,1980869252349,pop,0.441,0.527,0.299,0.397,0.5,None,0.3480,0.43750,0.529,True

Populations (_pops_) are born with stats that are within normal distribution for it's species. They are not in a faction and don't have names. The faction will help to determine their names.

In [29]:
n_steps = 6
n_factions = homeworld.get_n_factions(n_steps, float(data["conformity"]))
n_factions

2

Using conformity to get the number of factions. Higher conformity, fewer factions.

In [30]:
starting_attributes = ["conformity", "literacy", "aggression", "constitution"]

kmeans = KMeans(n_clusters=n_factions).fit(
    pops_df[[c for c in pops_df.columns if c in starting_attributes]]
)
kmeans

KMeans(n_clusters=2)

In [31]:
factions = [objects.population.Faction(i) for i in range(kmeans.n_clusters)]
factions

[<faction: None; 7043075192983; Hedo>,
 <faction: None; 3542569953657; Pingtesnorth>]

In [32]:
kmeans.labels_

array([1, 1, 1, 1, 1, 0, 0])

In [33]:
for i, n in enumerate(kmeans.labels_):
    pops[i].set_faction(factions[n])
    print(f"pop: {pops[i]} belongs to faction: {factions[n]}")

pop: <pop: pop; 1725094570539; Pingtesnorth Reigorskfran> belongs to faction: <faction: None; 3542569953657; Pingtesnorth>
pop: <pop: pop; 0661587749240; Pingtesnorth Geenharhui> belongs to faction: <faction: None; 3542569953657; Pingtesnorth>
pop: <pop: pop; 9765425958616; Pingtesnorth La> belongs to faction: <faction: None; 3542569953657; Pingtesnorth>
pop: <pop: pop; 7360924572408; Pingtesnorth Can> belongs to faction: <faction: None; 3542569953657; Pingtesnorth>
pop: <pop: pop; 1768984315923; Pingtesnorth Sel> belongs to faction: <faction: None; 3542569953657; Pingtesnorth>
pop: <pop: pop; 6072035642591; Hedo Hamneudi> belongs to faction: <faction: None; 7043075192983; Hedo>
pop: <pop: pop; 1980869252349; Hedo Atmekha> belongs to faction: <faction: None; 7043075192983; Hedo>

The name of the population should match the name of the faction.

In [34]:
pops_df = pd.DataFrame([p.get_data() for p in pops])
pops_df

,name,objid,label,conformity,literacy,aggression,constitution,health,isInFaction,industry,wealth,factionLoyalty,isIdle
0,Pingtesnorth Reigorskfran,1725094570539,pop,0.391,0.593,0.568,0.493,0.5,3542569953657,0.5305,0.56175,0.513,True
1,Pingtesnorth Geenharhui,0661587749240,pop,0.509,0.680,0.454,0.569,0.5,3542569953657,0.5115,0.59575,0.484,True
2,Pingtesnorth La,9765425958616,pop,0.512,0.544,0.474,0.439,0.5,3542569953657,0.4565,0.50025,0.612,True
3,Pingtesnorth Can,7360924572408,pop,0.564,0.487,0.616,0.428,0.5,3542569953657,0.5220,0.50450,0.633,True
4,Pingtesnorth Sel,1768984315923,pop,0.633,0.532,0.488,0.593,0.5,3542569953657,0.5405,0.53625,0.608,True
5,Hedo Hamneudi,6072035642591,pop,0.569,0.422,0.383,0.480,0.5,7043075192983,0.4315,0.42675,0.660,True
6,Hedo Atmekha,1980869252349,pop,0.441,0.527,0.299,0.397,0.5,7043075192983,0.3480,0.43750,0.529,True

Just as the pops reference the faction, the faction has a list of it's populations.

In [35]:
factions[0].pops

[<pop: pop; 6072035642591; Hedo Hamneudi>,
 <pop: pop; 1980869252349; Hedo Atmekha>]

Creating a PCA to separate the factions by distance.

In [39]:
if n_factions >= 2:
    # using PCA to set populations on map:

    # PCA Part
    pca = PCA(n_components=2)
    X_r = pca.fit(kmeans.cluster_centers_).transform(kmeans.cluster_centers_)
    for i, f in enumerate(factions):
        f.pca_explained_variance_ratio = pca.explained_variance_ratio_
        f.lat = np.round(X_r[i][0], 3)
        f.long = np.round(X_r[i][1], 3)
else:
    # Only one faction, the lat and long is 0,0
    for i, f in enumerate(factions):
        f.lat = 0
        f.long = 0

In [41]:
pca.explained_variance_ratio_

array([1.00000000e+00, 3.14478388e-31])