# Managing population growth

In [1]:
import sys
import numpy as np
import pandas as pd
import altair as alt
# mapping to the modules that make the app
sys.path.insert(0, "../..")
sys.path.insert(0, "../../app")


import yaml, ssl, asyncio, pickle, os, ast


ssl._create_default_https_context = ssl._create_unverified_context
asyncio.set_event_loop_policy(asyncio.WindowsSelectorEventLoopPolicy())

import nest_asyncio
# this is required for running in a Jupyter Notebook. 
nest_asyncio.apply()

In [2]:
# mapping to the modules that make the app

sys.path.insert(0, "../..")
sys.path.insert(0, "../../app")
sys.path.insert(0, "../../functions/popgrowth/")

import cmdb_graph

c = cmdb_graph.CosmosdbClient()

In [3]:
params = yaml.safe_load(open(os.path.join(os.getenv("abspath"),"functions/popgrowth/settings.yml")))
syllables = pickle.load(open(os.path.join(os.getenv("abspath"),"app/creators/specs/syllables.p"), "rb"))
username = 'notebook'
params

{'pop_health_requirement': 0.6,
 'pop_consumes': 2,
 'starve_damage': 0.05,
 'changing_values': ['conformity',
  'literacy',
  'aggression',
  'constitution',
  'wealth',
  'factionLoyalty']}

Time is updated by the `time` function. It is always running.

In [4]:
c.run_query("g.V().hasLabel('time').valueMap()")
params['time'] = c.clean_nodes(c.res)[0]
params['time']

{'currentTime': 28290,
 'updatedFrom': 'azfunction',
 'updatedAt': '2023-05-19 09:10:00.380788',
 'objid': '7263327370874',
 'name': 'time',
 'originTime': 0,
 'username': 'notebook',
 'objtype': 'time',
 'id': '7263327370874'}

For this notebook, setting the `pop_health_requirement` to an arbitrary value just to examine.

In [5]:
params['pop_health_requirement'] = 0.4

## Population Resource Consumption

In [6]:
from tools import consumption

We're going to run a resourse query test to ensure that consumption is happening. To test, update the `objid` with a planet that has consuming pops.

In [7]:
validate_resources_updated_query = f"""
g.V().has('objid','2972908340606').out('has').valueMap()
"""
print(validate_resources_updated_query)
c.run_query(validate_resources_updated_query)
pre_consumption = pd.DataFrame.from_records(c.clean_nodes(c.res))
pre_consumption

g.V().has('objid','2972908340606').out('has').valueMap()

,volume,name,objid,max_volume,description,replenish_rate,username,objtype,id
0,891,Organic,8679787925290,1013,bilogical material that can be consumed by pops,10.0,BillmanLocal2,resource,8679787925290
1,96,Common Minerals,7928654046397,96,Iron and other common material used in constru...,NaN,BillmanLocal2,resource,7928654046397
2,54,Rare Minerals,3119228965862,54,"lithium, silver and other rare minerals used i...",NaN,BillmanLocal2,resource,3119228965862
3,9626,Water,1324452532458,9626,"H2O ready to be consumed, either frozen or in ...",NaN,BillmanLocal2,resource,1324452532458

In [8]:

all_pops_query = f"""
g.V().has('label','pop').as('pop')
    .local(
        union(
            out('inhabits').as('location'),
            out('isOf').as('species')
            )
            .fold()).as('location','species')
        .path()
        .by(unfold().valueMap().fold())
"""

In [9]:
c.run_query(all_pops_query)
data = c.reduce_res(c.res)
pd.DataFrame(data)

,pop,location,species
0,"{'name': 'Bames Todin', 'objid': '437668149746...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
1,"{'name': 'Zokekegua Long', 'objid': '664458242...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
2,"{'name': 'Bames Caslay', 'objid': '39838089911...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
3,"{'name': 'Bames Mesganj', 'objid': '8182730130...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
4,"{'name': 'Bames Fordciubeitsu', 'objid': '4068...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
5,"{'name': 'Zokekegua Bang', 'objid': '635437469...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
6,"{'name': 'Zokekegua Piakoy', 'objid': '0657651...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
7,"{'name': 'Rayahhun Frantiae', 'objid': '760304...","{'name': 'Jivar', 'class': 'terrestrial', 'obj...","{'name': 'East', 'objid': '0161899935756', 'co..."
8,"{'name': 'Kalgagerkal Bedeldepark', 'objid': '...","{'name': 'Jivar', 'class': 'terrestrial', 'obj...","{'name': 'East', 'objid': '0161899935756', 'co..."
9,"{'name': 'Rayahhun Dorf', 'objid': '3760594787...","{'name': 'Jivar', 'class': 'terrestrial', 'obj...","{'name': 'East', 'objid': '0161899935756', 'co..."
10,"{'name': 'Rayahhun Rahpia', 'objid': '29774868...","{'name': 'Jivar', 'class': 'terrestrial', 'obj...","{'name': 'East', 'objid': '0161899935756', 'co..."
11,"{'name': 'Rayahhun Taigremigorsk', 'objid': '5...","{'name': 'Jivar', 'class': 'terrestrial', 'obj...","{'name': 'East', 'objid': '0161899935756', 'co..."
12,"{'name': 'Rayahhun Pon', 'objid': '51807130391...","{'name': 'Jivar', 'class': 'terrestrial', 'obj...","{'name': 'East', 'objid': '0161899935756', 'co..."
13,"{'name': 'Rayahhun Naksha', 'objid': '26546958...","{'name': 'Jivar', 'class': 'terrestrial', 'obj...","{'name': 'East', 'objid': '0161899935756', 'co..."
14,"{'name': 'Obattla Magor', 'objid': '7467985401...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."
15,"{'name': 'Obattla Pe', 'objid': '5100638967625...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."
16,"{'name': 'Obattla Van', 'objid': '180095132276...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."
17,"{'name': 'Obattla Rochi', 'objid': '0692394121...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."
18,"{'name': 'Hassia Sin', 'objid': '0248671359952...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."
19,"{'name': 'Obattla Artes', 'objid': '9819392335...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."
20,"{'name': 'Obattla Ser', 'objid': '782887418345...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."
21,"{'health': 0.42, 'name': 'Zokekegua Longau', '...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
22,"{'health': 0.42, 'name': 'Bames Mesganjbeach',...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
23,"{'health': 0.42, 'name': 'Bames Fordciubeitsus...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
24,"{'health': 0.42, 'name': 'Zokekegua Bangbo', '...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
25,"{'health': 0.42, 'name': 'Zokekegua Piakoyfran...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
26,"{'health': 0.42, 'name': 'Kalgagerkal Bedeldep...","{'name': 'Jivar', 'class': 'terrestrial', 'obj...","{'name': 'East', 'objid': '0161899935756', 'co..."
27,"{'health': 0.42, 'name': 'Rayahhun Dorfdes', '...","{'name': 'Jivar', 'class': 'terrestrial', 'obj...","{'name': 'East', 'objid': '0161899935756', 'co..."
28,"{'health': 0.42, 'name': 'Rayahhun Taigremigor...","{'name': 'Jivar', 'class': 'terrestrial', 'obj...","{'name': 'East', 'objid': '0161899935756', 'co..."
29,"{'health': 0.42, 'name': 'Obattla Magordra', '...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."
30,"{'health': 0.42, 'name': 'Obattla Peu', 'objid...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."
31,"{'health': 0.42, 'name': 'Obattla Arteskreis',...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."
32,"{'health': 0.42, 'name': 'Obattla Sertre', 'ob...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."
33,"{'health': 0.42, 'name': 'Bames Todinmes', 'ob...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
34,"{'health': 0.42, 'name': 'Zokekegua Longgon', ...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
35,"{'health': 0.42, 'name': 'Bames Caslayrie', 'o...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
36,"{'health': 0.42, 'name': 'Zokekegua Bangbel', ...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
37,"{'health': 0.42, 'name': 'Zokekegua Piakoyfi',...","{'name': 'Townnak', 'class': 'terrestrial', 'o...","{'name': 'Baydybor', 'objid': '5385225260536',..."
38,"{'health': 0.42, 'name': 'Rayahhun Frantiaebay...","{'name': 'Jivar', 'class': 'terrestrial', 'obj...","{'name': 'East', 'objid': '0161899935756', 'co..."
39,"{'health': 0.42, 'name': 'Kalgagerkal Bedeldep...","{'name': 'Jivar', 'class': 'terrestrial', 'obj...","{'name': 'East', 'objid': '0161899935756', 'co..."
40,"{'health': 0.42, 'name': 'Rayahhun Taigremigor...","{'name': 'Jivar', 'class': 'terrestrial', 'obj...","{'name': 'East', 'objid': '0161899935756', 'co..."
41,"{'health': 0.42, 'name': 'Obattla Magorcu', 'o...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."
42,"{'health': 0.42, 'name': 'Obattla Petown', 'ob...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."
43,"{'health': 0.42, 'name': 'Hassia Sinfort', 'ob...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."
44,"{'health': 0.42, 'name': 'Obattla Arteshy', 'o...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."
45,"{'health': 0.42, 'name': 'Obattla Servo', 'obj...","{'name': 'Dorf', 'class': 'terrestrial', 'obji...","{'name': 'Koykudra', 'objid': '4291284873310',..."

In [10]:
pops_df = pd.DataFrame([d['pop'] for d in data])
pops_df

,name,objid,conformity,literacy,aggression,constitution,health,isIn,industry,wealth,factionLoyalty,isIdle,username,objtype,id
0,Bames Todin,4376681497460,0.408,0.469,0.474,0.380,0.70,3820091516344,0.4270,0.4480,0.373,true,Billmanserver,pop,4376681497460
1,Zokekegua Long,6644582427941,0.647,0.361,0.526,0.532,0.70,4353938110450,0.5290,0.4450,0.651,true,Billmanserver,pop,6644582427941
2,Bames Caslay,3983808991145,0.394,0.496,0.448,0.602,0.70,3820091516344,0.5250,0.5105,0.361,true,Billmanserver,pop,3983808991145
3,Bames Mesganj,8182730130672,0.456,0.555,0.613,0.496,0.70,3820091516344,0.5545,0.5548,0.541,true,Billmanserver,pop,8182730130672
4,Bames Fordciubeitsu,4068023816136,0.436,0.575,0.420,0.529,0.70,3820091516344,0.4745,0.5248,0.399,true,Billmanserver,pop,4068023816136
5,Zokekegua Bang,6354374692878,0.467,0.288,0.439,0.532,0.70,4353938110450,0.4855,0.3868,0.571,true,Billmanserver,pop,6354374692878
6,Zokekegua Piakoy,0657651821206,0.570,0.461,0.428,0.548,0.70,4353938110450,0.4880,0.4745,0.575,true,Billmanserver,pop,0657651821206
7,Rayahhun Frantiae,7603049807934,0.634,0.356,0.504,0.493,0.70,5821792704095,0.4985,0.4272,0.613,true,william.jeffrey.harding@gmail.com,pop,7603049807934
8,Kalgagerkal Bedeldepark,0653635598459,0.202,0.462,0.479,0.600,0.70,6730711275117,0.5395,0.5008,0.056,true,william.jeffrey.harding@gmail.com,pop,0653635598459
9,Rayahhun Dorf,3760594787864,0.538,0.310,0.549,0.360,0.70,5821792704095,0.4545,0.3822,0.746,true,william.jeffrey.harding@gmail.com,pop,3760594787864
10,Rayahhun Rahpia,2977486889939,0.594,0.504,0.392,0.455,0.70,5821792704095,0.4235,0.4638,0.380,true,william.jeffrey.harding@gmail.com,pop,2977486889939
11,Rayahhun Taigremigorsk,5759070833698,0.657,0.555,0.502,0.306,0.70,5821792704095,0.4040,0.4795,0.697,true,william.jeffrey.harding@gmail.com,pop,5759070833698
12,Rayahhun Pon,5180713039130,0.430,0.403,0.655,0.453,0.70,5821792704095,0.5540,0.4785,0.674,true,william.jeffrey.harding@gmail.com,pop,5180713039130
13,Rayahhun Naksha,2654695874515,0.564,0.386,0.424,0.481,0.70,5821792704095,0.4525,0.4192,0.617,true,william.jeffrey.harding@gmail.com,pop,2654695874515
14,Obattla Magor,7467985401518,0.421,0.376,0.632,0.338,0.70,8822366435138,0.4850,0.4305,0.505,true,BillmanLocal2,pop,7467985401518
15,Obattla Pe,5100638967625,0.325,0.352,0.606,0.450,0.70,8822366435138,0.5280,0.4400,0.459,true,BillmanLocal2,pop,5100638967625
16,Obattla Van,1800951322768,0.446,0.390,0.549,0.573,0.70,8822366435138,0.5610,0.4755,0.423,true,BillmanLocal2,pop,1800951322768
17,Obattla Rochi,0692394121482,0.452,0.395,0.514,0.546,0.70,8822366435138,0.5300,0.4625,0.354,true,BillmanLocal2,pop,0692394121482
18,Hassia Sin,0248671359952,0.623,0.215,0.704,0.569,0.70,4146242421204,0.6365,0.4258,0.662,true,BillmanLocal2,pop,0248671359952
19,Obattla Artes,9819392335838,0.488,0.383,0.572,0.570,0.70,8822366435138,0.5710,0.4770,0.497,true,BillmanLocal2,pop,9819392335838
20,Obattla Ser,7828874183454,0.372,0.370,0.575,0.581,0.70,8822366435138,0.5780,0.4740,0.424,true,BillmanLocal2,pop,7828874183454
21,Zokekegua Longau,8752584864786,0.706,0.329,0.583,0.598,0.42,4353938110450,0.3170,0.3010,0.719,true,Billmanserver,pop,8752584864786
22,Bames Mesganjbeach,6595526173880,0.433,0.606,0.582,0.439,0.42,3820091516344,0.3330,0.3910,0.544,true,Billmanserver,pop,6595526173880
23,Bames Fordciubeitsusal,0872157471214,0.525,0.584,0.365,0.500,0.42,3820091516344,0.2850,0.3870,0.339,true,Billmanserver,pop,0872157471214
24,Zokekegua Bangbo,2400575261898,0.559,0.239,0.499,0.578,0.42,4353938110450,0.2910,0.2150,0.483,true,Billmanserver,pop,2400575261898
25,Zokekegua Piakoyfran,9166259294551,0.516,0.510,0.511,0.457,0.42,4353938110450,0.2930,0.2150,0.544,true,Billmanserver,pop,9166259294551
26,Kalgagerkal Bedeldeparkpi,7300920758480,0.150,0.464,0.391,0.627,0.42,6730711275117,0.3240,0.2560,0.147,true,william.jeffrey.harding@gmail.com,pop,7300920758480
27,Rayahhun Dorfdes,2279815235152,0.598,0.299,0.648,0.403,0.42,5821792704095,0.2730,0.1650,0.688,true,william.jeffrey.harding@gmail.com,pop,2279815235152
28,Rayahhun Taigremigorskban,3855217919229,0.607,0.609,0.477,0.386,0.42,5821792704095,0.2420,0.2600,0.688,true,william.jeffrey.harding@gmail.com,pop,3855217919229
29,Obattla Magordra,0126014006101,0.421,0.474,0.684,0.377,0.42,8822366435138,0.2910,0.2290,0.594,true,BillmanLocal2,pop,0126014006101
30,Obattla Peu,5350816288225,0.249,0.308,0.557,0.421,0.42,8822366435138,0.3170,0.2850,0.519,true,BillmanLocal2,pop,5350816288225
31,Obattla Arteskreis,4877750744555,0.509,0.350,0.660,0.488,0.42,8822366435138,0.3430,0.1960,0.414,true,BillmanLocal2,pop,4877750744555
32,Obattla Sertre,3644546786855,0.325,0.441,0.572,0.532,0.42,8822366435138,0.3470,0.3470,0.415,true,BillmanLocal2,pop,3644546786855
33,Bames Todinmes,5004257375998,0.405,0.397,0.502,0.377,0.42,3820091516344,0.2560,0.3360,0.366,true,Billmanserver,pop,5004257375998
34,Zokekegua Longgon,0785372480475,0.549,0.343,0.572,0.616,0.42,4353938110450,0.3170,0.2990,0.735,true,Billmanserver,pop,0785372480475
35,Bames Caslayrie,9195077670473,0.441,0.518,0.486,0.621,0.42,3820091516344,0.3150,0.2650,0.397,true,Billmanserver,pop,9195077670473
36,Zokekegua Bangbel,1525481871540,0.436,0.217,0.348,0.608,0.42,4353938110450,0.2910,0.2630,0.616,true,Billmanserver,pop,1525481871540
37,Zokekegua Piakoyfi,2262252678816,0.493,0.384,0.505,0.641,0.42,4353938110450,0.2930,0.2660,0.663,true,Billmanserver,pop,2262252678816
38,Rayahhun Frantiaebay,8578190910659,0.592,0.407,0.419,0.415,0.42,5821792704095,0.2990,0.1620,0.574,true,william.jeffrey.harding@gmail.com,pop,8578190910659
39,Kalgagerkal Bedeldeparkbha,3616341519078,0.105,0.420,0.447,0.646,0.42,6730711275117,0.3240,0.3380,-0.010,true,william.jeffrey.harding@gmail.com,pop,3616341519078
40,Rayahhun Taigremigorskhat,0035365445650,0.640,0.618,0.425,0.274,0.42,5821792704095,0.2420,0.2640,0.747,true,william.jeffrey.harding@gmail.com,pop,0035365445650
41,Obattla Magorcu,8165132224562,0.513,0.296,0.732,0.434,0.42,8822366435138,0.2910,0.2210,0.564,true,BillmanLocal2,pop,8165132224562
42,Obattla Petown,6577007174425,0.245,0.402,0.539,0.505,0.42,8822366435138,0.3170,0.2000,0.483,true,BillmanLocal2,pop,6577007174425
43,Hassia Sinfort,4119534664272,0.710,0.179,0.667,0.658,0.42,4146242421204,0.3820,0.2990,0.642,true,BillmanLocal2,pop,4119534664272
44,Obattla Arteshy,3348033092776,0.489,0.283,0.501,0.606,0.42,8822366435138,0.3430,0.3020,0.484,true,BillmanLocal2,pop,3348033092776
45,Obattla Servo,9772027208419,0.344,0.401,0.545,0.670,0.42,8822366435138,0.3470,0.3230,0.498,true,BillmanLocal2,pop,9772027208419

In [11]:
species_df = pd.DataFrame([d['species'] for d in data])
species_df

,name,objid,consumes,effuses,viral_resilience,habitat_resilience,username,objtype,id
0,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
1,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
2,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
3,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
4,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
5,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
6,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
7,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
8,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
9,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
10,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
11,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
12,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
13,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
14,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
15,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
16,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
17,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
18,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
19,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
20,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
21,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
22,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
23,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
24,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
25,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
26,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
27,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
28,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
29,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
30,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
31,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
32,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
33,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
34,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
35,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
36,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
37,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
38,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
39,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
40,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
41,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
42,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
43,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
44,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
45,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310

In [12]:
locations_df = pd.DataFrame([d['location'] for d in data])
locations_df

,name,class,objid,radius,mass,orbitsDistance,orbitsId,orbitsName,isSupportsLife,isPopulated,isHomeworld,username,objtype,id
0,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
1,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
2,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
3,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
4,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
5,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
6,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
7,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
8,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
9,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
10,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
11,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
12,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
13,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
14,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
15,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
16,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
17,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
18,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
19,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
20,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
21,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
22,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
23,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
24,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
25,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
26,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
27,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
28,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
29,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
30,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
31,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
32,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
33,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
34,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
35,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
36,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
37,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
38,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
39,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
40,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
41,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
42,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
43,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
44,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
45,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606

First getting the list of consumption for each pop.

In [13]:
pops_df,species_df,locations_df = consumption.all_pops_consumption(c)

We expand that dataset to break open the list of people in each pop.

In [14]:
params

{'pop_health_requirement': 0.4,
 'pop_consumes': 2,
 'starve_damage': 0.05,
 'changing_values': ['conformity',
  'literacy',
  'aggression',
  'constitution',
  'wealth',
  'factionLoyalty'],
 'time': {'currentTime': 28290,
  'updatedFrom': 'azfunction',
  'updatedAt': '2023-05-19 09:10:00.380788',
  'objid': '7263327370874',
  'name': 'time',
  'originTime': 0,
  'username': 'notebook',
  'objtype': 'time',
  'id': '7263327370874'}}

In [15]:
consumption_df = consumption.get_consumption_df(locations_df,species_df,params)
consumption_df = consumption.expand_consumption_df(consumption_df)
consumption_df

c:\Users\william.harding\Documents\repos\exoplanets\notebooks\People\../../functions/popgrowth\tools\consumption.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ser.consumes = j
c:\Users\william.harding\Documents\repos\exoplanets\notebooks\People\../../functions/popgrowth\tools\consumption.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ser.consumes = j
c:\Users\william.harding\Documents\repos\exoplanets\notebooks\People\../../functions/popgrowth\tools\consumption.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ser.consumes = j

     location_id consumes pop consumption multi
0  2793144513261  Organic  17          34  True
1  2972908340606  Organic  16          32  True
2  3493185958037  Organic  13          26  True

Then we get a list of the resources available on that location.

In [16]:
c.run_query(consumption.make_resource_query(consumption_df))
resources = c.res
resources

[{'labels': [['location'], ['resource']],
  'objects': [{'objid': ['2793144513261'], 'name': ['Townnak']},
   {'volume': [869], 'objid': ['4741040123642'], 'name': ['Organic']}]},
 {'labels': [['location'], ['resource']],
  'objects': [{'objid': ['3493185958037'], 'name': ['Jivar']},
   {'volume': [947], 'objid': ['4370165806739'], 'name': ['Organic']}]},
 {'labels': [['location'], ['resource']],
  'objects': [{'objid': ['2972908340606'], 'name': ['Dorf']},
   {'volume': [891], 'objid': ['8679787925290'], 'name': ['Organic']}]}]

In [17]:
consumption_df = consumption.tally_consumption(c,consumption_df,resources)
consumption_df

     location_id consumes pop consumption multi  available  remaining
0  2793144513261  Organic  17          34  True      869.0      835.0
1  2972908340606  Organic  16          32  True      891.0      859.0
2  3493185958037  Organic  13          26  True      947.0      921.0

Then we update the resources by taking out the resources that exist. You can check that this has happened in the graph by looking at the location ids. This is a verification query that isn't run in the function application.

In [18]:
consumption_df.apply(lambda x: consumption.make_resource_update_query(c,x),axis=1)

0    None
1    None
2    None
dtype: object

In [19]:
c.run_query(validate_resources_updated_query)
post_consumption = pd.DataFrame.from_records(c.clean_nodes(c.res))

In [20]:
pre_consumption

,volume,name,objid,max_volume,description,replenish_rate,username,objtype,id
0,891,Organic,8679787925290,1013,bilogical material that can be consumed by pops,10.0,BillmanLocal2,resource,8679787925290
1,96,Common Minerals,7928654046397,96,Iron and other common material used in constru...,NaN,BillmanLocal2,resource,7928654046397
2,54,Rare Minerals,3119228965862,54,"lithium, silver and other rare minerals used i...",NaN,BillmanLocal2,resource,3119228965862
3,9626,Water,1324452532458,9626,"H2O ready to be consumed, either frozen or in ...",NaN,BillmanLocal2,resource,1324452532458

In [21]:
post_consumption

,volume,name,objid,max_volume,description,replenish_rate,username,objtype,id
0,859,Organic,8679787925290,1013,bilogical material that can be consumed by pops,10.0,BillmanLocal2,resource,8679787925290
1,96,Common Minerals,7928654046397,96,Iron and other common material used in constru...,NaN,BillmanLocal2,resource,7928654046397
2,54,Rare Minerals,3119228965862,54,"lithium, silver and other rare minerals used i...",NaN,BillmanLocal2,resource,3119228965862
3,9626,Water,1324452532458,9626,"H2O ready to be consumed, either frozen or in ...",NaN,BillmanLocal2,resource,1324452532458

Now for the starving. Populations without enough food will starve (health declines). Populations with < 0 health will die.

In [22]:
consumption_df

     location_id consumes pop consumption multi  available  remaining
0  2793144513261  Organic  17          34  True      869.0      835.0
1  2972908340606  Organic  16          32  True      891.0      859.0
2  3493185958037  Organic  13          26  True      947.0      921.0

In [23]:
consumption_df[consumption_df['remaining']<=0].apply(lambda x: consumption.lower_health(c,params,x),axis=1)

0 pops will starve in nan

Empty DataFrame
Columns: [location_id, consumes, pop, consumption, multi, available, remaining]
Index: []

Looking more closely at `lower_health`
This only happens on locations that have < 0 resources. But here we're going to do it regardless

In [24]:
x = consumption_df.loc[0]
print(x)

dead_pop_nodes = []
dead_pop_ids = []
death_event_edges = []
query =f"""
g.V().has('objid','{x.location_id}').as('location').in('inhabits')
    .haslabel('pop').as('pop')
    .out('isOfSpecies').as('species')
    .path()
        .by(valueMap('objid','name'))
        .by(valueMap('name','objid','health','username'))
        .by(valueMap('name','objid','consumes'))
"""
c.run_query(query)
out = c.res
out

location_id    2793144513261
consumes             Organic
pop                       17
consumption               34
multi                   True
available              869.0
remaining              835.0
Name: 0, dtype: object

[]

In [25]:
print(f"{len(out)} pops will starve in {x.location_id}")

0 pops will starve in 2793144513261

We are only going to starve the pop if the pop consumes that resource.

health just goes down.

Let's pretend that the pop will die. IF they do, it will create a `death event`.

In [26]:
# death_event = consumption.death_by_starvation_event(c.clean_node(i['objects'][0]),i['objects'][1],params)
# death_event

We will also link that event to an appropriate `happendAt` so that we can see it when looking at events related to specific things.

In [27]:
# print(c.create_custom_edge(death_event, c.clean_node(i['objects'][0]), 'happenedAt').strip())

## Population growth
* Populations that die are deleted, so they don't grow.
* However all pops that can grow will, regardless of wheter they are starving or not. 
* Starving will lower thier health, which will eventually make them unable to grow.

In [28]:
from tools import growth

In [29]:
pops_df,species_df,locations_df,factions_df = growth.get_pop_health(c,params)
print(f"lenth of pops == 0 : {len(pops_df)==0}")
pops_df

lenth of pops == 0 : False

,health,name,objid,conformity,literacy,aggression,constitution,isIn,industry,wealth,factionLoyalty,isIdle,username,objtype,id
0,0.7,Bames Todin,4376681497460,0.408,0.469,0.474,0.380,3820091516344,0.4270,0.4480,0.373,true,Billmanserver,pop,4376681497460
1,0.7,Zokekegua Long,6644582427941,0.647,0.361,0.526,0.532,4353938110450,0.5290,0.4450,0.651,true,Billmanserver,pop,6644582427941
2,0.7,Bames Caslay,3983808991145,0.394,0.496,0.448,0.602,3820091516344,0.5250,0.5105,0.361,true,Billmanserver,pop,3983808991145
3,0.7,Bames Mesganj,8182730130672,0.456,0.555,0.613,0.496,3820091516344,0.5545,0.5548,0.541,true,Billmanserver,pop,8182730130672
4,0.7,Bames Fordciubeitsu,4068023816136,0.436,0.575,0.420,0.529,3820091516344,0.4745,0.5248,0.399,true,Billmanserver,pop,4068023816136
5,0.7,Zokekegua Bang,6354374692878,0.467,0.288,0.439,0.532,4353938110450,0.4855,0.3868,0.571,true,Billmanserver,pop,6354374692878
6,0.7,Zokekegua Piakoy,0657651821206,0.570,0.461,0.428,0.548,4353938110450,0.4880,0.4745,0.575,true,Billmanserver,pop,0657651821206
7,0.7,Rayahhun Frantiae,7603049807934,0.634,0.356,0.504,0.493,5821792704095,0.4985,0.4272,0.613,true,william.jeffrey.harding@gmail.com,pop,7603049807934
8,0.7,Kalgagerkal Bedeldepark,0653635598459,0.202,0.462,0.479,0.600,6730711275117,0.5395,0.5008,0.056,true,william.jeffrey.harding@gmail.com,pop,0653635598459
9,0.7,Rayahhun Dorf,3760594787864,0.538,0.310,0.549,0.360,5821792704095,0.4545,0.3822,0.746,true,william.jeffrey.harding@gmail.com,pop,3760594787864
10,0.7,Rayahhun Rahpia,2977486889939,0.594,0.504,0.392,0.455,5821792704095,0.4235,0.4638,0.380,true,william.jeffrey.harding@gmail.com,pop,2977486889939
11,0.7,Rayahhun Taigremigorsk,5759070833698,0.657,0.555,0.502,0.306,5821792704095,0.4040,0.4795,0.697,true,william.jeffrey.harding@gmail.com,pop,5759070833698
12,0.7,Rayahhun Pon,5180713039130,0.430,0.403,0.655,0.453,5821792704095,0.5540,0.4785,0.674,true,william.jeffrey.harding@gmail.com,pop,5180713039130
13,0.7,Rayahhun Naksha,2654695874515,0.564,0.386,0.424,0.481,5821792704095,0.4525,0.4192,0.617,true,william.jeffrey.harding@gmail.com,pop,2654695874515
14,0.7,Obattla Magor,7467985401518,0.421,0.376,0.632,0.338,8822366435138,0.4850,0.4305,0.505,true,BillmanLocal2,pop,7467985401518
15,0.7,Obattla Pe,5100638967625,0.325,0.352,0.606,0.450,8822366435138,0.5280,0.4400,0.459,true,BillmanLocal2,pop,5100638967625
16,0.7,Obattla Van,1800951322768,0.446,0.390,0.549,0.573,8822366435138,0.5610,0.4755,0.423,true,BillmanLocal2,pop,1800951322768
17,0.7,Obattla Rochi,0692394121482,0.452,0.395,0.514,0.546,8822366435138,0.5300,0.4625,0.354,true,BillmanLocal2,pop,0692394121482
18,0.7,Hassia Sin,0248671359952,0.623,0.215,0.704,0.569,4146242421204,0.6365,0.4258,0.662,true,BillmanLocal2,pop,0248671359952
19,0.7,Obattla Artes,9819392335838,0.488,0.383,0.572,0.570,8822366435138,0.5710,0.4770,0.497,true,BillmanLocal2,pop,9819392335838
20,0.7,Obattla Ser,7828874183454,0.372,0.370,0.575,0.581,8822366435138,0.5780,0.4740,0.424,true,BillmanLocal2,pop,7828874183454

In [30]:
species_df

,name,objid,consumes,effuses,viral_resilience,habitat_resilience,username,objtype,id
0,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
1,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
2,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
3,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
4,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
5,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
6,Baydybor,5385225260536,[Organic],"[Organic waste, Plastics]",0.7,0.2,Billmanserver,species,5385225260536
7,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
8,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
9,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
10,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
11,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
12,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
13,East,0161899935756,[Organic],"[Organic waste, Plastics]",0.7,0.2,william.jeffrey.harding@gmail.com,species,0161899935756
14,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
15,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
16,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
17,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
18,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
19,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310
20,Koykudra,4291284873310,[Organic],"[Organic waste, Plastics]",0.7,0.2,BillmanLocal2,species,4291284873310

In [31]:
locations_df

,name,class,objid,radius,mass,orbitsDistance,orbitsId,orbitsName,isSupportsLife,isPopulated,isHomeworld,username,objtype,id
0,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
1,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
2,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
3,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
4,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
5,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
6,Townnak,terrestrial,2793144513261,0.701,0.884,0.490,6092232618401,Woodling,true,true,true,Billmanserver,planet,2793144513261
7,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
8,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
9,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
10,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
11,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
12,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
13,Jivar,terrestrial,3493185958037,0.882,0.136,0.899,9585105280215,Zache,true,true,true,william.jeffrey.harding@gmail.com,planet,3493185958037
14,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
15,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
16,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
17,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
18,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
19,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606
20,Dorf,terrestrial,2972908340606,0.884,0.882,1.057,9570931993836,Lisallos,true,true,true,BillmanLocal2,planet,2972908340606

In [32]:
factions_df

,name,objid,lat,long,pop_loactions,username,objtype,id,pop_locations
0,Bames,3820091516344,0.105,0.0,"[[0, 0], [-1, -1], [-2, 0], [0, 2], [-1, 1]]",Billmanserver,faction,3820091516344,NaN
1,Zokekegua,4353938110450,-0.105,0.0,"[[0, 0], [2, 0], [-2, 0], [0, -2]]",Billmanserver,faction,4353938110450,NaN
2,Bames,3820091516344,0.105,0.0,"[[0, 0], [-1, -1], [-2, 0], [0, 2], [-1, 1]]",Billmanserver,faction,3820091516344,NaN
3,Bames,3820091516344,0.105,0.0,"[[0, 0], [-1, -1], [-2, 0], [0, 2], [-1, 1]]",Billmanserver,faction,3820091516344,NaN
4,Bames,3820091516344,0.105,0.0,"[[0, 0], [-1, -1], [-2, 0], [0, 2], [-1, 1]]",Billmanserver,faction,3820091516344,NaN
5,Zokekegua,4353938110450,-0.105,0.0,"[[0, 0], [2, 0], [-2, 0], [0, -2]]",Billmanserver,faction,4353938110450,NaN
6,Zokekegua,4353938110450,-0.105,0.0,"[[0, 0], [2, 0], [-2, 0], [0, -2]]",Billmanserver,faction,4353938110450,NaN
7,Rayahhun,5821792704095,-0.205,0.0,"[[0, 0], [-1, -1], [-2, -2], [-2, 2], [0, -2],...",william.jeffrey.harding@gmail.com,faction,5821792704095,NaN
8,Kalgagerkal,6730711275117,0.205,0.0,"[[0, 0], [-2, 0]]",william.jeffrey.harding@gmail.com,faction,6730711275117,NaN
9,Rayahhun,5821792704095,-0.205,0.0,"[[0, 0], [-1, -1], [-2, -2], [-2, 2], [0, -2],...",william.jeffrey.harding@gmail.com,faction,5821792704095,NaN
10,Rayahhun,5821792704095,-0.205,0.0,"[[0, 0], [-1, -1], [-2, -2], [-2, 2], [0, -2],...",william.jeffrey.harding@gmail.com,faction,5821792704095,NaN
11,Rayahhun,5821792704095,-0.205,0.0,"[[0, 0], [-1, -1], [-2, -2], [-2, 2], [0, -2],...",william.jeffrey.harding@gmail.com,faction,5821792704095,NaN
12,Rayahhun,5821792704095,-0.205,0.0,"[[0, 0], [-1, -1], [-2, -2], [-2, 2], [0, -2],...",william.jeffrey.harding@gmail.com,faction,5821792704095,NaN
13,Rayahhun,5821792704095,-0.205,0.0,"[[0, 0], [-1, -1], [-2, -2], [-2, 2], [0, -2],...",william.jeffrey.harding@gmail.com,faction,5821792704095,NaN
14,Obattla,8822366435138,-0.149,0.0,NaN,BillmanLocal2,faction,8822366435138,"[[0, 0], [-1, 1], [-2, 0], [0, 2], [-1, -1], [..."
15,Obattla,8822366435138,-0.149,0.0,NaN,BillmanLocal2,faction,8822366435138,"[[0, 0], [-1, 1], [-2, 0], [0, 2], [-1, -1], [..."
16,Obattla,8822366435138,-0.149,0.0,NaN,BillmanLocal2,faction,8822366435138,"[[0, 0], [-1, 1], [-2, 0], [0, 2], [-1, -1], [..."
17,Obattla,8822366435138,-0.149,0.0,NaN,BillmanLocal2,faction,8822366435138,"[[0, 0], [-1, 1], [-2, 0], [0, 2], [-1, -1], [..."
18,Hassia,4146242421204,0.149,0.0,NaN,BillmanLocal2,faction,4146242421204,"[[0, 0], [-2, 2]]"
19,Obattla,8822366435138,-0.149,0.0,NaN,BillmanLocal2,faction,8822366435138,"[[0, 0], [-1, 1], [-2, 0], [0, 2], [-1, -1], [..."
20,Obattla,8822366435138,-0.149,0.0,NaN,BillmanLocal2,faction,8822366435138,"[[0, 0], [-1, 1], [-2, 0], [0, 2], [-1, -1], [..."

In [33]:
factions_df['pop_locations']

0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11                                                  NaN
12                                                  NaN
13                                                  NaN
14    [[0, 0], [-1, 1], [-2, 0], [0, 2], [-1, -1], [...
15    [[0, 0], [-1, 1], [-2, 0], [0, 2], [-1, -1], [...
16    [[0, 0], [-1, 1], [-2, 0], [0, 2], [-1, -1], [...
17    [[0, 0], [-1, 1], [-2, 0], [0, 2], [-1, -1], [...
18                                    [[0, 0], [-2, 2]]
19    [[0, 0], [-1, 1], [-2, 0], [0, 2], [-1, -1], [...
20    [[0, 0], [-1, 1], [-2, 0], [0, 2], [-1, -1], [...
Name: pop_locations, dtype: object

In [37]:
pops_df['roll'] = pops_df['objid'].apply(lambda x: np.random.random())
pops_df['grow'] = pops_df[['wealth','health']].T.mean() >= pops_df['roll']

reproducing_pops = pops_df[pops_df['grow']].drop(['roll','grow'],axis=1)
pops_df

,health,name,objid,conformity,literacy,aggression,constitution,isIn,industry,wealth,factionLoyalty,isIdle,username,objtype,id,roll,grow
0,0.7,Bames Todin,4376681497460,0.408,0.469,0.474,0.380,3820091516344,0.4270,0.4480,0.373,true,Billmanserver,pop,4376681497460,0.076711,True
1,0.7,Zokekegua Long,6644582427941,0.647,0.361,0.526,0.532,4353938110450,0.5290,0.4450,0.651,true,Billmanserver,pop,6644582427941,0.741140,False
2,0.7,Bames Caslay,3983808991145,0.394,0.496,0.448,0.602,3820091516344,0.5250,0.5105,0.361,true,Billmanserver,pop,3983808991145,0.835208,False
3,0.7,Bames Mesganj,8182730130672,0.456,0.555,0.613,0.496,3820091516344,0.5545,0.5548,0.541,true,Billmanserver,pop,8182730130672,0.692977,False
4,0.7,Bames Fordciubeitsu,4068023816136,0.436,0.575,0.420,0.529,3820091516344,0.4745,0.5248,0.399,true,Billmanserver,pop,4068023816136,0.386875,True
5,0.7,Zokekegua Bang,6354374692878,0.467,0.288,0.439,0.532,4353938110450,0.4855,0.3868,0.571,true,Billmanserver,pop,6354374692878,0.061187,True
6,0.7,Zokekegua Piakoy,0657651821206,0.570,0.461,0.428,0.548,4353938110450,0.4880,0.4745,0.575,true,Billmanserver,pop,0657651821206,0.946227,False
7,0.7,Rayahhun Frantiae,7603049807934,0.634,0.356,0.504,0.493,5821792704095,0.4985,0.4272,0.613,true,william.jeffrey.harding@gmail.com,pop,7603049807934,0.303091,True
8,0.7,Kalgagerkal Bedeldepark,0653635598459,0.202,0.462,0.479,0.600,6730711275117,0.5395,0.5008,0.056,true,william.jeffrey.harding@gmail.com,pop,0653635598459,0.469182,True
9,0.7,Rayahhun Dorf,3760594787864,0.538,0.310,0.549,0.360,5821792704095,0.4545,0.3822,0.746,true,william.jeffrey.harding@gmail.com,pop,3760594787864,0.506446,True
10,0.7,Rayahhun Rahpia,2977486889939,0.594,0.504,0.392,0.455,5821792704095,0.4235,0.4638,0.380,true,william.jeffrey.harding@gmail.com,pop,2977486889939,0.379986,True
11,0.7,Rayahhun Taigremigorsk,5759070833698,0.657,0.555,0.502,0.306,5821792704095,0.4040,0.4795,0.697,true,william.jeffrey.harding@gmail.com,pop,5759070833698,0.708689,False
12,0.7,Rayahhun Pon,5180713039130,0.430,0.403,0.655,0.453,5821792704095,0.5540,0.4785,0.674,true,william.jeffrey.harding@gmail.com,pop,5180713039130,0.448605,True
13,0.7,Rayahhun Naksha,2654695874515,0.564,0.386,0.424,0.481,5821792704095,0.4525,0.4192,0.617,true,william.jeffrey.harding@gmail.com,pop,2654695874515,0.912806,False
14,0.7,Obattla Magor,7467985401518,0.421,0.376,0.632,0.338,8822366435138,0.4850,0.4305,0.505,true,BillmanLocal2,pop,7467985401518,0.883567,False
15,0.7,Obattla Pe,5100638967625,0.325,0.352,0.606,0.450,8822366435138,0.5280,0.4400,0.459,true,BillmanLocal2,pop,5100638967625,0.485646,True
16,0.7,Obattla Van,1800951322768,0.446,0.390,0.549,0.573,8822366435138,0.5610,0.4755,0.423,true,BillmanLocal2,pop,1800951322768,0.462372,True
17,0.7,Obattla Rochi,0692394121482,0.452,0.395,0.514,0.546,8822366435138,0.5300,0.4625,0.354,true,BillmanLocal2,pop,0692394121482,0.196491,True
18,0.7,Hassia Sin,0248671359952,0.623,0.215,0.704,0.569,4146242421204,0.6365,0.4258,0.662,true,BillmanLocal2,pop,0248671359952,0.019850,True
19,0.7,Obattla Artes,9819392335838,0.488,0.383,0.572,0.570,8822366435138,0.5710,0.4770,0.497,true,BillmanLocal2,pop,9819392335838,0.645111,False
20,0.7,Obattla Ser,7828874183454,0.372,0.370,0.575,0.581,8822366435138,0.5780,0.4740,0.424,true,BillmanLocal2,pop,7828874183454,0.182679,True

In [38]:
reproducing_pops

,health,name,objid,conformity,literacy,aggression,constitution,isIn,industry,wealth,factionLoyalty,isIdle,username,objtype,id
0,0.7,Bames Todin,4376681497460,0.408,0.469,0.474,0.380,3820091516344,0.4270,0.4480,0.373,true,Billmanserver,pop,4376681497460
4,0.7,Bames Fordciubeitsu,4068023816136,0.436,0.575,0.420,0.529,3820091516344,0.4745,0.5248,0.399,true,Billmanserver,pop,4068023816136
5,0.7,Zokekegua Bang,6354374692878,0.467,0.288,0.439,0.532,4353938110450,0.4855,0.3868,0.571,true,Billmanserver,pop,6354374692878
7,0.7,Rayahhun Frantiae,7603049807934,0.634,0.356,0.504,0.493,5821792704095,0.4985,0.4272,0.613,true,william.jeffrey.harding@gmail.com,pop,7603049807934
8,0.7,Kalgagerkal Bedeldepark,0653635598459,0.202,0.462,0.479,0.600,6730711275117,0.5395,0.5008,0.056,true,william.jeffrey.harding@gmail.com,pop,0653635598459
9,0.7,Rayahhun Dorf,3760594787864,0.538,0.310,0.549,0.360,5821792704095,0.4545,0.3822,0.746,true,william.jeffrey.harding@gmail.com,pop,3760594787864
10,0.7,Rayahhun Rahpia,2977486889939,0.594,0.504,0.392,0.455,5821792704095,0.4235,0.4638,0.380,true,william.jeffrey.harding@gmail.com,pop,2977486889939
12,0.7,Rayahhun Pon,5180713039130,0.430,0.403,0.655,0.453,5821792704095,0.5540,0.4785,0.674,true,william.jeffrey.harding@gmail.com,pop,5180713039130
15,0.7,Obattla Pe,5100638967625,0.325,0.352,0.606,0.450,8822366435138,0.5280,0.4400,0.459,true,BillmanLocal2,pop,5100638967625
16,0.7,Obattla Van,1800951322768,0.446,0.390,0.549,0.573,8822366435138,0.5610,0.4755,0.423,true,BillmanLocal2,pop,1800951322768
17,0.7,Obattla Rochi,0692394121482,0.452,0.395,0.514,0.546,8822366435138,0.5300,0.4625,0.354,true,BillmanLocal2,pop,0692394121482
18,0.7,Hassia Sin,0248671359952,0.623,0.215,0.704,0.569,4146242421204,0.6365,0.4258,0.662,true,BillmanLocal2,pop,0248671359952
20,0.7,Obattla Ser,7828874183454,0.372,0.370,0.575,0.581,8822366435138,0.5780,0.4740,0.424,true,BillmanLocal2,pop,7828874183454

In [39]:
nodes = []
edges = []
# Event edges must be uploaded separately, because the event nodes haven't been created yet.    
event_edges = []

In [40]:

for i in reproducing_pops.index.to_list():
    p = reproducing_pops.loc[i].to_dict()
    f = factions_df.loc[i].to_dict()
    species = species_df.loc[i].to_dict()
    location = locations_df.loc[i].to_dict()
    child = growth.grow_pop(p,species,params,syllables)    
    pop_locations = growth.assign_pop_to_faction(f)    
    c.patch_property(f['objid'], 'pop_locations', str(pop_locations))
    nodes.append(child)
    event = growth.population_growth_event(p, location,child, params)
    nodes.append(event)
    edges.append({"node1": child["objid"], "node2": p["objid"], "label": "childOf"})
    edges.append({"node1": child["objid"], "node2": child["isIn"], "label": "isIn"})
    edges.append({"node1": child["objid"], "node2": species["objid"], "label": "isOf"})
    edges.append({"node1": child["objid"], "node2": location["objid"], "label": "inhabits"})
    event_edges.append(c.create_custom_edge(event,location,'happenedAt'))
    event_edges.append(c.create_custom_edge(p,event,'caused'))

In [41]:
c.patch_property(f['objid'], 'pop_locations', str(pop_locations))
c.res

In [42]:
p

{'health': 0.7,
 'name': 'Obattla Ser',
 'objid': '7828874183454',
 'conformity': 0.372,
 'literacy': 0.37,
 'aggression': 0.575,
 'constitution': 0.581,
 'isIn': '8822366435138',
 'industry': 0.578,
 'wealth': 0.474,
 'factionLoyalty': 0.424,
 'isIdle': 'true',
 'username': 'BillmanLocal2',
 'objtype': 'pop',
 'id': '7828874183454'}

In [43]:
f

{'name': 'Obattla',
 'objid': '8822366435138',
 'lat': -0.149,
 'long': 0.0,
 'pop_loactions': nan,
 'username': 'BillmanLocal2',
 'objtype': 'faction',
 'id': '8822366435138',
 'pop_locations': '[[0, 0], [-1, 1], [-2, 0], [0, 2], [-1, -1], [2, -2], [1, -1]]'}

In [44]:
growth.grow_pop(p,species,params,syllables)

{'health': 0.42,
 'name': 'Obattla Sernew',
 'objid': '0311923096522',
 'conformity': 0.466,
 'literacy': 0.31,
 'aggression': 0.669,
 'constitution': 0.545,
 'isIn': '8822366435138',
 'industry': 0.347,
 'wealth': 0.269,
 'factionLoyalty': 0.444,
 'isIdle': 'true',
 'username': 'BillmanLocal2',
 'objtype': 'pop',
 'id': '0311923096522',
 'label': 'pop'}

In [45]:
pd.DataFrame.from_records(nodes)

,health,name,objid,conformity,literacy,aggression,constitution,isIn,industry,wealth,factionLoyalty,isIdle,username,objtype,id,label,text,visibleTo,time
0,0.42,Bames Todindan,3758791779668,0.468,0.426,0.390,0.318,3820091516344,0.256,0.273,0.309,true,Billmanserver,pop,3758791779668,pop,NaN,NaN,NaN
1,NaN,population growth,6873248824450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event,NaN,NaN,event,The population (Bames Todin) inhabiting Townna...,Billmanserver,28290.0
2,0.42,Bames Fordciubeitsuat,8319579269796,0.421,0.493,0.419,0.435,3820091516344,0.285,0.292,0.452,true,Billmanserver,pop,8319579269796,pop,NaN,NaN,NaN
3,NaN,population growth,2167592496448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event,NaN,NaN,event,The population (Bames Fordciubeitsu) inhabitin...,Billmanserver,28290.0
4,0.42,Zokekegua Bangos,5688339314898,0.392,0.251,0.349,0.559,4353938110450,0.291,0.254,0.621,true,Billmanserver,pop,5688339314898,pop,NaN,NaN,NaN
5,NaN,population growth,3067062517071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event,NaN,NaN,event,The population (Zokekegua Bang) inhabiting Tow...,Billmanserver,28290.0
6,0.42,Rayahhun Frantiaevel,2865443477930,0.579,0.290,0.590,0.535,5821792704095,0.299,0.201,0.642,true,william.jeffrey.harding@gmail.com,pop,2865443477930,pop,NaN,NaN,NaN
7,NaN,population growth,8842376357522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event,NaN,NaN,event,The population (Rayahhun Frantiae) inhabiting ...,william.jeffrey.harding@gmail.com,28290.0
8,0.42,Kalgagerkal Bedeldeparkdel,3566990791371,0.119,0.509,0.535,0.571,6730711275117,0.324,0.335,0.056,true,william.jeffrey.harding@gmail.com,pop,3566990791371,pop,NaN,NaN,NaN
9,NaN,population growth,5430424743023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event,NaN,NaN,event,The population (Kalgagerkal Bedeldepark) inhab...,william.jeffrey.harding@gmail.com,28290.0
10,0.42,Rayahhun Dorfe,5587578232542,0.598,0.282,0.630,0.453,5821792704095,0.273,0.275,0.800,true,william.jeffrey.harding@gmail.com,pop,5587578232542,pop,NaN,NaN,NaN
11,NaN,population growth,5303072648075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event,NaN,NaN,event,The population (Rayahhun Dorf) inhabiting Jiva...,william.jeffrey.harding@gmail.com,28290.0
12,0.42,Rayahhun Rahpiagor,2795932676702,0.626,0.518,0.413,0.457,5821792704095,0.254,0.336,0.355,true,william.jeffrey.harding@gmail.com,pop,2795932676702,pop,NaN,NaN,NaN
13,NaN,population growth,5593504106614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event,NaN,NaN,event,The population (Rayahhun Rahpia) inhabiting Ji...,william.jeffrey.harding@gmail.com,28290.0
14,0.42,Rayahhun Ponfor,8766255906649,0.516,0.383,0.572,0.461,5821792704095,0.332,0.235,0.751,true,william.jeffrey.harding@gmail.com,pop,8766255906649,pop,NaN,NaN,NaN
15,NaN,population growth,2036468596866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event,NaN,NaN,event,The population (Rayahhun Pon) inhabiting Jivar...,william.jeffrey.harding@gmail.com,28290.0
16,0.42,Obattla Pepin,0710583449457,0.312,0.312,0.509,0.505,8822366435138,0.317,0.274,0.442,true,BillmanLocal2,pop,0710583449457,pop,NaN,NaN,NaN
17,NaN,population growth,5850844095189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event,NaN,NaN,event,The population (Obattla Pe) inhabiting Dorf ha...,BillmanLocal2,28290.0
18,0.42,Obattla Vankal,1213029534061,0.519,0.301,0.602,0.642,8822366435138,0.337,0.378,0.513,true,BillmanLocal2,pop,1213029534061,pop,NaN,NaN,NaN
19,NaN,population growth,4849527958780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event,NaN,NaN,event,The population (Obattla Van) inhabiting Dorf h...,BillmanLocal2,28290.0
20,0.42,Obattla Rochifen,8718068340014,0.441,0.340,0.575,0.469,8822366435138,0.318,0.286,0.353,true,BillmanLocal2,pop,8718068340014,pop,NaN,NaN,NaN
21,NaN,population growth,6177306991577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event,NaN,NaN,event,The population (Obattla Rochi) inhabiting Dorf...,BillmanLocal2,28290.0
22,0.42,Hassia Sinfi,2757081193300,0.571,0.293,0.685,0.470,4146242421204,0.382,0.176,0.657,true,BillmanLocal2,pop,2757081193300,pop,NaN,NaN,NaN
23,NaN,population growth,9307717484966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event,NaN,NaN,event,The population (Hassia Sin) inhabiting Dorf ha...,BillmanLocal2,28290.0
24,0.42,Obattla Sere,2717178568216,0.302,0.324,0.625,0.581,8822366435138,0.347,0.369,0.333,true,BillmanLocal2,pop,2717178568216,pop,NaN,NaN,NaN
25,NaN,population growth,9664992146113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,event,NaN,NaN,event,The population (Obattla Ser) inhabiting Dorf h...,BillmanLocal2,28290.0

In [38]:
pd.DataFrame.from_records(edges)

            node1          node2    label
0   0287502876706  5225645311508  childOf
1   0287502876706  1066241530501     isIn
2   0287502876706  8132528530336     isOf
3   3894182758189  9525508045282  childOf
4   3894182758189  1066241530501     isIn
5   3894182758189  8132528530336     isOf
6   0887781405662  3539278056453  childOf
7   0887781405662  1066241530501     isIn
8   0887781405662  8132528530336     isOf
9   8477282992499  4915654495902  childOf
10  8477282992499  1066241530501     isIn
11  8477282992499  8132528530336     isOf
12  5491748216576  0697143188419  childOf
13  5491748216576  1066241530501     isIn
14  5491748216576  8132528530336     isOf
15  5098694430971  2829371972883  childOf
16  5098694430971  1066241530501     isIn
17  5098694430971  8132528530336     isOf
18  6492054257857  6086380270986  childOf
19  6492054257857            NaN     isIn
20  6492054257857  3822805660283     isOf
21  5162404967316  6996212056531  childOf
22  5162404967316            NaN     isIn
23  5162404967316  3822805660283     isOf
24  1618725734025  6665457894547  childOf
25  1618725734025            NaN     isIn
26  1618725734025  3822805660283     isOf
27  2346758500390  1335426076073  childOf
28  2346758500390            NaN     isIn
29  2346758500390  3822805660283     isOf
30  6516417940064  0323461375645  childOf
31  6516417940064  1066241530501     isIn
32  6516417940064  8132528530336     isOf

In [39]:
event_edges

["\n        g.V().has('objid','2464638614452')\n            .addE('happenedAt')\n            .to(g.V().has('objid','7946732117793'))\n        ",
 "\n        g.V().has('objid','5225645311508')\n            .addE('caused')\n            .to(g.V().has('objid','2464638614452'))\n        ",
 "\n        g.V().has('objid','4122996995167')\n            .addE('happenedAt')\n            .to(g.V().has('objid','7946732117793'))\n        ",
 "\n        g.V().has('objid','9525508045282')\n            .addE('caused')\n            .to(g.V().has('objid','4122996995167'))\n        ",
 "\n        g.V().has('objid','9315204094813')\n            .addE('happenedAt')\n            .to(g.V().has('objid','7946732117793'))\n        ",
 "\n        g.V().has('objid','3539278056453')\n            .addE('caused')\n            .to(g.V().has('objid','9315204094813'))\n        ",
 "\n        g.V().has('objid','5552970289799')\n            .addE('happenedAt')\n            .to(g.V().has('objid','7946732117793'))\n        ",
 "\n        g.V().has('objid','4915654495902')\n            .addE('caused')\n            .to(g.V().has('objid','5552970289799'))\n        ",
 "\n        g.V().has('objid','2366653475789')\n            .addE('happenedAt')\n            .to(g.V().has('objid','7946732117793'))\n        ",
 "\n        g.V().has('objid','0697143188419')\n            .addE('caused')\n            .to(g.V().has('objid','2366653475789'))\n        ",
 "\n        g.V().has('objid','2207675760088')\n            .addE('happenedAt')\n            .to(g.V().has('objid','7946732117793'))\n        ",
 "\n        g.V().has('objid','2829371972883')\n            .addE('caused')\n            .to(g.V().has('objid','2207675760088'))\n        ",
 "\n        g.V().has('objid','6371158898923')\n            .addE('happenedAt')\n            .to(g.V().has('objid','3313642201819'))\n        ",
 "\n        g.V().has('objid','6086380270986')\n            .addE('caused')\n            .to(g.V().has('objid','6371158898923'))\n        ",
 "\n        g.V().has('objid','1999146582196')\n            .addE('happenedAt')\n            .to(g.V().has('objid','3313642201819'))\n        ",
 "\n        g.V().has('objid','6996212056531')\n            .addE('caused')\n            .to(g.V().has('objid','1999146582196'))\n        ",
 "\n        g.V().has('objid','3879790711260')\n            .addE('happenedAt')\n            .to(g.V().has('objid','3313642201819'))\n        ",
 "\n        g.V().has('objid','6665457894547')\n            .addE('caused')\n            .to(g.V().has('objid','3879790711260'))\n        ",
 "\n        g.V().has('objid','0375865067398')\n            .addE('happenedAt')\n            .to(g.V().has('objid','3313642201819'))\n        ",
 "\n        g.V().has('objid','1335426076073')\n            .addE('caused')\n            .to(g.V().has('objid','0375865067398'))\n        ",
 "\n        g.V().has('objid','6103186284300')\n            .addE('happenedAt')\n            .to(g.V().has('objid','7946732117793'))\n        ",
 "\n        g.V().has('objid','0323461375645')\n            .addE('caused')\n            .to(g.V().has('objid','6103186284300'))\n        "]

In [34]:
growth.grow(c,params,syllables)