## Population growth
* Populations that die are deleted, so they don't grow.
* However all pops that can grow will, regardless of wheter they are starving or not. 
* Starving will lower thier health, which will eventually make them unable to grow. 

Sarving and Death is taken care of elsewhere, so this notebook won't have that filter.

In [1]:
import sys
import numpy as np
import pandas as pd

# mapping to the modules that make the app
sys.path.insert(0, "..")
sys.path.insert(0, "../..")
sys.path.insert(0, "../../app")


import yaml, ssl, asyncio, pickle, os, ast

ssl._create_default_https_context = ssl._create_unverified_context
asyncio.set_event_loop_policy(asyncio.WindowsSelectorEventLoopPolicy())

import nest_asyncio
# this is required for running in a Jupyter Notebook. 
nest_asyncio.apply()

#importing the libraries from the app
from app.connectors import cmdb_graph
from app.objects import time
from app.objects import population
from app.functions import language
from helpers import test_queries

c = cmdb_graph.CosmosdbClient()

executing local windows deployment

Much of the Population growth is handled in scripts inside the Azure Function

In [2]:
params = yaml.safe_load(open(os.path.join(os.getenv("abspath"),"app/configurations/popgrowthconfig.yaml")))
syllables = pickle.load(open(os.path.join(os.getenv("abspath"),"app/creators/specs/syllables.p"), "rb"))
username = 'notebook'

Time is updated by the `time` function. It is always running.

In [3]:
t = time.Time(c)
t.get_current_UTU()
params['currentTime'] = t.params['currentTime']
t

< time at: 2023-09-04T21:11:44.323589+00:00 UTU:1006 >

In [4]:
params

{'pop_health_requirement': 0.6,
 'pop_consumes': 2,
 'starve_damage': 0.05,
 'changing_values': ['conformity',
  'literacy',
  'aggression',
  'constitution',
  'wealth',
  'factionLoyalty'],
 'currentTime': 1006}

For this notebook, setting the `pop_health_requirement` to an arbitrary value just to examine.

In [5]:
params['pop_health_requirement'] = 0.4

In [6]:
# from tools import growth
global_health_manager = population.Global_Pop_Manager(params,c)

In [7]:
global_health_manager.get_pop_health()

pops_df = pd.DataFrame([d['pop'] for d in global_health_manager.data])
species_df = pd.DataFrame([d['species'] for d in global_health_manager.data])
locations_df = pd.DataFrame([d['location'] for d in global_health_manager.data])
factions_df = pd.DataFrame([d['faction'] for d in global_health_manager.data])

In [8]:
# pops_df,species_df,locations_df,factions_df = growth.get_pop_health(c,params)
print(f"lenth of pops == 0 : {len(pops_df)==0}")
pops_df

lenth of pops == 0 : False

,health,name,objid,conformity,literacy,aggression,constitution,isIn,industry,wealth,factionLoyalty,isIdle,username,objtype,id
0,0.7,Tauraite Len,0670547457716,0.460,0.386,0.588,0.482,5998552632248,0.5350,0.4605,0.512,true,BillmanLocal2,pop,0670547457716
1,0.7,Dosmarlutla Wo,9525182909324,0.570,0.483,0.597,0.454,4460306284035,0.5255,0.5042,0.392,true,BillmanLocal2,pop,9525182909324
2,0.7,Tauraite Kun,9627765060399,0.259,0.351,0.393,0.517,5998552632248,0.4550,0.4030,0.195,true,BillmanLocal2,pop,9627765060399
3,0.7,Dosmarlutla Doncruztai,9864759742409,0.505,0.586,0.513,0.472,4460306284035,0.4925,0.5392,0.387,true,BillmanLocal2,pop,9864759742409
4,0.7,Dosmarlutla Ne,8461038868646,0.445,0.512,0.491,0.401,4460306284035,0.4460,0.4790,0.404,true,BillmanLocal2,pop,8461038868646
5,0.7,Dosmarlutla Sensta,4271120015313,0.425,0.677,0.535,0.574,4460306284035,0.5545,0.6158,0.620,true,BillmanLocal2,pop,4271120015313
6,0.7,Tauraite Munfenportsi,0758035019240,0.474,0.308,0.644,0.621,5998552632248,0.6325,0.4703,0.597,true,BillmanLocal2,pop,0758035019240

In [9]:
species_df

,name,objid,consumes,effuses,username,conformity,aggression,literacy,constitution,objtype,id
0,Alman,3421173158043,organics,"organic waste, plastics",BillmanLocal2,0.5,0.5,0.5,0.5,species,3421173158043
1,Alman,3421173158043,organics,"organic waste, plastics",BillmanLocal2,0.5,0.5,0.5,0.5,species,3421173158043
2,Alman,3421173158043,organics,"organic waste, plastics",BillmanLocal2,0.5,0.5,0.5,0.5,species,3421173158043
3,Alman,3421173158043,organics,"organic waste, plastics",BillmanLocal2,0.5,0.5,0.5,0.5,species,3421173158043
4,Alman,3421173158043,organics,"organic waste, plastics",BillmanLocal2,0.5,0.5,0.5,0.5,species,3421173158043
5,Alman,3421173158043,organics,"organic waste, plastics",BillmanLocal2,0.5,0.5,0.5,0.5,species,3421173158043
6,Alman,3421173158043,organics,"organic waste, plastics",BillmanLocal2,0.5,0.5,0.5,0.5,species,3421173158043

In [10]:
locations_df

,name,class,objid,radius,mass,orbitsDistance,orbitsId,orbitsName,isSupportsLife,isPopulated,isHomeworld,username,objtype,id
0,Kotlaymau,terrestrial,9003968629604,0.713,0,0.638,3034142012350,Lan,true,true,true,BillmanLocal2,planet,9003968629604
1,Kotlaymau,terrestrial,9003968629604,0.713,0,0.638,3034142012350,Lan,true,true,true,BillmanLocal2,planet,9003968629604
2,Kotlaymau,terrestrial,9003968629604,0.713,0,0.638,3034142012350,Lan,true,true,true,BillmanLocal2,planet,9003968629604
3,Kotlaymau,terrestrial,9003968629604,0.713,0,0.638,3034142012350,Lan,true,true,true,BillmanLocal2,planet,9003968629604
4,Kotlaymau,terrestrial,9003968629604,0.713,0,0.638,3034142012350,Lan,true,true,true,BillmanLocal2,planet,9003968629604
5,Kotlaymau,terrestrial,9003968629604,0.713,0,0.638,3034142012350,Lan,true,true,true,BillmanLocal2,planet,9003968629604
6,Kotlaymau,terrestrial,9003968629604,0.713,0,0.638,3034142012350,Lan,true,true,true,BillmanLocal2,planet,9003968629604

In [11]:
factions_df

,name,objid,lat,long,username,objtype,id
0,Tauraite,5998552632248,0.121,0.0,BillmanLocal2,faction,5998552632248
1,Dosmarlutla,4460306284035,-0.121,0.0,BillmanLocal2,faction,4460306284035
2,Tauraite,5998552632248,0.121,0.0,BillmanLocal2,faction,5998552632248
3,Dosmarlutla,4460306284035,-0.121,0.0,BillmanLocal2,faction,4460306284035
4,Dosmarlutla,4460306284035,-0.121,0.0,BillmanLocal2,faction,4460306284035
5,Dosmarlutla,4460306284035,-0.121,0.0,BillmanLocal2,faction,4460306284035
6,Tauraite,5998552632248,0.121,0.0,BillmanLocal2,faction,5998552632248

In [12]:
pops_df['roll'] = pops_df['objid'].apply(lambda x: np.random.random())
pops_df['grow'] = pops_df[['wealth','health']].T.mean() >= pops_df['roll']

reproducing_pops = pops_df[pops_df['grow']].drop(['roll','grow'],axis=1)
reproducing_pops

,health,name,objid,conformity,literacy,aggression,constitution,isIn,industry,wealth,factionLoyalty,isIdle,username,objtype,id
0,0.7,Tauraite Len,0670547457716,0.460,0.386,0.588,0.482,5998552632248,0.5350,0.4605,0.512,true,BillmanLocal2,pop,0670547457716
2,0.7,Tauraite Kun,9627765060399,0.259,0.351,0.393,0.517,5998552632248,0.4550,0.4030,0.195,true,BillmanLocal2,pop,9627765060399
3,0.7,Dosmarlutla Doncruztai,9864759742409,0.505,0.586,0.513,0.472,4460306284035,0.4925,0.5392,0.387,true,BillmanLocal2,pop,9864759742409
5,0.7,Dosmarlutla Sensta,4271120015313,0.425,0.677,0.535,0.574,4460306284035,0.5545,0.6158,0.620,true,BillmanLocal2,pop,4271120015313
6,0.7,Tauraite Munfenportsi,0758035019240,0.474,0.308,0.644,0.621,5998552632248,0.6325,0.4703,0.597,true,BillmanLocal2,pop,0758035019240

In [13]:
print(f"{len(reproducing_pops)} of {len(pops_df)} will grow")

5 of 7 will grow

Going to create species objects for the populations that will reproduce

In [14]:
species = [population.species.Species(species_df.drop_duplicates().T.to_dict()[i]) for i in  species_df.drop_duplicates().T.to_dict().keys()]
species

In [15]:
for i in species:
    global_health_manager.species_dict[i.uuid]=i
global_health_manager.species_dict

{'3421173158043': <species: None; 3421173158043; Alman>}

In [16]:
factions = [population.Faction(factions_df.drop_duplicates().T.to_dict()[i]) for i in  factions_df.drop_duplicates().T.to_dict().keys()]
factions

[<faction: None; 7682194276338; Tauraite>,
 <faction: None; 6299129677608; Dosmarlutla>]

In [17]:
def get_faction(objid):
    res = [i for i in factions if i.objid == objid]
    return res[0]

get_faction(factions[0].objid)

In [18]:
global_health_manager.species_dict

{'3421173158043': <species: None; 3421173158043; Alman>}

In [19]:
children = []
events = []
event_edges = []
for i in reproducing_pops.index.to_list():
    s = global_health_manager.species_dict[species_df.loc[i].to_dict()['objid']]
    p = reproducing_pops.loc[i].to_dict()
    #adding the current pop as a defautl to the species.
    s.config['defaults'] = p
    f = factions_df.loc[i].to_dict()
    l = locations_df.loc[i].to_dict()
    child = population.Pop(s)
    child.birthplace = l
    child.inhabitsEdge = {"node1": child.objid, "node2": l['objid'], "label": "inhabits"}
    child.name = p['name']+language.make_word(1).lower()
    get_faction(f['objid']).assign_pop_to_faction(child)
    event = global_health_manager.population_growth_event(p,l,child)
    events.append(event)
    event_edges.append({"node1": event['objid'], "node2": l['objid'], "label": "happenedAt"})
    event_edges.append({"node1": p['objid'], "node2": event['objid'], "label": "caused"})
    children.append(child)

In [20]:
pd.DataFrame(events).head()

,objid,name,label,text,visibleTo,time,username
0,3206695540011,population growth,event,The population (Tauraite Len) inhabiting Kotla...,BillmanLocal2,1006,event
1,3554621126892,population growth,event,The population (Tauraite Kun) inhabiting Kotla...,BillmanLocal2,1006,event
2,0065467304314,population growth,event,The population (Dosmarlutla Doncruztai) inhabi...,BillmanLocal2,1006,event
3,5055191357219,population growth,event,The population (Dosmarlutla Sensta) inhabiting...,BillmanLocal2,1006,event
4,2351240130524,population growth,event,The population (Tauraite Munfenportsi) inhabit...,BillmanLocal2,1006,event

In [21]:
children_df = pd.DataFrame([c.get_data() for c in children])
children_df.head()

,name,objid,label,conformity,literacy,aggression,constitution,health,isIn,industry,wealth,factionLoyalty,isIdle,username
0,Tauraite Lenun,0750569389689,pop,0.482,0.526,0.472,0.664,0.7,5998552632248,0.5680,0.54700,0.495,True,BillmanLocal2
1,Tauraite Kunhal,2546136714796,pop,0.588,0.564,0.699,0.498,0.7,5998552632248,0.5985,0.58125,0.593,True,BillmanLocal2
2,Dosmarlutla Doncruztaikay,8787734600817,pop,0.353,0.488,0.700,0.381,0.7,4460306284035,0.5405,0.51425,0.094,True,BillmanLocal2
3,Dosmarlutla Senstania,1402072309222,pop,0.637,0.550,0.480,0.545,0.7,4460306284035,0.5125,0.53125,0.636,True,BillmanLocal2
4,Tauraite Munfenportsien,4303317477641,pop,0.334,0.367,0.557,0.472,0.7,5998552632248,0.5145,0.44075,0.085,True,BillmanLocal2

In [22]:
p

{'health': 0.7,
 'name': 'Tauraite Munfenportsi',
 'objid': '0758035019240',
 'conformity': 0.474,
 'literacy': 0.308,
 'aggression': 0.644,
 'constitution': 0.621,
 'isIn': '5998552632248',
 'industry': 0.6325,
 'wealth': 0.4703,
 'factionLoyalty': 0.597,
 'isIdle': 'true',
 'username': 'BillmanLocal2',
 'objtype': 'pop',
 'id': '0758035019240'}

In [26]:
child.get_data()

{'name': 'Tauraite Munfenportsien',
 'objid': '4303317477641',
 'label': 'pop',
 'conformity': 0.334,
 'literacy': 0.367,
 'aggression': 0.557,
 'constitution': 0.472,
 'health': 0.7,
 'isIn': '5998552632248',
 'industry': 0.5145,
 'wealth': 0.44075,
 'factionLoyalty': 0.085,
 'isIdle': True,
 'username': 'BillmanLocal2'}

In [27]:
factionedges = []
[f.get_pop_edges(factionedges) for f in factions]
pd.DataFrame(factionedges).head()

           node1          node2 label
0  0750569389689  5998552632248  isIn
1  2546136714796  5998552632248  isIn
2  4303317477641  5998552632248  isIn
3  8787734600817  4460306284035  isIn
4  1402072309222  4460306284035  isIn

In [28]:
childofEdges = [c.childOf for c in children]
pd.DataFrame(childofEdges).head()

           node1          node2    label
0  0750569389689  0670547457716  childOf
1  2546136714796  9627765060399  childOf
2  8787734600817  9864759742409  childOf
3  1402072309222  4271120015313  childOf
4  4303317477641  0758035019240  childOf

In [29]:
isOfEdges = [c.isOfSpecies for c in children]
pd.DataFrame(isOfEdges).head()

           node1          node2 label
0  0750569389689  3421173158043  isOf
1  2546136714796  3421173158043  isOf
2  8787734600817  3421173158043  isOf
3  1402072309222  3421173158043  isOf
4  4303317477641  3421173158043  isOf

In [30]:
inhabitsEdges = [c.inhabitsEdge for c in children]
pd.DataFrame(inhabitsEdges).head()

           node1          node2     label
0  0750569389689  9003968629604  inhabits
1  2546136714796  9003968629604  inhabits
2  8787734600817  9003968629604  inhabits
3  1402072309222  9003968629604  inhabits
4  4303317477641  9003968629604  inhabits

## Validating The Counts of Edges and Nodes Created

In [31]:
assert(len(reproducing_pops) == len(children))
print(f"Expecting {len(reproducing_pops)} children, got {len(children)}")

assert(len(reproducing_pops) == len(isOfEdges))
print(f"Expecting isOfEdges {len(isOfEdges)}")

assert(len(reproducing_pops) == len(inhabitsEdges))
print(f"Expecting inhabitsEdges {len(inhabitsEdges)}")

assert(len(reproducing_pops) == len(childofEdges))
print(f"Expecting childofEdges {len(childofEdges)}")

assert(len(reproducing_pops) == len(factionedges))
print(f"Expecting factionedges {len(factionedges)}")

assert(len(reproducing_pops) == len(events))
print(f"Expecting events {len(events)}")


assert(len(event_edges) == len(events)*2)
print(f"Expecting event_edges {len(event_edges)} (both caused and happenedAt)")

Expecting 5 children, got 5
Expecting isOfEdges 5
Expecting inhabitsEdges 5
Expecting childofEdges 5
Expecting factionedges 5
Expecting events 5
Expecting event_edges 10 (both caused and happenedAt)

## Building the uploaded data

In [32]:
data = {"nodes":[c.get_data() for c in children] + events ,"edges":isOfEdges + inhabitsEdges + childofEdges + factionedges + event_edges }

print(f"The final dataset is {len(data.get('nodes'))} nodes and {len(data.get('edges'))} edges")

c.upload_data('notebook',data)

The final dataset is 10 nodes and 30 edges

It takes a while to upload all of that data.